{% extends 'base_admin.html' %}
{% load static %}


{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-qc-logistic">
        <div class="container">
            <div class="ph-admin-page-container ">
                <div class="ph-admin-page-intro-text">
                    <span>بررسی حمل و نقل | </span>
                    در اینجا میتوانید جزییات مشخصات حمل و نقل را بررسی و سپس تایید یا رد کنید.
                </div><!-- ph-admin-page-intro-text -->
                <div class="ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-user-info">
                        <div class="row">
                            <div class="col-6">
                                <div class="ph-panel-title">
                                    <span class="title ph-border-radius">
                                        پروانه فعالیت
                                    </span>
                                </div><!-- ph-panel-title -->
                                <div class="row">
                                    <div class="col-12 ph-user-info-item">
                                        <span>نام مدیرعامل</span>
                                        <span>{{ logistic.profile.company_ceo_name }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>شماره شناسنامه مدیرعامل</span>
                                        <span>{{ logistic.profile.company_ceo_id_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>کد ملی مدیرعامل</span>
                                        <span>{{ logistic.profile.company_ceo_national_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>نوع پروانه</span>
                                        <span>{{ logistic.profile.get_company_license_type_display }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>شماره پروانه</span>
                                        <span>{{ logistic.profile.company_license_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>تاریخ شروع اعتبار</span>
                                        <span>{{ logistic.profile.get_persian_company_license_start }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>تاریخ پایان اعتبار</span>
                                        <span>{{ logistic.profile.get_persian_company_license_end }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>شماره ثبت</span>
                                        <span>{{ logistic.profile.company_register_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                </div><!-- .row -->
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                <div class="ph-panel-title">
                                    <span class="title ph-border-radius">
                                        مشخصات کاربری
                                    </span>
                                </div><!-- ph-panel-title -->
                                <div class="row">
                                    <div class="col-12 ph-user-info-item">
                                        <span>نام و نام خانوادگی</span>
                                        <div class="ph-user-info-item-full-name">
                                            <span>{{ logistic.profile.full_name }}</span>
                                        </div>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-12 ph-user-info-item">
                                        <span>ایمیل</span>
                                        <span>{{ logistic.get_email}}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>شماره شناسنامه</span>
                                        <span>{{ logistic.profile.id_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>کد ملی</span>
                                        <span>{{ logistic.profile.national_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>موبایل</span>
                                        <span>{{ logistic.mobile_number }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>تلفن ثابت</span>
                                        <span>{{ logistic.profile.phone_number }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>کدپستی</span>
                                        <span>{{ logistic.profile.postal_code }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>استان</span>
                                        <span>{{ logistic.profile.region.parent.title }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-6 ph-user-info-item">
                                        <span>شهر</span>
                                        <span>{{ logistic.profile.region.title }}</span>
                                    </div><!-- .ph-user-info-item -->
                                    <div class="col-12 ph-user-info-item">
                                        <span>آدرس</span>
                                        <span>{{ logistic.profile.address }}</span>
                                    </div><!-- .ph-user-info-item -->
                                </div><!-- .row -->
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                <div class="ph-panel-title">
                                    <span class="title ph-border-radius">
                                        مدارک پروانه فعالیت
                                    </span>
                                </div><!-- ph-panel-title -->
                                <div class="row">
                                    <div class="col-6 ph-user-image-item thumb">
                                        {% if logistic.get_image_company_license %}
                                        <a href="{% get_media_prefix %}{{ seller.get_image_company_license.file }}" class="image-popup-vertical-fit">
                                            <img src="{% get_media_prefix %}{{ seller.get_image_company_license.file }}" alt="">
                                        </a>
                                        {% else %}
                                            <a href="{% static 'images/placeholder.jpg' %}" class="image-popup-vertical-fit">
                                            <img src="{% static 'images/placeholder.jpg' %}" alt="">
                                        </a>
                                        {% endif %}
                                        <span>تصویر پروانه فعالیت</span>
                                    </div><!-- .ph-user-image-item -->
                                </div><!-- .row -->
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                <div class="ph-panel-title">
                                    <span class="title ph-border-radius">
                                        مدارک کاربر
                                    </span>
                                </div><!-- ph-panel-title -->
                                <div class="row">
                                    <div class="col-6 ph-user-image-item thumb">
                                        {% if logistic.get_image_id_card_front %}
                                        <a href="{% get_media_prefix %}{{ logistic.get_image_id_card_front.file }}" class="image-popup-vertical-fit">
                                            <img src="{% get_media_prefix %}{{ logistic.get_image_id_card_front.file }}" alt="">
                                        </a>
                                        {% else %}
                                            <a href="{% static 'images/placeholder.jpg' %}" class="image-popup-vertical-fit">
                                            <img src="{% static 'images/placeholder.jpg' %}" alt="">
                                        </a>
                                        {% endif %}
                                        <span>تصویر روی کارت ملی</span>
                                    </div><!-- .ph-user-image-item -->
                                    <div class="col-6 ph-user-image-item thumb">
                                        {% if logistic.get_image_id_card_back %}
                                        <a href="{% get_media_prefix %}{{ logistic.get_image_id_card_back.file }}" class="image-popup-vertical-fit">
                                            <img src="{% get_media_prefix %}{{ logistic.get_image_id_card_back.file }}" alt="">
                                        </a>
                                        {% else %}
                                            <a href="{% static 'images/placeholder.jpg' %}" class="image-popup-vertical-fit">
                                            <img src="{% static 'images/placeholder.jpg' %}" alt="">
                                        </a>
                                        {% endif %}
                                        <span>تصویر پشت کارت ملی</span>
                                    </div><!-- .ph-user-image-item -->
                                </div><!-- .row -->
                            </div><!-- .col-6 -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- ph-user-info -->
                </div>
                <!-- ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4 -->
                <div class="ph-qc-section">
                     <div class="ph-qc-alarm">
                        <p>با توجه به اطلاعات ثبت شده در بالا، این فروشنده را تایید یا رد کنید.</p>
                        <span>*لطفا دلیل رد کردن را در کادر زیر بنویسید، تا برای فروشنده ارسال شود.</span>
                    </div>
                    <!-- ph-qc-alarm -->
                    <div class="ph-qc-description">
                        <textarea class="form-control" id="reject-reason" rows="5" placeholder="دلایل رد شدن این فروشنده..."></textarea>
                    </div>
                    <!-- ph-qc-description -->
                    <div class="ph-qc-info-btns">
                        <a href="{% url 'users_api:user_accept' pk=logistic.pk %}" id="user-accept" redirect="{% url 'users:admin_list_logistic' %}" class="ph-btn ph-access-btn">
                            <i class="fas fa-check"></i>
                            <span>تایید حمل و نقل</span>
                        </a>
                        <a href="{% url 'users_api:user_reject' pk=logistic.pk %}" redirect="{% url 'users:admin_list_logistic' %}" id="user-reject" class="ph-btn ph-denied-btn">
                            <i class="fas fa-times"></i>
                            <span>رد حمل و نقل</span>
                        </a>
                    </div>
                    <!-- ph-qc-info-btns -->
                </div>
                <!-- ph-qc-section -->
            </div>
            <!-- ph-admin-page-container -->
        </div>
        <!-- container -->
    </main>
    <!-- ph-dashboard-main admin-panel ph-qc-logistic -->


{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/list-product.js' %}"></script>
    <script src="{% static 'magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $(document).ready(function () {

            $('.image-popup-vertical-fit').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }

            });

            $('.image-popup-fit-width').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                image: {
                    verticalFit: false
                }
            });

            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });

        });

    </script>
    <script src="{% static 'js/qc_user.js' %}"></script>
{% endblock %}