{% extends 'base_frontend.html' %}
{% load static %}

{% block title %}
    قوانین ثبت نام فروشندگان
{% endblock %}

{% block frontend_content %}
    <div class="ph-page-wrapper ph-toc-page">
        <main class="ph-main-content">
            <div class="ph-content-entry">
                <div class="container">
                    <div class="ph-inside-pages-content">
                        <h1>قوانین ثبت نام فروشندگان</h1>
                        {% autoescape off %}
                            {{ static_content.terms_seller }}
                        {% endautoescape %}
                    </div><!-- .ph-inside-pages-content -->
                </div><!-- .container -->
            </div><!-- .ph-content-entry -->
        </main><!-- .ph-main-content -->
    </div><!-- .ph-page-wrapper -->
{% endblock %}

{% block footer_static %}

    <script src="{% static 'js/frontend.js' %}"></script>

{% endblock %}