{% extends 'base_admin.html' %}
{% load static %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-logistic-panel ph-list-auction">
        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>مناقصه های من | </span>
                در این قسمت می توانید تمامی درخواست های خود را مشاهده کنید.
            </div>
            <div class="ph-auction-container">
                <div class="ph-my-auction-tab">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="current-tab" data-toggle="tab" href="#current_auction"
                               role="tab"
                               aria-controls="current_auction" aria-selected="true">در حال انجام</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="won-tab" data-toggle="tab" href="#won_auction" role="tab"
                               aria-controls="won_auction" aria-selected="false">برنده شده</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="lost-tab" data-toggle="tab" href="#lost_auction" role="tab"
                               aria-controls="lost_auction" aria-selected="false">از دست رفته</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="expired-tab" data-toggle="tab" href="#expired_auction" role="tab"
                               aria-controls="expired_auction" aria-selected="false">تمام شده</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="current_auction" role="tabpanel"
                             aria-labelledby="current-tab">
                            <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                                <div class="ph-ip-wl-header top">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                                <div class="ph-ip-wl-table">
                                    <table class="table ph-table table-bordered text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>تاریخ</th>
                                            <th>شماره سفارش</th>
                                            <th>نوع بار</th>
                                            <th>بسته بندی</th>
                                            <th>میزان بار</th>
                                            <th>مبدا</th>
                                            <th>مقصد</th>
                                            <th>وضعیت</th>
                                            <th>آخرین قیمت</th>
                                            <th>مشاهده جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>21/12/1399</td>
                                            <td>15678</td>
                                            <td>مواد معدنی</td>
                                            <td>کیسه 25 کیلویی</td>
                                            <td>30 تن</td>
                                            <td>تهران</td>
                                            <td>شیراز</td>
                                            <td>دارای قیمت</td>
                                            <td>140.000</td>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#ph_auction">
                                                    <span class="ph-auction-bid-btn"><i class="fas fa-truck"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ph-ip-wl-table -->
                                <div class="ph-ip-wl-header bottom">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="won_auction" role="tabpanel" aria-labelledby="won-tab">
                            <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                                <div class="ph-ip-wl-header top">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                                <div class="ph-ip-wl-table">
                                    <table class="table ph-table table-bordered text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>تاریخ</th>
                                            <th>شماره سفارش</th>
                                            <th>نوع بار</th>
                                            <th>بسته بندی</th>
                                            <th>میزان بار</th>
                                            <th>مبدا</th>
                                            <th>مقصد</th>
                                            <th>وضعیت</th>
                                            <th>آخرین قیمت</th>
                                            <th>مشاهده جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>21/12/1399</td>
                                            <td>15678</td>
                                            <td>مواد معدنی</td>
                                            <td>کیسه 25 کیلویی</td>
                                            <td>30 تن</td>
                                            <td>تهران</td>
                                            <td>شیراز</td>
                                            <td>دارای قیمت</td>
                                            <td>140.000</td>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#ph_won_auction">
                                                    <span class="ph-auction-bid-btn"><i class="fas fa-truck"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ph-ip-wl-table -->
                                <div class="ph-ip-wl-header bottom">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="lost_auction" role="tabpanel" aria-labelledby="lost-tab">
                            <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                                <div class="ph-ip-wl-header top">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                                <div class="ph-ip-wl-table">
                                    <table class="table ph-table table-bordered text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>تاریخ</th>
                                            <th>شماره سفارش</th>
                                            <th>نوع بار</th>
                                            <th>بسته بندی</th>
                                            <th>میزان بار</th>
                                            <th>مبدا</th>
                                            <th>مقصد</th>
                                            <th>وضعیت</th>
                                            <th>آخرین قیمت</th>
                                            <th>مشاهده جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>21/12/1399</td>
                                            <td>15678</td>
                                            <td>مواد معدنی</td>
                                            <td>کیسه 25 کیلویی</td>
                                            <td>30 تن</td>
                                            <td>تهران</td>
                                            <td>شیراز</td>
                                            <td>دارای قیمت</td>
                                            <td>140.000</td>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#ph_won_auction">
                                                    <span class="ph-auction-bid-btn"><i class="fas fa-truck"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ph-ip-wl-table -->
                                <div class="ph-ip-wl-header bottom">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="expired_auction" role="tabpanel" aria-labelledby="expired-tab">
                            <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                                <div class="ph-ip-wl-header top">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                                <div class="ph-ip-wl-table">
                                    <table class="table ph-table table-bordered text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>تاریخ</th>
                                            <th>شماره سفارش</th>
                                            <th>نوع بار</th>
                                            <th>بسته بندی</th>
                                            <th>میزان بار</th>
                                            <th>مبدا</th>
                                            <th>مقصد</th>
                                            <th>وضعیت</th>
                                            <th>آخرین قیمت</th>
                                            <th>مشاهده جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>21/12/1399</td>
                                            <td>15678</td>
                                            <td>مواد معدنی</td>
                                            <td>کیسه 25 کیلویی</td>
                                            <td>30 تن</td>
                                            <td>تهران</td>
                                            <td>شیراز</td>
                                            <td>دارای قیمت</td>
                                            <td>140.000</td>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#ph_won_auction">
                                                    <span class="ph-auction-bid-btn"><i class="fas fa-truck"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ph-ip-wl-table -->
                                <div class="ph-ip-wl-header bottom">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- .ph-auction-container -->
        </div><!-- .container -->
    </main><!-- .ph-dashboard-main -->

{% endblock %}
