{% extends 'base_admin.html' %}
{% load static %}



{% block admin_content %}
<main class="ph-dashboard-main ph-admin-panel ph-admin-dashboard">
    <div class="container">
        <div class="ph-dm-title">
            <div class="title">داشبورد ادمین</div>
        </div>
        <div class="ph-dm-panel">
            <div class="row">
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-info">
                        <div class="title">مشخصات ادمین</div>
                        <ul>
                            <li>کد ادمین: <span>{{ user.id }}</span></li>
                            <li>نام ادمین: <span>{{ user.profile.get_full_name }}</span></li>
                        </ul>
                        <div class="ph-button">
                            <a href="#" class="ph-btn">پروفایل<i class="fas fa-arrow-left"></i></a>
                        </div><!-- ph-button -->
                    </div><!-- ph-dmp-section-1 ph-user-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-product-info">
                        <div class="title">تعداد فروشندگان</div>
                        <ul>
                            <li>آماده بررسی: <span>{{ users_queryset.sellers_pending.count }}</span></li>
                            <li>تایید شده: <span>{{ users_queryset.sellers_accepted.count }}</span></li>
                            <li>رد شده: <span>{{ users_queryset.sellers_rejected.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-product-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-product-info">
                        <div class="title">تعداد حمل و نقل</div>
                        <ul>
                            <li>آماده بررسی: <span>{{ users_queryset.logistics_pending.count }}</span></li>
                            <li>تایید شده: <span>{{ users_queryset.logistics_accepted.count }}</span></li>
                            <li>رد شده: <span>{{ users_queryset.logistics_rejected.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-product-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">تعداد محصولات</div>
                        <ul>
                            <li>آماده بررسی: <span>{{ products_queryset.pending.count }}</span></li>
                            <li>تایید شده: <span>{{ products_queryset.accepted.count }}</span></li>
                            <li>رد شده: <span>{{ products_queryset.rejected.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">مشاهده تعداد صورتحساب‌ها</div>
                        <ul>
                            <li>فروش محصول: <span>۳۲</span></li>
                            <li>حمل ونقل: <span>۱۲</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">مشاهده تعداد قراردادها</div>
                        <ul>
                            <li>تایید شده: <span>۳۲</span></li>
                            <li>آماده بررسی: <span>۱۲</span></li>
                            <li>رد شده: <span>۷</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">سفارشات</div>
                        <ul>
                            <li>در انتظار تایید سایت: <span>{{ orders_queryset.submitted.count }}</span></li>
                            <li>در انتظار تایید فروشنده: <span>{{ orders_queryset.pending_seller.count }}</span></li>
                            <li>در انتظار تایید حمل و نقل: <span>{{ orders_queryset.pending_logistic.count }}</span></li>
                            <li>در انتظار تایید هزینه حمل و نقل: <span>{{ orders_queryset.pending_buyer_logistic_price.count }}</span></li>
                            <li>در انتظار تایید قرارداد: <span>{{ orders_queryset.pending_contract.count }}</span></li>
                            <li>در انتظار تایید مدارک مالی: <span>{{ orders_queryset.pending_finance_documents.count }}</span></li>
                            <li>تایید نهایی شده: <span>{{ orders_queryset.accepted.count }}</span></li>
                            <li>انجام شده: <span>{{ orders_queryset.finished.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <a href="#" class="ph-dmp-section-add ph-dash-add-product" data-toggle="modal"
               data-target="#ph_dashboard_Add_Product_Modal">
                        <span>افزودن محصول جدید </span>
                        <i class="fas fa-plus"></i>
                    </a><!-- ph-dmp-section-add ph-dash-add-product -->

                    <a href="#" class="ph-dmp-section-add ph-dash-list-product">
                        <span>لیست محصولات </span>
                        <i class="fas fa-th-list"></i>
                    </a><!-- ph-dmp-section-add ph-dash-list-product -->
                    <a href="#" class="ph-dmp-section-add ph-dash-view-orders">
                        <span>مشاهده سفارشات </span>
                        <i class="fas fa-list-ul"></i>
                    </a><!-- ph-dmp-section-add ph-dash-view-orders -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-mine-address">
                        <div class="title">اخرین معادن/کارخانه‌ها ثبت شده</div>
                        <ul>
                            {% for mine in mines_queryset|slice:4 %}
                            <li>{{ mine.title }}</li>
                            {% endfor %}
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
            </div><!-- row -->
        </div><!-- ph-dm-panel -->
    </div><!-- container -->
            <div class="modal fade bd-example-modal-lg ph-add-product-modal ph-modal direction-rtl" id="ph_dashboard_Add_Product_Modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">فروشنده مورد نظر را انتخاب کنید:</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="ph_myscroll" class="modal-body scroll-bar">

                            <div class="ph-managements-container">
                                <div class="ph-managements-filter-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                                    <div class="form-row">
                                        <div class="col mb-3">
                                            <div class="ph-managements-filter-item filter-id">
                                                <label for="seller-id">کد</label>
                                                <input name="id" id="seller-id" type="text" class="form-control" placeholder="کد فروشنده">
                                            </div><!-- ph-managements-filter-item -->
                                        </div><!-- col -->
                                        <div class="col mb-3">
                                            <div class="ph-managements-filter-item filter-name">
                                                <label for="seller-name">نام</label>
                                                <input name="name" id="seller-name" type="text" class="form-control" placeholder="نام" value="">
                                            </div><!-- ph-managements-filter-item -->
                                        </div><!-- col -->
                                        <div class="col mb-3">
                                            <div class="ph-managements-filter-item filter-name">
                                                <label for="seller-mobile-number">شماره موبایل</label>
                                                <input name="mobile_number" id="seller-mobile-number" type="text" class="form-control" placeholder="شماره موبایل" value="">
                                            </div><!-- ph-managements-filter-item -->
                                        </div><!-- col -->
                                    </div><!-- form-row -->
                                    <div id="seller-error" style="display: none">
                                        <span>پر کردن حداقل یکی از موارد الزامی است</span>
                                    </div>
                                    <button id="seller-submit" type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو</button>
                                </div><!-- .ph-managements-filter-wrapper ph-admin-page-list-container -->
                                <div id="seller-table" class="ph-managements-table-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4" style="display: none">
                                    <div class="ph-managements-table table-responsive">
                                        <table class="table ph-table table-bordered text-center">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>کد</th>
                                                    <th>نام</th>
                                                    <th>ایمیل</th>
                                                    <th>شماره موبایل</th>
                                                    <th>شهر</th>
                                                    <th>وضعیت</th>
                                                    <th>عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody id="seller-table-body">
                                            </tbody>
                                        </table>
                                    </div><!-- .ph-managements-table -->
                                </div><!-- .ph-managements-table-wrapper ph-admin-page-list-container -->
                            </div><!-- .ph-managements-container -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ph_Add_Product_Modal ph-modal -->
</main><!-- ph-dashboard-main seller-panel ph-seller-dashboard -->
{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/admin_dashboard.js' %}"></script>
{% endblock %}
