{% extends 'base_admin.html' %}
{% load humanize %}
{% load utils %}
{% load static %}



{% block admin_content %}
    <main class="ph-dashboard-main ph-buyer-panel ph-list-receipt">

        <div class="container">

            <form action="" id="ph_invoice_form" role="form">
                <div id="invoice_page" class="ph-invoice-page form-group">
                    <div class="ph-invoice-panel">
                        <div class="ph-ip-wrapper">
                            <div class="ph-admin-page-intro-text">
                                <span>سررسید پرداخت | </span>
                                سررسید پرداخت را در اینجا مشاهده کنید.
                            </div>
                            <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                                <div class="ph-ip-wl-header top">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                                <div class="ph-ip-wl-table">
                                    <table class="ph-table table table-bordered text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">ID محصول</th>
                                            <th scope="col">نام محصول</th>
                                            <th scope="col">قیمت</th>
                                            <th scope="col">شماره سفارش</th>
                                            <th scope="col">شماره قرارداد</th>
                                            <th scope="col">تازیخ ثبت</th>
                                            <th scope="col">تاریخ پرداخت</th>
                                            <th scope="col">جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">۱</th>
                                            <td>ID-23</td>
                                            <td>سنگ آهن هماتیت - عیار 12 تا 14 %</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                            <td>6546512</td>
                                            <td>3215</td>
                                            <td>۱۳۹۹/۱۰/۰۱</td>
                                            <td>۱۳۹۹/۱۱/۰۱</td>
                                            <td>
                                                <a class="ph-admin-table-action-btn-edit" href="#" data-toggle="modal" data-target="#ph_receipt_info_modal">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">۱</th>
                                            <td>ID-23</td>
                                            <td>سنگ آهن هماتیت - عیار 12 تا 14 %</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                            <td>6546512</td>
                                            <td>3215</td>
                                            <td>۱۳۹۹/۱۰/۰۱</td>
                                            <td>۱۳۹۹/۱۱/۰۱</td>
                                            <td>
                                                <a class="ph-admin-table-action-btn-edit" href="#" data-toggle="modal" data-target="#ph_receipt_info_modal">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">۱</th>
                                            <td>ID-23</td>
                                            <td>سنگ آهن هماتیت - عیار 12 تا 14 %</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                            <td>6546512</td>
                                            <td>3215</td>
                                            <td>۱۳۹۹/۱۰/۰۱</td>
                                            <td>۱۳۹۹/۱۱/۰۱</td>
                                            <td>
                                                <a class="ph-admin-table-action-btn-edit" href="#" data-toggle="modal" data-target="#ph_receipt_info_modal">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ph-ip-wl-table -->
                                <div class="ph-ip-wl-header bottom">
                                    <div class="ph-ip-wl-right">
                                        <div class="ph-ip-wlr-pagination ph-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-circle pg-blue">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- ph-ip-wlr-pagination -->
                                        <div class="ph-ip-wlr-views">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>۱۰</option>
                                                <option value="1">۲۰</option>
                                                <option value="2">۵۰</option>
                                                <option value="3">۱۰۰</option>
                                            </select>
                                            <span>تعداد نمایش</span>
                                        </div>
                                    </div>
                                    <!-- ph-ip-wl-right -->
                                    <div class="ph-ip-wl-res">
                                        نتیجه:
                                        <span>۱۱۲ مورد</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-header -->
                            </div>
                            <!-- ph-ip-w-list -->
                        </div>
                        <!-- ph-ip-wrapper -->
                    </div>
                    <!-- ph-invoice-panel -->
                </div>
                <!-- ph-invoice-page -->
            </form>
            <!-- ph_invoice_form -->

        </div>
        <!-- container -->

    <!-- description ph_receipt_info_modal ------------------------------------------->
    <div class="modal fade ph-modal ph-auction-modal" id="ph_receipt_info_modal" tabindex="-1" role="dialog"
         aria-labelledby="auction_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">جزییات سررسید پرداخت</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-6">
                            <label for="">جزییات اول</label>
                            <input type="text" class="form-control" readonly placeholder="جزییات اول">
                        </div>
                        <div class="col-6">
                            <label for="">جزییات دوم</label>
                            <input type="text" class="form-control" readonly placeholder="جزییات دوم">
                        </div>
                        <div class="col-6">
                            <label for="">جزییات سوم</label>
                            <input type="text" class="form-control" readonly placeholder="جزییات سوم">
                        </div>
                        <div class="col-6">
                            <label for="">جزییات چهارم</label>
                            <input type="text" class="form-control" readonly placeholder="جزییات چهارم">
                        </div>
                        <div class="col-6">
                            <label for="">جزییات پنجم</label>
                            <input type="text" class="form-control" readonly placeholder="جزییات پنجم">
                        </div>
                        <div class="col-6">
                            <label for="">جزییات ششم</label>
                            <input type="text" class="form-control" readonly placeholder="جزییات ششم">
                        </div>
                    </div><!-- .form-row -->

                    <table class="ph-table table table-bordered text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">ستون اول</th>
                            <th scope="col">ستون دوم</th>
                            <th scope="col">ستون سوم</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">۱</th>
                            <td>۱۲۳۴</td>
                            <td>بفلدفدذ</td>
                            <td>قلدایغادب</td>
                        </tr>
                        <tr>
                            <th scope="row">۲</th>
                            <td>۱۲۳۴</td>
                            <td>بفلدفدذ</td>
                            <td>قلدایغادب</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- modal#ph_receipt_info_modal -->

    </main>
    <!-- ph-dashboard-main ph-buyer-panel ph-list-invoice -->
{% endblock %}
