{% extends 'base_admin.html' %}
{% load humanize %}
{% load utils %}
{% load static %}



{% block admin_content %}
    <main class="ph-dashboard-main ph-buyer-panel ph-view-invoice">

        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>جزییات صورتحساب‌ | </span>
                جزییات صورتحساب‌ را در اینجا مشاهده کنید.
            </div>

                    <div class="ph-admin-page-alert ph-box-shadow my-4">
                        <div class="alert alert-warning" role="alert">
                            <i class="fas fa-info-circle"></i>
                            "در انتظار پیام کارفرما"
                        </div>
                    </div>

        </div>
        <!-- container -->

    </main>
    <!-- ph-dashboard-main ph-buyer-panel ph-view-invoice -->
{% endblock %}
