{% extends 'base_admin.html' %}
{% load humanize %}
{% load utils %}
{% load static %}



{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-logistic-orders">

        <div class="container">

            <form action="" id="ph_orders_form" role="form">

                <div id="orders_page" class="ph-orders-page form-group">
                    <div class="ph-orders-panel">
                        <div class="ph-admin-page-intro-text">
                            <span>مدیریت سفارشات حمل و نقل | </span>
                            شما میتوانید در این بخش سفارشات حمل و نقل را مدیریت کنید.
                        </div>
                        <div class="ph-admin-page-search-wrapper bg-light ph-border-radius ph-box-shadow my-4">
                            <div class="ph-admin-page-block-header ph-panel-title">
                                <span class="title">جستجو و فیلتر</span>
                            </div>
                            <div class="ph-admin-page-block-content">
                                <div class="ph-admin-page-search-form">
                                    <form method="get">
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="">تاریخ سفارش</label>
                                                <input type="text" class="form-control" name="date" id="order-date"
                                                       readonly autocomplete="off"
                                                       aria-describedby="Search_Text"
                                                       placeholder="تاریخ مورد نظرتان را وارد کنید">
                                            </div>
                                            <div class="col">
                                                <label for="">کد سفارش حمل و نقل</label>
                                                <input type="text" class="form-control" name="id" id=""
                                                       aria-describedby="Search_Text"
                                                       placeholder="کد سفارش را وارد کنید">
                                            </div>
                                            <div class="col">
                                                <label for="">کد سفارش خریدار</label>
                                                <input type="text" class="form-control" name="order_id" id=""
                                                       aria-describedby="Search_Text"
                                                       placeholder="کد سفارش را وارد کنید">
                                            </div>
                                            <div class="col">
                                                <label for="">کاربر حمل و نقل</label>
                                                <input type="text" class="form-control" name="user" id=""
                                                       aria-describedby="Search_Text"
                                                       placeholder="کد کالا را وارد کنید">
                                            </div>
                                            <div class="col">
                                                <label for="ph-state"> وضعیت تایید سفارش:</label>
                                                <select name="state" class="form-control custom-select" id="ph-state">
                                                    <option value="">انتخاب کنید</option>
                                                    {% for state, state_display in logistic_order_model.STATE_CHOICES %}
                                                        <option value="{{ state }}">{{ state_display }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                            <div class="ph-ip-wl-header top">
                                <div class="ph-ip-wl-right">
                                    <div class="ph-ip-wlr-pagination ph-pagination">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pagination-circle pg-blue">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="{% query_transform p=page_obj.previous %}"
                                                           aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% for p in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == p %}
                                                        <li class="page-item active"><a class="page-link"
                                                                                        href="{% query_transform p=p %}">{{ p }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="{% query_transform p=p %}">{{ p }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="{% query_transform p=page_obj.next %}"
                                                           aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- ph-ip-wlr-pagination -->
                                    <div class="ph-ip-wlr-views">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>۱۰</option>
                                            <option value="1">۲۰</option>
                                            <option value="2">۵۰</option>
                                            <option value="3">۱۰۰</option>
                                        </select>
                                        <span>تعداد نمایش</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-right -->
                                <div class="ph-ip-wl-res">
                                    نتیجه:
                                    <span>{{ page_obj.paginator.count }} مورد</span>
                                </div>
                            </div>
                            <!-- ph-ip-wl-header -->
                            <div class="ph-ip-wl-table">
                                <table class="ph-table table table-bordered text-center">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>کد سفارش حمل و نقل</th>
                                        <th>کد سفارش خریدار</th>
                                        <th>کاربر حمل و نقل</th>
                                        <th>نام محصول</th>
                                        <th>مقدار</th>
                                        <th>تعداد ارسال</th>
                                        <th>مبلغ هر ارسال</th>
                                        <th>مبلغ کل</th>
                                        <th>وضعیت</th>
                                        <th>بررسی</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for logistic_order in logistic_orders %}
                                        <tr>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.pk }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.order.pk }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.user.profile.get_full_name }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.order.product.title }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.weight }} {{ logistic_order.order.product.get_price.get_weight_unit_display }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.monthly_load_count }} ماه
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.get_monthly_price|intcomma }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.price|intcomma }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ph-admin-table-cell">
                                                    {{ logistic_order.get_state_display }}
                                                </div>
                                            </td>
                                            <td>
                                                <a href="{% url 'users:admin_logistic_order_qc' pk=logistic_order.pk %}"
                                                   id="logistic-order-qc">
                                                    <span class="ph-auction-bid-btn"><i class="fas fa-truck"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- ph-ip-wl-table -->
                            <div class="ph-ip-wl-header bottom">
                                <div class="ph-ip-wl-right">
                                    <div class="ph-ip-wlr-pagination ph-pagination">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pagination-circle pg-blue">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="{% query_transform p=page_obj.previous %}"
                                                           aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% for p in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == p %}
                                                        <li class="page-item active"><a class="page-link"
                                                                                        href="{% query_transform p=p %}">{{ p }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="{% query_transform p=p %}">{{ p }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="{% query_transform p=page_obj.next %}"
                                                           aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- ph-ip-wlr-pagination -->
                                    <div class="ph-ip-wlr-views">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>۱۰</option>
                                            <option value="1">۲۰</option>
                                            <option value="2">۵۰</option>
                                            <option value="3">۱۰۰</option>
                                        </select>
                                        <span>تعداد نمایش</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-right -->
                                <div class="ph-ip-wl-res">
                                    نتیجه:
                                    <span>{{ page_obj.paginator.count }} مورد</span>
                                </div>
                            </div>
                            <!-- ph-ip-wl-header -->
                        </div>
                        <!-- ph-ip-w-list -->

                    </div>
                    <!-- ph-orders-page -->

            </form>
            <!-- ph_orders_form -->

        </div>
        <!-- container -->

    </main>
    <!-- ph-dashboard-main ph-admin-panel ph-logistic-orders -->
{% endblock %}
