{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-list-order">
        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>سفارشات | </span>
                در این قسمت میتوانید سفارشات (فروشنده-خریدار-حمل و نقل) را مشاهده کنید.
            </div>
            <div class="ph-order-container">
                <div class="ph-admin-page-search-wrapper bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-admin-page-block-header ph-panel-title">
                        <span class="title">جستجو و فیلتر</span>
                    </div>
                    <div class="ph-admin-page-block-content">
                        <div class="ph-admin-page-search-form">
                            <form method="get">
                                <div class="form-row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="">شماره سفارش</label>
                                        <input type="text" class="form-control" name="id" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="شماره سفارش را وارد کنید">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="">نام فروشنده</label>
                                        <input type="text" class="form-control" name="seller" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="نام فروشنده را وارد کنید">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="">نام خریدار</label>
                                        <input type="text" class="form-control" name="buyer" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="نام خریدار را وارد کنید">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="">کد محصول</label>
                                        <input type="text" class="form-control" name="product_id" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="نام محصول را وارد کنید">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="">تاریخ</label>
                                        <input type="text" class="form-control" name="date" id="input-date" readonly
                                               aria-describedby="Search_Text" style="background: #ffffff !important"
                                               placeholder="تاریخ را وارد کنید">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="">وضعیت سفارش</label>
                                        <select type="text" class="form-control" name="state" id=""
                                                aria-describedby="Search_Text">
                                            <option value="">انتخاب کنید</option>
                                            {% for state, state_display in order_model.STATE_CHOICES %}
                                                <option value="{{ state }}">{{ state_display }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                    <div class="ph-ip-wl-header top">
                        <div class="ph-ip-wl-right">
                            <div class="ph-ip-wlr-pagination ph-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-circle pg-blue">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{% query_transform p=page_obj.previous %}"
                                                   aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for p in page_obj.paginator.page_range %}
                                            {% if page_obj.number == p %}
                                                <li class="page-item active"><a class="page-link"
                                                                                href="{% query_transform p=p %}">{{ p }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="{% query_transform p=p %}">{{ p }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{% query_transform p=page_obj.next %}"
                                                   aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            <!-- ph-ip-wlr-pagination -->
                            <div class="ph-ip-wlr-views">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>۱۰</option>
                                    <option value="1">۲۰</option>
                                    <option value="2">۵۰</option>
                                    <option value="3">۱۰۰</option>
                                </select>
                                <span>تعداد نمایش</span>
                            </div>
                        </div>
                        <!-- ph-ip-wl-right -->
                        <div class="ph-ip-wl-res">
                            نتیجه:
                            <span>{{ page_obj.paginator.count }} مورد</span>
                        </div>
                    </div>
                    <!-- ph-ip-wl-header -->
                    <div class="ph-ip-wl-table">
                        <table class="table ph-table table-bordered text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th>شماره سفارش</th>
                                <th>نام فروشنده</th>
                                <th>نام خریدار</th>
                                <th>شناسه محصول</th>
                                <th>نام محصول</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.product.user.profile.get_full_name }}</td>
                                    <td>{{ order.buyer.profile.get_full_name }}</td>
                                    <td>{{ order.product.id }}</td>
                                    <td>{{ order.product.title }}</td>
                                    <td>{{ order.get_persian_timestamp }}</td>
                                    <td>{{ order.get_state_display }}</td>
                                    <td>
                                        <a href="{% url 'users:admin_order_qc' pk=order.pk %}" class="ph-btn">
                                            <i class="fas fa-sync"></i>
                                            <span>بررسی</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- ph-ip-wl-table -->
                    <div class="ph-ip-wl-header bottom">
                        <div class="ph-ip-wl-right">
                            <div class="ph-ip-wlr-pagination ph-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-circle pg-blue">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{% query_transform p=page_obj.previous %}"
                                                   aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for p in page_obj.paginator.page_range %}
                                            {% if page_obj.number == p %}
                                                <li class="page-item active"><a class="page-link"
                                                                                href="{% query_transform p=p %}">{{ p }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="{% query_transform p=p %}">{{ p }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{% query_transform p=page_obj.next %}"
                                                   aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            <!-- ph-ip-wlr-pagination -->
                            <div class="ph-ip-wlr-views">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>۱۰</option>
                                    <option value="1">۲۰</option>
                                    <option value="2">۵۰</option>
                                    <option value="3">۱۰۰</option>
                                </select>
                                <span>تعداد نمایش</span>
                            </div>
                        </div>
                        <!-- ph-ip-wl-right -->
                        <div class="ph-ip-wl-res">
                            نتیجه:
                            <span>{{ page_obj.paginator.count }} مورد</span>
                        </div>
                    </div>
                    <!-- ph-ip-wl-header -->
                </div>
                <!-- ph-ip-w-list -->
            </div><!-- .ph-order-container -->
        </div><!-- .container -->
    </main><!-- .ph-dashboard-main -->

{% endblock %}

{% block footer_static %}
    <script>
        function pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
        }

        $('#input-date').pDatepicker({
            initialValue: false,
            viewMode: 'year',
            formatter: function (unixDate) {
                const date = new persianDate(unixDate);
                const year = pad(date.State.persian.year);
                const month = pad(date.State.persian.month + 1);
                const day = pad(date.State.persian.day);
                return `${year}-${month}-${day}`;
            },
        })

    </script>
{% endblock %}