{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-order-qc">
        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>جزییات سفارش</span>
            </div>
            <div class="ph-order-qc-wrapper bg-light ph-box-shadow ph-border-radius p-4">
                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات سفارش</span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>کد کالا:</label>
                            <span>{{ order.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>عنوان:</label>
                            <span>{{ order.product.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>قیمت واحد (تومان):</label>
                            <span>{{ order.price }}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>سایز بندی:</label>
                            <span>{{ order.product.get_size }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>عیار:</label>
                            <span>{{ order.product.get_caret }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>نوع تحویل:</label>
                            <span>{{ order.product.get_delivery_type }}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>شماره سفارش:</label>
                            <span>{{ order.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>میزان سفارش:</label>
                            <span>{{ order.weight }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>تعداد ارسال:</label>
                            <span>{{ order.monthly_load }}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>تناژ کامل:</label>
                            <span>{{ order.weight }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>تناژ هر ارسال:</label>
                            <span>{{ order.get_monthly_weight }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>نوع پرداخت:</label>
                            <span>{{ payment_map|get_item:order.payment_type }}</span>
                        </div>
                    </div>
                </div>
                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات خریدار</span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="ph-order-qc-item">
                            <label>نام خریدار:</label>
                            <span>{{ order.buyer.profile.get_full_name }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شناسه خریدار:</label>
                            <span>{{ order.buyer.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شماره موبایل خریدار:</label>
                            <span>{{ order.buyer.mobile_number }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="ph-order-qc-item">
                            <label>استان:</label>
                            <span>{{ order.buyer.profile.get_province.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شهر:</label>
                            <span>{{ order.buyer.profile.get_city.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>آدرس:</label>
                            <span>{{ order.buyer.profile.address }}</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#" class="ph-btn">صورتحساب</a>
                    </div>
                </div>
                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات حمل و نقل</span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="ph-order-qc-item">
                            <label>نام حمل و نقل:</label>
                            <span>{{ order.logistic_order.user.profile.full_name}}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شناسه حمل و نقل:</label>
                            <span>{{ order.logistic_order.user.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شماره موبایل حمل و نقل:</label>
                            <span>{{ order.logistic_order.user.mobile_number }}</span>
                        </div>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-2">
                        <a href="#" class="ph-btn">صورتحساب</a>
                    </div>
                </div>
                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات فروشنده</span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="ph-order-qc-item">
                            <label>نام فروشنده:</label>
                            <span>{{ order.product.user.profile.get_full_name }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شناسه فروشنده:</label>
                            <span>{{ order.product.user.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شماره موبایل فروشنده:</label>
                            <span>{{ order.product.user.mobile_number }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="ph-order-qc-item">
                            <label>استان:</label>
                            <span>{{ order.product.user.get_province.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شهر:</label>
                            <span>{{ order.product.user.get_city.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>آدرس:</label>
                            <span>{{ order.product.user.profile.address }}</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#" class="ph-btn">صورتحساب</a>
                    </div>
                </div>
                <div class="ph-order-qc-btn-container">
                    <a href="#" data-toggle="modal" data-target="#admin_qc_modal" class="ph-btn">تایید سفارش</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}