{% extends 'base_frontend.html' %}
{% load static %}
{% load humanize %}

{% block title %}
لیست محصولات
{% endblock %}

{% block frontend_content %}
    <div class="ph-page-wrapper ph-list-product">
        <main class="ph-main-content">
            <div class="ph-content-entry">
                <div class="ph-list-product-container">
                    <div class="ph-list-product-sidebar ph-border-radius-small">
                        <div class="ph-list-product-sidebar-widget">
                            <div class="ph-list-product-sidebar-search-box">
                                <input type="text" class="ph-border-radius-small" placeholder="جستجو کنید ...">
                            </div><!-- .ph-list-product-sidebar-search-box -->
                        </div><!-- .ph-list-product-sidebar-widget -->
                        <div class="ph-list-product-sidebar-widget">
                            <div class="ph-list-product-sidebar-filter-box">
                                <h5>نوع ماده</h5>
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="raw_material">
                                    <label class="custom-control-label" for="raw_material">
                                        ماده خام
                                    </label>
                                </div><!-- .form-check -->
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="processed_material">
                                    <label class="custom-control-label" for="processed_material">
                                        ماده فراوری شده
                                    </label>
                                </div><!-- .form-check -->
                            </div><!-- .ph-list-product-sidebar-filter-box -->
                        </div><!-- .ph-list-product-sidebar-widget -->
                        <div class="ph-list-product-sidebar-widget">
                            <div class="ph-list-product-sidebar-filter-box">
                                <h5>نوع بسته بندی</h5>
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="package-type-1">
                                    <label class="custom-control-label" for="package-type-1">
                                        کیسه 25 کیلویی
                                    </label>
                                </div><!-- .form-check -->
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="package-type-2">
                                    <label class="custom-control-label" for="package-type-2">
                                        کیسه 50 کیلویی
                                    </label>
                                </div><!-- .form-check -->
                            </div><!-- .ph-list-product-sidebar-filter-box -->
                        </div><!-- .ph-list-product-sidebar-widget -->
                    </div><!-- .ph-list-product-sidebar -->
                    <div class="ph-list-product-content ph-border-radius-small">
                        <div class="ph-list-product-header ph-border-radius-small">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="ph-list-product-sort-wrapper">
                                            <div class="ph-list-product-sort-item ph-border-radius-small">
                                                <span>بر اساس ارزان ترین</span>
                                            </div><!-- .ph-list-product-sort-item -->
                                            <div class="ph-list-product-sort-item ph-border-radius-small">
                                                <span>بر اساس گران ترین</span>
                                            </div><!-- .ph-list-product-sort-item -->
                                            <div class="ph-list-product-sort-item ph-border-radius-small">
                                                <span>بر اساس تازه ترین</span>
                                            </div><!-- .ph-list-product-sort-item -->
                                            <div class="ph-list-product-sort-item ph-border-radius-small">
                                                <span>بر اساس محبوب ترین</span>
                                            </div><!-- .ph-list-product-sort-item -->
                                        </div><!-- .ph-list-product-sort-wrapper -->
                                    </div><!-- .col-md-8 -->
                                    <div class="col-12 col-md-4">
                                        <div class="ph-list-product-pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination m-0">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div><!-- .ph-list-product-pagination -->
                                    </div><!-- .col-md-4 -->
                                </div><!-- .row -->
                            </div><!-- .row -->
                        </div><!-- .ph-list-product-header -->
                        <div class="ph-list-product-loop">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-12 col-md-3">
                                    <div class="ph-list-product-loop-item ph-border-radius">
                                        <div class="ph-list-product-loop-item-img">
                                            <a href="{% url 'products:product_details' pk=product.id %}"><img src="{% get_media_prefix %}{{ product.media.get_primary.file }}" alt=""></a>
                                            <span class="ph-list-product-loop-item-city">{{ product.user.region }}</span>
                                        </div><!-- .ph-list-product-loop-item-img -->
                                        <div class="ph-list-product-loop-item-content">
                                            <div class="ph-list-product-loop-item-title">
                                                <a href="{% url 'products:product_details' pk=product.id %}">{{ product.title }}</a>
                                            </div><!-- .ph-list-product-loop-item-title -->
                                            <div class="ph-list-product-loop-item-meta-wrapper">
                                                <div class="ph-list-product-loop-item-meta">
                                                    <label for="">ظرفیت تولید:</label>
                                                    {% with product.get_sku as sku %}
                                                    <span>{{ sku.value|intcomma }} {{ sku.attribute.unit }}</span>
                                                    {% endwith %}
                                                </div><!-- .ph-list-product-loop-item-meta -->
                                            </div><!-- .ph-list-product-loop-item-meta-wrapper -->
                                            <div class="ph-list-product-item-price ph-border-radius-small">
                                                {% with product.get_price as price %}
                                                <span>{{ price.value|intcomma }}</span> {{ price.attribute.unit }} به ازای هر تن
                                                {% endwith %}
                                            </div><!-- .ph-list-product-item-price -->
                                        </div><!-- .ph-list-product-loop-item-content -->
                                    </div><!-- .ph-list-product-loop-item -->
                                </div><!-- .col-md-3 -->
                                {% endfor %}
                            </div><!-- .row -->
                        </div><!-- .ph-list-product-loop -->
                        <div class="ph-list-product-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- .ph-list-product-pagination -->
                        <div class="ph-list-product-process-banner my-3">
                            <img src="{% static 'images/process.jpg' %}" class="ph-border-radius" alt="">
                        </div>
                    </div><!-- .ph-list-product-content -->
                </div><!-- .ph-list-product-container -->
            </div><!-- .ph-content-entry -->
        </main><!-- .ph-main-content -->
    </div><!-- .ph-page-wrapper -->
{% endblock %}

