{% extends 'base_frontend.html' %}
{% load static %}
{% load humanize %}


{% block title %}
    {{ product.title }}
{% endblock %}

{% block frontend_content %}
    <div class="ph-page-wrapper ph-single-product">
        <main class="ph-main-content">
            <div class="ph-content-entry">
                <div class="ph-single-product-container">
                    <div class="container">
                        <div class="ph-single-product-top-wrapper">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="ph-single-product-image-wrapper">
                                        <div class="ph-single-product-main-image">
                                            <a class="image-popup-vertical-fit"
                                               href="{% get_media_prefix %}{{ product.media.get_primary.file }}"
                                               title="{{ product.title }}">
                                                <img
                                                     src="{% get_media_prefix %}{{ product.media.get_primary.file }}">
                                            </a>
                                        </div><!-- .ph-single-product-main-image -->
                                        <div class="ph-single-product-gallery popup-gallery">
                                            {% for image in product.media.get_additional %}
                                                <a href="{% get_media_prefix %}{{ image.file }}"
                                                   title="{{ product.title }}">
                                                    <img class="ph-border-radius"
                                                         src="{% get_media_prefix %}{{ image.file }}">
                                                </a>
                                            {% endfor %}
                                        </div><!-- .ph-single-product-gallery -->
                                    </div><!-- .ph-single-product-image-wrapper -->
                                </div><!-- .col-md-5 -->
                                <div class="col-12 col-md-7">
                                    <div class="ph-single-product-details-wrapper">
                                        <!-- <h1 class="ph-single-product-title">{{ product.title }}</h1> -->
                                        <h1 class="ph-single-product-title">{{ product.title }}</h1>
                                        <hr>
                                        <div class="ph-single-product-base-price my-3">
                                            <label class="ph-single-product-label"
                                                   for="product_base_price">قیمت: </label>
                                            {% with product.get_price as price %}
                                                <h3 id="product_base_price" class="ph-single-product-price">
                                                    <span>{{ price.value }}</span>
                                                    <span>{{ price.attribute.unit }}</span> <span
                                                        class="ph-product-small-text">به ازای هر</span><span
                                                        class="ph-product-small-text">تن</span></h3>
                                            {% endwith %}
                                        </div><!-- .ph-single-product-base-price -->
                                        <div class="ph-single-product-atts-summary">
                                            <ul>
                                                <li>
                                                    <label>خلوص عیار :</label>
                                                    <span>{{ product.get_caret }}</span>
                                                </li>
                                                <li>
                                                    <label>نوع:</label>
                                                    <span>{{ product.category.parent.title }}</span>
                                                </li>
                                                <li>
                                                    <label>دسته بندی:</label>
                                                    <a href="#">{{ product.category.title }}</a>
                                                </li>
                                                <li>
                                                    <label>استان :</label>
                                                    <a href="#">{{ product.user.region }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="ph-single-product-details-bottom">
                                            <div class="ph-single-product-calculator my-3">
                                                <p>برای محاسبه قیمت نهایی، مقدار مورد نیاز را وارد نمایید:</p>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <div class="ph-single-product-quantity">
                                                            <input type="number" value="1">
                                                            <span>تن</span>
                                                        </div><!-- .ph-single-product-quantity -->
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group mb-0">
                                                            <select class="form-control custom-select" id="payment_method">
                                                                <option>انتخاب نوع پرداخت:</option>
                                                                {% for payment_type in product.get_payment_type %}
                                                                    <option value="{{ payment_type }}">{{ payment_type }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ph-single-product-final-price">
                                                    <label class="ph-single-product-label" for="product_final_price">قیمت
                                                        نهایی: </label>
                                                    <h3 id="product_final_price"><span>760.000</span> <span>تومان</span>
                                                    </h3>
                                                </div><!-- .ph-single-product-final-price -->
                                            </div><!-- .ph-single-product-calculator -->
                                            <div class="ph-single-product-cta my-3">
                                                {% if not user.is_authenticated %}
                                                <a href="#" class="ph-submit-order-btn" data-toggle="modal" data-target="#ph_LogIn_Modal"><i
                                                        class="far fa-check-circle ml-2"></i> ثبت سفارش </a>
                                                {% else %}
                                                <a href="#" class="ph-submit-order-btn"><i
                                                        class="far fa-check-circle ml-2"></i> ثبت سفارش </a>
                                                {% endif %}

                                                {% if not user.is_authenticated %}
                                                <a href="#" class="ph-need-sample-btn" data-toggle="modal" data-target="#ph_LogIn_Modal"><i
                                                        class="fas fa-vial ml-2"></i> درخواست نمونه </a>
                                                {% else %}
                                                <a href="#" class="ph-need-sample-btn" data-toggle="modal" data-target="#sample_modal"><i
                                                        class="fas fa-vial ml-2"></i> درخواست نمونه </a>
                                                {% endif %}
                                            </div><!-- .ph-single-product-cta -->
                                        </div><!-- .ph-single-product-details-bottom -->
                                    </div><!-- .ph-single-product-details-wrapper -->
                                </div><!-- .col-md-7 -->
                            </div><!-- .row -->
                        </div><!-- .ph-single-product-top-wrapper -->
                        <div class="ph-single-product-specification my-4">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="ph-single-product-specification-table">
                                        <h3>مشخصات محصول</h3>
                                        <ul>
                                            {% for product_attribute in product.attributes.get_ordinary %}
                                                <li>
                                                    {% with product_attribute.attribute as attribute_definition %}
                                                        <label>{{ attribute_definition.title }}: </label>
                                                        {% if attribute_definition.value_type == 'bool' %}
                                                            <span>{{ product_attribute.value|yesno:'دارد,ندارد' }}</span>
                                                        {% elif attribute_definition.value_type == 'int' %}
                                                            <span>{{ product_attribute.value|intcomma }}</span>
                                                        {% elif attribute_definition.value_type == 'multiple' %}
                                                            <span>{{ product_attribute.value|join:", " }}</span>
                                                        {% else %}
                                                            <span>{{ product_attribute.value }} {{ attribute_definition.unit }}</span>
                                                        {% endif %}
                                                    {% endwith %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="ph-single-product-specification-table">
                                        <h3>مشخصات معدن</h3>
                                        <ul>
                                            {% for product_attribute in product.attributes.get_ordinary %}
                                                <li>
                                                    {% with product_attribute.attribute as attribute_definition %}
                                                        <label>{{ attribute_definition.title }}: </label>
                                                        {% if attribute_definition.value_type == 'bool' %}
                                                            <span>{{ product_attribute.value|yesno:'دارد,ندارد' }}</span>
                                                        {% elif attribute_definition.value_type == 'int' %}
                                                            <span>{{ product_attribute.value|intcomma }}</span>
                                                        {% else %}
                                                            <span>{{ product_attribute.value }} {{ attribute_definition.unit }}</span>
                                                        {% endif %}
                                                    {% endwith %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="ph-single-product-analyze-image">
                                        <!--
                                        <a class="image-popup-fit-width"
                                           href="{% get_media_prefix %}{{ product.get_analyze.value }}" title="{{ product.title }}">
                                            <img src="{% get_media_prefix %}{{ product.get_analyze.value }}" alt="">
                                        </a>
                                        -->
                                        <a class="image-popup-fit-width" title="{{ product.title }}" href="{% get_media_prefix %}{{ product.get_analyze.value }}">
                                            <i class="fas fa-eye pl-2"></i> مشاهده فایل آنالیز
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ph-single-product-process-container my-4">
                            <img src="{% static 'images/process.jpg' %}" class="ph-border-radius" alt="">
                        </div>
                    </div><!-- .container -->
                </div><!-- .ph-single-product-container -->
            </div><!-- .ph-content-entry -->
        </main><!-- .ph-main-content -->
    </div><!-- .ph-page-wrapper -->

    <!-- ASKING FOR SAMPLE Modal -->
    <div class="modal fade" id="sample_modal" tabindex="-1" aria-labelledby="sample_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header align-items-center">
                    <h5 class="modal-title" id="exampleModalLabel">درخواست نمونه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        برای درخواست ارسال نمونه  <span class="ph-sample-modal-title">نام محصول</span> با قبول قوانین و مقررات درخواستتان را ثبت نمایید
                    </p>
                    <div class="custom-control custom-checkbox my-3">
                        <input class="custom-control-input" type="checkbox" value="" id="sample_toc">
                        <label class="custom-control-label" for="sample_toc">
                            <a href="#" style="color: #007bff;">قوانین ارسال نمونه</a> را قبول میکنم.
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ph-btn">ارسال درخواست</button>
                </div>
            </div>
        </div>
    </div>

    <!-- LogIn_Modal -->
    <div class="modal fade ph-modal" id="ph_LogIn_Modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ورود به پنل
                        کاربری</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="ph-modal-item">
                                <input type="text" name="username" class="form-control"
                                       id="login-username"
                                       placeholder="نام کاربری خود را وارد کنید">
                            </span>
                            <span class="ph-modal-item">
                                <input type="password" name="password"
                                       class="form-control" id="login-password"
                                       placeholder="رمز عبور خود را وارد کنید">
                                <small id="login-error"
                                       class="form-text text-muted"></small>
                            </span>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                <label class="custom-control-label" for="defaultUnchecked">مرا به خاطر بسپار</label>
                            </div>
                            <div class="ph-login-modal">
                                <button type="submit" id="ph_login_modal"
                                        class="ph-btn ph-border-radius-small">ورود
                                </button>
                            </div><!-- .ph-login-modal -->
                        </div><!-- .form-group -->
                        <div class="ph-signup-modal" id="ph_SignUp_Modal">
                            <span>قبلا ثبت نام نکرده اید؟</span><a
                                href="{% url "users:register_buyer" %}">ثبت نام</a>
                        </div><!-- .ph-signup-modal -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

