{% extends 'base_frontend.html' %}
{% load static %}
{% load humanize %}
{% load utils %}


{% block title %}
    {{ product.title }}
{% endblock %}

{% block frontend_content %}
    <div class="ph-page-wrapper ph-single-product">
        <main class="ph-main-content">
            <div class="ph-content-entry">
                <div class="ph-single-product-container">
                    <div class="container">
                        <div class="ph-single-product-top-wrapper">
                            <div class="row">
                                <div class="col-12 col-md-7">
                                    <div class="ph-single-product-details-wrapper">
                                        <!-- <h1 class="ph-single-product-title">{{ product.title }}</h1> -->
                                        <h1 class="ph-single-product-title">{{ product.title }}</h1>
                                        <hr>
                                        <div class="ph-single-product-base-price my-3">
                                            <label class="ph-single-product-label"
                                                   for="product_base_price">قیمت: </label>
                                            {% with product.get_price as price %}
                                                <h3 id="product_base_price" class="ph-single-product-price">
                                                    <span>{{ price.value|intcomma }}</span>
                                                    <span>{{ price.attribute.unit }}</span> <span
                                                        class="ph-product-small-text">به ازای هر</span><span
                                                        class="ph-product-small-text">{{ price.get_weight_unit_display }}</span></h3>
                                            {% endwith %}
                                        </div><!-- .ph-single-product-base-price -->
                                        <div class="ph-single-product-atts-summary">
                                            <ul>
                                                <li>
                                                    <label>خلوص عیار :</label>
                                                    <span>{{ product.get_caret }}</span>
                                                </li>
                                                <li>
                                                    <label>نوع:</label>
                                                    <span>{{ product.category.parent.title }}</span>
                                                </li>
                                                <li>
                                                    <label>دسته بندی:</label>
                                                    <a href="#">{{ product.category.title }}</a>
                                                </li>
                                                <li>
                                                    <label>استان :</label>
                                                    <a href="#">{{ product.mine.region.parent.title }}</a>
                                                </li>
                                            </ul>
                                            <div class="ph-single-product-specification-table">
                                                <h3>مشخصات محصول</h3>
                                                <ul>
                                                    <li>
                                                        <label>سایز بندی: </label>
                                                        <span>{{ product.get_size }}</span>
                                                    </li>
                                                    <li>
                                                        <label>شرایط پرداخت وجه: </label>
                                                        <span>{{ product.get_payment_type|join:"، " }}</span>
                                                    </li>
                                                    <li>
                                                        <label>ظرفیت تامین: </label>
                                                        <span>{{ product.get_sku.value }} تن</span>
                                                    </li>
                                                </ul>
                                            </div><!-- .ph-single-product-specification-table -->
                                            <div class="ph-single-product-specification-table">
                                                <h3>مشخصات معدن</h3>
                                                <ul>
                                                    {% with product.mine as mine %}
                                                        <li>
                                                            <label>موقعیت مکانی در استان: </label>
                                                            <span>{{ mine.get_location_in_region_display }}</span>
                                                        </li>
                                                        <li>
                                                            <label>فاصله تا جاده اصلی: </label>
                                                            <span>{{ mine.distance_to_road }} کیلومتر</span>
                                                        </li>
                                                        <li>
                                                            <label>وجود جاده مناسب برای عبور وسایل نقلیه: </label>
                                                            <span>{{ mine.proper_road|yesno:'دارد,ندارد' }}</span>
                                                        </li>
                                                        <li>
                                                            <label>وجود تجهیزات بارگیری در محل دپو: </label>
                                                            <span>{{ mine.load_tools|yesno:'دارد,ندارد' }}</span>
                                                        </li>
                                                    {% endwith %}
                                                </ul>
                                            </div><!-- .ph-single-product-specification-table -->
                                        </div><!-- .ph-single-product-atts-summary -->
                                    </div><!-- .ph-single-product-details-wrapper -->
                                </div><!-- .col-md-7 -->
                                <div class="col-12 col-md-5">
                                    <div class="ph-single-product-image-wrapper">
                                        <div class="ph-single-product-main-image">
                                            <a class="image-popup-vertical-fit"
                                               href="{% get_media_prefix %}{{ product.media.get_primary.file }}"
                                               title="{{ product.title }}">
                                                <img src="{% get_media_prefix %}{{ product.media.get_primary.file }}">
                                            </a>
                                        </div><!-- .ph-single-product-main-image -->
                                        <div class="ph-single-product-gallery popup-gallery">
                                            {% for image in product.media.get_additional %}
                                                <a href="{% get_media_prefix %}{{ image.file }}"
                                                   title="{{ product.title }}">
                                                    <img class="ph-border-radius"
                                                         src="{% get_media_prefix %}{{ image.file }}">
                                                </a>
                                            {% endfor %}
                                        </div><!-- .ph-single-product-gallery -->
                                        <div class="ph-single-product-details-bottom">
                                            <div class="ph-single-product-cta my-3">
                                                {% if not user.is_authenticated %}
                                                    <a href="#" class="ph-btn" data-toggle="modal"
                                                       data-target="#ph_LogIn_Modal"><i
                                                            class="far fa-check-circle ml-2"></i> ثبت سفارش </a>
                                                {% else %}
                                                    <a href="#"
                                                       class="ph-btn" data-toggle="modal"
                                                       data-target="#ph_order_detail_Modal"><i
                                                            class="far fa-check-circle ml-2"></i> ثبت سفارش </a>
                                                {% endif %}

                                                {% if not user.is_authenticated %}
                                                    <a href="#" class="ph-btn" data-toggle="modal"
                                                       data-target="#ph_LogIn_Modal"><i
                                                            class="fas fa-vial ml-2"></i> درخواست نمونه </a>
                                                {% else %}
                                                    <a href="" class="ph-btn" data-toggle="modal"
                                                       data-target="#sample_modal"><i
                                                            class="fas fa-vial ml-2"></i> درخواست نمونه </a>
                                                {% endif %}
                                                <a class="image-popup-fit-width ph-btn" title="{{ product.title }}"
                                                   href="{% get_media_prefix %}{{ product.get_analyze.value }}">
                                                    <i class="fas fa-eye pl-2"></i> فایل آنالیز
                                                </a>
                                            </div><!-- .ph-single-product-cta -->
                                        </div><!-- .ph-single-product-details-bottom -->
                                    </div><!-- .ph-single-product-image-wrapper -->
                                </div><!-- .col-md-5 -->
                            </div><!-- .row -->
                        </div><!-- .ph-single-product-top-wrapper -->
                    </div><!-- .container -->
                </div><!-- .ph-single-product-container -->
            </div><!-- .ph-content-entry -->
        </main><!-- .ph-main-content -->
    </div><!-- .ph-page-wrapper -->

    <!-- ASKING FOR SAMPLE Modal -->
    <div class="modal fade" id="sample_modal" tabindex="-1" aria-labelledby="sample_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header align-items-center">
                    <h5 class="modal-title" id="exampleModalLabel">درخواست نمونه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <p>
                        برای درخواست ارسال نمونه <span class="ph-sample-modal-title">نام محصول</span> با قبول قوانین و
                        مقررات درخواستتان را ثبت نمایید
                    </p>
                    <div class="custom-control custom-checkbox my-3">
                        <input class="custom-control-input" type="checkbox" value="" id="sample_toc">
                        <label class="custom-control-label" for="sample_toc">
                            <a href="#" style="color: #007bff;">قوانین ارسال نمونه</a> را قبول میکنم.
                        </label>
                    </div><!-- .custom-checkbox -->
                </div><!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="ph-btn">ارسال درخواست</button>
                </div><!-- .modal-footer -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal#sample_modal -->

    <!-- Order Detail Modal -->
    <div class="modal fade" id="ph_order_detail_Modal" tabindex="-1" aria-labelledby="ph_order_detail_ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header align-items-center">
                    <h5 class="modal-title" id="exampleModalLabel">جزییات سفارش</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <form action="{% url 'orders:create_order' %}" method="post" id="details-form">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product.pk }}">
                        <span class="d-none" id="base-product-price">{{ product.get_price.value }}</span>
                        <div class="ph-order-detail-modal-content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="ph-view-order-block">
                                        <div class="ph-view-order-block-item">
                                        {% if not user.addresses.all %}
                                            <div>
                                                <span class='error'>
                                                    <a href="{% url 'users:profile_buyer' %}" data-target="nav-contact-tab" style="color: red;">
                                                        برای ثبت سفارش ابتدا آدرس خود را از اینجا ثبت نمایید.
                                                    </a>
                                                </span>
                                            </div>
                                        {% endif %}
                                            <label>مقصد:</label>
                                            <select required class="custom-select mb-3" name="destination" id="customer-address">
                                                {% for address in user.addresses.all %}
                                                    <option value="{{ address.id }}">{{ address.receiver_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="ph-view-order-block-item">
                                                    <label>آدرس:</label>
                                                    <p id="address-address">{{ address.address }}</p>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="ph-view-order-block-item d-flex">
                                                    <label class="ml-1">استان:</label>
                                                    <p id="address-province">{{ address.region.parent.title }}</p>
                                                </div>
                                                <div class="ph-view-order-block-item d-flex">
                                                    <label class="ml-1">شهر:</label>
                                                    <p id="address-region">{{ address.region.title }}</p>
                                                </div>
                                                <div class="ph-view-order-block-item d-flex">
                                                    <label class="ml-1">کد پستی:</label>
                                                    <p id="address-postal-code"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="ph-single-product-calculator my-3">
                                        <p>برای محاسبه قیمت نهایی، مقدار مورد نیاز را وارد نمایید:</p>
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="text" min="1" name="weight" id="order-weight"
                                                           class="form-control" maxlength="14"
                                                           placeholder="تناژ مورد نظر به عدد">
                                                </div><!-- .ph-single-product-quantity -->
                                                <div class="form-group">
                                                    <select class="form-control custom-select"
                                                            id="month_no" name="monthly_load">
{#                                                    FIXME: Change title #}
                                                        <option value="">نوبت دریافت:</option>
                                                        {% for month in months %}
                                                            <option value="{{ month }}">{{ month }} ماه</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control custom-select"
                                                            id="payment-type" name="payment_type">
                                                        <option value="">انتخاب نوع پرداخت:</option>
                                                        {% for payment_type in product.get_payment_type %}
                                                            <option value="


                                                                    {{ payment_reverse_mapper|get_item:payment_type }}">{{ payment_type }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!-- .form-group -->
                                            </div><!-- .col-6 -->
                                            <div class="col-6">
                                                <div class="ph-single-product-final-price flex-column h-100 justify-content-center">
                                                    <label class="ph-single-product-label" for="product_final_price">جمع قیمت:</label>
                                                    <h3 id="product_final_price"><span id="final-price">0</span>
                                                        <span>ریال</span>
                                                    </h3>
                                                </div><!-- .ph-single-product-final-price -->
                                            </div><!-- .col-6 -->
                                        </div><!-- .row -->
                                    </div><!-- .ph-single-product-calculator -->
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="ph-btn" id="submit">ثبت درخواست</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal#sample_modal -->

    <!-- LogIn_Modal -->
    <div class="modal fade ph-modal" id="ph_LogIn_Modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ورود به پنل
                        کاربری</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <form method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="ph-modal-item">
                                <input type="text" name="username" class="form-control"
                                       id="login-username"
                                       placeholder="نام کاربری خود را وارد کنید">
                            </span>
                            <span class="ph-modal-item">
                                <input type="password" name="password"
                                       class="form-control" id="login-password"
                                       placeholder="رمز عبور خود را وارد کنید">
                                <small id="login-error"
                                       class="form-text text-muted"></small>
                            </span>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                <label class="custom-control-label" for="defaultUnchecked">مرا به خاطر بسپار</label>
                            </div><!-- .custom-checkbox -->
                            <div class="ph-login-modal">
                                <button type="submit" id="ph_login_modal"
                                        class="ph-btn ph-border-radius-small">ورود
                                </button>
                            </div><!-- .ph-login-modal -->
                        </div><!-- .form-group -->
                        <div class="ph-signup-modal" id="ph_SignUp_Modal">
                            <span>قبلا ثبت نام نکرده اید؟</span><a
                                href="{% url "users:register_buyer" %}">ثبت نام</a>
                        </div><!-- .ph-signup-modal -->
                    </form>
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal#ph_LogIn_Modal -->
{% endblock %}

{% block footer_static %}
    <script src="{% static 'owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/frontend.js' %}"></script>
    <script src="{% static 'js/product_details.js' %}"></script>
{% endblock %}