{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}


{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-list-seller">
        <div class="container">
            <div class="ph-dm-title">
                <div class="title">پنل مدیریت فروشندگان</div>
                <a href="{% url 'users:admin_list_seller' %}" class="ph-dm-add-user ph-btn"><i class="fas fa-plus"></i>اضافه کردن فروشنده </a>
            </div><!-- .ph-dm-title -->
            <div class="ph-managements-container">
                <form>
                    <div class="ph-managements-filter-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                        <div class="form-row">
                            <div class="col-12 col-md-6 col-lg-2 mb-3">
                                <div class="ph-managements-filter-item filter-id">
                                    <label for="">کد کاربر</label>
                                    <input type="text" class="form-control" name="id" placeholder="کد فروشنده">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-2 -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="ph-managements-filter-item filter-name">
                                    <label for="">نام و نام‌خانوادگی</label>
                                    <input type="text" class="form-control" name="name"
                                           placeholder="نام و نام‌خانوادگی فروشنده">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-4 -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="ph-managements-filter-item filter-email">
                                    <label for="">ایمیل</label>
                                    <input type="text" class="form-control text-left" name="email"
                                           placeholder="sample@gmail.com">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-4 -->
                            <div class="col-12 col-md-6 col-lg-2 mb-3">
                                <div class="ph-managements-filter-item filter-city">
                                    <label for="">شهر</label>
                                    <input name="city" class="form-control" placeholder="نام شهر">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-2 -->
                            <div class="col-12 col-md-6 col-lg-2 mb-3">
                                <div class="ph-managements-filter-item filter-kodemelli">
                                    <label for="">کدملی</label>
                                    <input type="text" class="form-control text-left" name="national_id"
                                           placeholder="1234567890">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-4 -->
                            <div class="col-12 col-md-6 col-lg-2 mb-3">
                                <div class="ph-managements-filter-item filter-kodeeghtesadi">
                                    <label for="">کد اقتصادی</label>
                                    <input type="text" class="form-control text-left" name="financial_code"
                                           placeholder="1234567890">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-4 -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="ph-managements-filter-item filter-mobile">
                                    <label for="">شماره موبایل</label>
                                    <input type="text" class="form-control text-left" name="mobile_number"
                                           placeholder="*******09">
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-4 -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="ph-managements-filter-item filter-tel">
                                    <label for="">وضعیت</label>
                                    <select class="form-control" name="state">
                                        <option value="">انتخاب کنید</option>
                                        {% for state, state_display in state_choices %}
                                            <option value="{{ state }}">{{ state_display }}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- ph-managements-filter-item -->
                            </div><!-- col-12 col-md-6 col-lg-4 -->
                        </div><!-- form-row -->
                        <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو</button>
                    </div><!-- .ph-managements-filter-wrapper ph-admin-page-list-container -->
                </form>

                <div class="ph-managements-table-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="form-group ph-managements-sorting">

                    </div><!-- .form-group -->
                    <div class="ph-managements-table table-responsive">
                        <table class="table ph-table table-bordered text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th>کد کاربر</th>
                                <th>نام و نام‌خانوادگی</th>
                                <th>حقیقی/حقوقی</th>
                                <th>ایمیل</th>
                                <th>کدملی/شناسه اقتصادی</th>
                                <th>شماره موبایل</th>
                                <th>تلفن ثابت</th>
                                <th>شهر</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.profile.get_full_name }}</td>
                                    <td>{{ user.get_legal_type_display }}</td>
                                    <td>{{ user.get_email }}</td>
                                    <td>{{ user.profile.get_national_code }}</td>
                                    <td>{{ user.mobile_number }}</td>
                                    <td>{{ user.profile.phone_number }}</td>
                                    <td>{{ user.profile.region.title }}</td>
                                    <td>{{ user.get_state_display }}</td>
                                    <td>
                                        <a href="{% url 'users:admin_qc_seller_details' pk=user.pk %}"
                                           class="ph-btn ph-managements-btn qc"><i
                                                class="fas fas fa-sync-alt"></i>بررسی</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- .ph-managements-table -->
                    <div class="ph-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{% query_transform p=page_obj.previous %}"
                                           aria-label="Previous">
                                            <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for p in page_obj.paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="{% query_transform p=p %}">{{ p }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{% query_transform p=p %}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{% query_transform p=page_obj.next %}"
                                           aria-label="Next">
                                                            <span aria-hidden="true"><i
                                                                    class="fas fa-angle-left"></i></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true"><i
                                                                    class="fas fa-angle-left"></i></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div><!-- .ph-managements-pagination -->
                </div>
                <!-- .ph-managements-table-wrapper ph-admin-page-list-container -->
            </div><!-- .ph-managements-container -->
        </div><!-- .container -->
    </main><!-- ph-dashboard-main seller-panel ph-seller-dashboard -->

{% endblock %}