{% load utils %}

{% if product_attribute is not None %}
    {% define product_attribute.value as attribute_value %}
{% endif %}

<div class="col-5 col-offset-2 my-1">
    <label for="{{ attribute.id }}">{{ attribute.title }}</label>
    <div data-attr>
    <input data-attr-value type="text" class="form-control" id="attribute-{{ attribute.id }}"
           name="attribute-{{ attribute.id }}" value="{{ attribute_value }}">
        <span>{{ attribute.unit }}</span>
        <small class="form-text text-danger" style="display: none">لطفا مقدار را وارد نمایید</small>
    </div>
</div>