{% if attribute.range_type == 'to' %}
<div class="col-5 ph-add-product-cutie my-1">
    <label class="ph-label">{{ attribute.title }}</label>
    <div class="form-row num-input align-items-center">
        <div class="col-4 d-flex">
            <div class="row no-gutters">
                <input type="text" placeholder="{{ attribute.get_range_type_display }}" class="form-control" name="attribute_{{ attribute.id }}" id="attribute-{{ attribute.id }}">
                <small class="form-text text-danger"></small>
            </div>
        </div>
        {% elif attribute.range_type == 'from' and not attribute.has_weight %}
        <div class="col-4 d-flex">
            <div class="row no-gutters">
                <input data-max type="text" placeholder="{{ attribute.get_range_type_display }}" class="form-control" name="attribute_{{ attribute.id }}" id="attribute-{{ attribute.id }}">
                <small class="form-text text-danger"></small>
            </div>
        </div>
    </div>
</div>
{% else %}
        <div class="col-4 d-flex">
            <div class="row no-gutters">
                <input data-max type="text" placeholder="{{ attribute.get_range_type_display }}" class="form-control" name="attribute_{{ attribute.id }}" id="attribute-{{ attribute.id }}">
                <small class="form-text text-danger"></small>
            </div>
        </div>
        <div class="col-4 d-flex">
                <select class="mdb-select md-form form-control flex-grow-1 ml-1" name="weight_attribute_{{ attribute.id }}" id="weight-attribute-{{ attribute.id }}">
                    <option value="default">---انتخاب واحد---</option>
                    <option value="{{ attribute.WEIGHT_MM }}">میلیمتر</option>
                    <option value="{{ attribute.WEIGHT_CM }}">سانتی‌متر</option>
                </select>
        </div>
    </div>
</div>
{% endif %}