{% load utils %}

{% if product_attribute is not None %}
    {% define product_attribute.value as attribute_value %}
{% endif %}

<div class="col-5 col-offset-2 my-1">
    <label for="attribute-{{ attribute.id }}">{{ attribute.title }}</label>
    {% if attribute.unit %}
        <span> ({{ attribute.unit }})</span>
    {% endif %}
    <div data-attr>
    <input data-attr-value type="text" class="form-control" id="attribute-{{ attribute.id }}"
           name="attribute_{{ attribute.id }}" value="{{ attribute_value }}">
        <small class="form-text text-danger" style="display: none">لطفا مقدار را وارد نمایید</small>
    </div>
</div>
