/*
=======================================================
    Generic
=======================================================
*/
@import "fonts.css";

/*
=======================================================
    Login Page
=======================================================
*/

.ph-login-wrapper {
    padding: 100px;
}

.ph-login-wrapper .container {
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 0 25px;
    background: #00A693;
    width: 80%;
}

/*
=======================================================
    Header
=======================================================
*/

.ph-main-header{
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    background: rgba(0,0,0,.3);
    border-top: 3px solid #222;
    width: 100%;
    z-index: 99;
    transition: all 800ms ease-in-out;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
}

.ph-main-header.sticky-header{
    position: fixed;
    top: 0;
    bottom: auto;
    transition: all 800ms ease-in-out;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    background: rgba(0,0,0,.8);
}

body.home .ph-main-header{
    background: rgba(0,0,0,.7);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

body.home .ph-main-header.sticky{
    background: rgba(0,0,0,1);
}

.ph-header-login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-header-login i{
    color: #fff;
    font-size: 20px;
}

.ph-header-docs a{
    position: relative;
}

.ph-user-docs-no{
    position: absolute;
    color: #fff;
    background: red;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    font-size: 11px;
}

.ph-header-user-logged-in{
    cursor: pointer;
    position: relative;
}

.ph-header-user-drop-down-menu{
    display: none;
    position: absolute;
    width: 130px;
    background: #000;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.ph-header-user-logged-in:hover .ph-header-user-drop-down-menu{
    display: block;
}

.ph-header-user-drop-down-menu ul{
    margin: 0;
}

.ph-header-user-drop-down-menu li a{
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    border-bottom: 1px solid;
    width: 100%;
    display: block;
}

.ph-header-user-drop-down-menu li:last-child a{
    border-bottom: none;
}

.navbar-brand{
    color: #fff;
}

.ph-main-header .nav-item{
    margin: 0 10px;
}

.ph-main-header .nav-link{
    color: #fff;
}

.ph-main-header .nav-item.active .nav-link{
    color: #4CE0B3;
    border-bottom: 1px solid;
    font-weight: 600;
}

.ph-main-header .nav-link:hover{
    color: #4CE0B3;
    border-bottom: 1px solid;
    font-weight: 600;
}

.nav-item .dropdown-menu{
    text-align: right;
    left: auto;
    right: 0;
}

.nav-item .dropdown-menu .dropdown-item{
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.nav-item .dropdown-menu .dropdown-item:last-child{
    border-bottom: none;
}

.ph-seller-panel-btn{
    border: 1px solid;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    margin: 0 3px;
    background: #fff;
    color: #333 !important;
}

.ph-logestic-panel-btn{
    border: 1px solid;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    margin: 0 3px;
    background: #fff;
    color: #333 !important;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}


/*
=======================================================
    HomePage
=======================================================
*/

.ph-home-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.ph-home-heading h3{
    display: inline-flex;
    font-size: 26px;
}

.ph-home-heading span{
    color: #ccc;
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
}

.ph-home-slide{
    background-image: url(../images/main-bg-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: animateBg forwards 6s ease-in;
}

@keyframes animateBg{
    from { background-size: 115%; }
    to { background-size: 100%; }
}

.ph-home-slide:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: rgba(0,0,0,.6);
}

.ph-home-search-box{
    width: 750px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ph-home-search-box h1{
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.ph-home-search-box h3{
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
    margin-bottom: 30px;
}

.ph-home-search-box form{
    width: 100%;
    display: flex;
    align-items: center;
}

.ph-home-search-box form input.ph-search-location-field{
    width: 30%;
    padding: 15px 20px;
    border-radius: 0 25px 0 0;
}

.ph-home-search-box form input.ph-search-query-field{
    width: 80%;
    padding: 15px 20px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.ph-home-search-box form button{
    width: 20%;
    padding: 15px 20px;
    background: #4CE0B3;
    border: none;
    color: #333;
    border-radius:  10px 0 0 10px;
}

.ph-home-about-text p{
    text-align: justify;
    width: 85%;
    line-height: 32px;
}

.ph-home-about-images{
    position: relative;
}

.ph-home-about-images-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.ph-home-about-images-wrapper img{
    border-radius: 50%;
    border: 7px solid #fff;
    box-shadow: 0 7px 60px -15px rgb(0 0 0 / 50%);
    width: 200px;
    height: 200px;
}

.ph-home-about-images-wrapper img.ph-home-about-image-1{
    width: 175px;
    height: 175px;
    margin-left: -30px;
}

.ph-home-about-images-wrapper img.ph-home-about-image-3{
    width: 175px;
    height: 175px;
    margin-right: -30px;
}

.ph-home-about-images-wrapper img.ph-home-about-image-2{
    z-index: 2;
}

.ph-home-counter{
    background: rgba(0,0,0,.7);
    padding: 60px 0;
    color: #fff;
}

.ph-home-counter-wrapper{
    display: flex;
    align-items: center;
}

.ph-home-counter-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ph-home-counter-item i{
    font-size: 30px;
    margin-bottom: 15px;
    color: #4CE0B3;
}

.ph-home-counter-item h4{
    font-size: 35px;
}

.ph-home-register{
    background-color: #f8f8f8;
    padding: 80px 0;
}

.ph-home-register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 30px;
    background: #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
    width: 80%;
    margin: 0 auto;
}

.ph-home-register-box:hover{
    transform: translateY(-5px);
    background: #333;
    color: #fff;
    box-shadow: 0 12px 24px 0 rgb(32 42 75 / 40%);
}

.ph-home-register-box p{
    width: 85%;
}

.ph-home-register-box h2{
    font-size: 20px;
}

.ph-home-services{
    padding: 80px 0;
}

.ph-home-services-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ph-home-services-vector{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-home-services-vector img{
    box-shadow: 0 7px 60px -15px rgb(0 0 0 / 50%);
    width: 80%;
}

.ph-home-service-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.ph-home-service-icon{
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-left: 15px;
}

.ph-home-service-text h4{
    font-size: 18px;
}

.ph-home-videos{
    background-color: #f8f8f8;
    padding: 80px 0;
}

.ph-default-video-slider{
    position: relative;
}

.ph-default-video-slider .owl-item{
    margin-bottom: 20px;
}

.ph-home-video-slide{
    background: #fff;
    padding-bottom: 10px;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
}

.ph-home-video-slide-title h4{
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}

.ph-default-video-slider .owl-nav{
    margin-top: 0;
    position: absolute;
    top: -40px;
    display: flex;
    align-items: center;
}

.ph-default-video-slider .owl-nav button{
    width: 25px !important;
    height: 30px !important;
    color: #ccc !important;
    margin: 0 0 0 3px !important;
    font-size: 50px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.ph-default-video-slider .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #333 !important;
}

.ph-home-products{
    padding: 80px 0;
}

.ph-home-products-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ph-home-product-item {
    width: 25%;
    position: relative;
}

a.ph-home-product-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background: rgba(1,159,220,.8);
    opacity: 0;
    visibility: hidden;
}

.ph-home-product-item:hover a.ph-home-product-overlay{
    opacity: 1;
    visibility: visible;
}

.ph-home-product-cat{
    border: 2px solid;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
}


/*
=======================================================
    Product Single Page
=======================================================
*/

.ph-page-wrapper{
    padding: 100px 0 40px;
    position: relative;
    background: #FFF;
}

.ph-page-wrapper.ph-home-page{
    padding: 0 0 40px;
}

.ph-single-product-main-image{
    height: 350px;
}

.ph-single-product-main-image img{
    width: 100%;
    object-fit: cover;
    object-position: center top;
    height: 100%;
    margin: auto 0;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
}

.image-popup-vertical-fit,
.popup-gallery a{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 1em;
}

.image-popup-vertical-fit::after,
.popup-gallery a::after{
    content: '\f00e';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(209,233,240,.7);
    font-size: 50px;
    color: #333;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.image-popup-vertical-fit:hover::after,
.popup-gallery a:hover::after
{
    opacity: 1;
    visibility: visible;
}

.ph-single-product-gallery{
    display: flex;
    margin: 20px 0;
}

.ph-single-product-gallery a{
    display: inline-flex;
    margin: 0 5px;
    width: 103px;
    height: 103px;
}

.ph-single-product-gallery a img{
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
}

.ph-single-product-gallery a:first-child{
    margin-right: 0;
}

.ph-single-product-gallery a:last-child{
    margin-left: 0;
}

.ph-single-product-atts-summary ul li{
    font-size: 18px;
}

.ph-single-product-base-price,
.ph-single-product-final-price{
    display: flex;
    align-items: center;
}

.ph-single-product-details-wrapper{
    height: 100%;
    position: relative;
    padding: 20px;
    border-radius: 1em;
    background: #fff;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
}

.ph-single-product-details-bottom{
    position: absolute;
    bottom: 0;
}

.ph-single-product-label{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.ph-single-product-atts-summary label{
    font-weight: 600;
}

.ph-product-small-text{
    font-size: 14px;
}

.ph-single-product-calculator p{
    font-weight: 600;
}

.ph-single-product-calculator select{
    height: 40px;
    font-size: 14px;
}

.ph-single-product-quantity input{
    width: 100px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left: 10px;
}

.ph-single-product-quantity span{
    font-size: 16px;
}

.ph-submit-order-btn{
    background: #7E111A;
    color: #fff;
    padding: 15px 30px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    border-radius: 2em;
}

.ph-submit-order-btn:hover{
    background: #022C3B;
    color: #fff;
}

.ph-need-sample-btn{
    background: #FFD100;
    color: #fff;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    border-radius: 2em;
}

.ph-need-sample-btn:hover{
    background: #D4A373;
    color: #fff;
}

.ph-sample-modal-title{
    font-size: 15px;
    font-weight: 600;
}

.ph-single-product-specification{
    width: 100%;
    padding: 20px;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
    border-radius: 1em;
    background: #fff;
}

.ph-single-product-specification-table label{
    font-weight: 600;
}

.ph-single-product-analyze-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-single-product-analyze-image a{
    background: #022C3B;
    color: #fff;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-single-product-analyze-image a:hover{
    background: #7E111A;
}

/*
=======================================================
    Product Archive Page
=======================================================
*/

.ph-list-product-container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.ph-list-product-sidebar{
    width: 20%;
    min-width: 20%;
    margin-left: 3%;
    background: #fff;
}

.ph-list-product-content{
    width: 77%;
    min-width: 77%;
    background: #fff;
}

.ph-list-product-sidebar-widget{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
}

.ph-list-product-sidebar-filter-box h5{
    font-size: 16px;
}

.ph-list-product-sidebar-search-box input{
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
}

.custom-control-label{
    padding-right: 1.5rem;
}

.custom-control-label::before{
    right: 0;
    left: auto;
}

.ph-list-product-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
}

.ph-list-product-sort-wrapper{
    display: flex;
    width: 100%;
}

.ph-list-product-sort-item{
    background: #618BB4;
    color: #fff;
    padding: 3px 20px;
    margin-left: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
}

.ph-list-product-view-type{
    display: flex;
    justify-content: flex-end;
}

.ph-list-product-loop-item{
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.ph-list-product-loop-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px 0 rgb(32 42 75 / 40%);
}

.ph-list-product-loop-item-img{
    position: relative;
}

.ph-list-product-loop-item-img a img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.ph-list-product-loop-item-city{
    position: absolute;
    top: 0;
    left: 0;
    background: #F2D428;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    width: 110px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.ph-list-product-loop-item-content{
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    padding: 10px 0 0;
}

.ph-list-product-loop-item-title{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.ph-list-product-loop-item-meta-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.ph-list-product-loop-item-meta{
    display: flex;
    align-items: center;
}

.ph-list-product-loop-item-meta label{
    font-weight: 600;
    margin: 0 0 0 5px;
}

.ph-list-product-loop-item.list-view{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-img{
    width: 15%;
    height: 110px;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-img a img {
    height: 110px;
    width: 100%;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-content{
    width: 83%;
    margin-right: 2%;
    height: 110px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-title{
    text-align: right;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-meta-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.ph-list-product-loop-item.list-view .ph-list-product-item-price{
    font-size: 13px;
    width: auto;
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 8px 20px;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-city{
    border-radius: 10px;
    top: 10px;
    left: 5px;
}

.ph-list-product-item-price{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background: #00A693;
    margin: -1px;
    padding: 8px 0;
}

.ph-list-product-pagination{
    display: flex;
    justify-content: center;
}

.ph-list-product-pagination .page-item:first-child .page-link {
    margin-left: 0;
    border-top-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: 0;
}

.ph-list-product-pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.ph-list-product-pagination .page-item.active .page-link {
    background-color: #618BB4;
    border-color: #618BB4;
}

.ph-list-product-pagination .page-link{
    color: #618BB4;
}

.nav-pills .nav-link{
    font-size: 13px;
    padding: 3px 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #618BB4;
}

/*
=======================================================
    Contact Us Page
=======================================================
*/

.ph-inside-pages-content{
    padding: 30px;
    box-shadow: 0 5px 14px 0 rgb(32 42 75 / 20%);
    border-radius: 10px;
}

.ph-page-wrapper.ph-contact-page{
    padding: 65px 0 0;
}

.ph-contact-hero{
    background-image: url("../images/contact-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.ph-contact-hero:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}

.ph-contact-page-content{
    position: relative;
    padding: 50px 0;
    color: #fff;
}

.ph-contact-page-items-wrapper{
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 40%;
    justify-content: space-between;
}

.ph-contact-page-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 140px;
}

.ph-contact-page-item a i{
    font-size: 30px;
    border: 3px solid;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.ph-contact-page-item a i.fa-whatsapp{
    font-size: 40px;
}

.ph-contact-page-item a{
    color: #fff;
    font-size: 18px;
}

.ph-contact-page-item:hover a{
    color: #4CE0B3;
}

.ph-contact-page-form{
    width: 40%;
}


/*
=======================================================
    Footer
=======================================================
*/

.ph-top-footer-wrapper{
    background: #222529;
    padding: 40px 0;
    position: relative;
}

.footer-ribbon {
    background-color: #4CE0B3;
    position: absolute;
    top: 0;
    margin: -16px 0 0;
    padding: 10px 20px 6px;
    color: #fff;
    font-size: 1.3em;
    z-index: 101;
}

.footer-ribbon:before {
    border-right-color: #005580;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    width: 7px;
    left: 100%;
    border-left: 10px solid #646464;
    border-top: 16px solid transparent;
}

.ph-footer-widget-heading h5{
    font-size: 17px;
    color: #fff;
}

.ph-footer-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ph-footer-menu ul li{
    margin: 5px 0;
    color: #fff;
}

.ph-footer-menu ul li a{
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: .8;
    font-family: 'IRANSans-L';
}

.ph-footer-menu ul li a:before{
    content: '\f104';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
}

.ph-footer-menu ul li a:hover{
    opacity: 1;
}

.ph-footer-contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ph-footer-contact ul li{
    margin: 15px 0;
    color: #fff;
    font-size: 14px;
}

.ph-footer-contact ul li a{
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: .8;
    font-family: 'IRANSans-l';
}

.ph-footer-contact ul li a i{
    margin-left: 5px;
}

.ph-bottom-footer-wrapper{
    width: 100%;
    background: #202020;
    padding: 10px 0;
}

.ph-bottom-footer-wrapper p{
    margin: 0;
    font-size: 13px;
    color: #fff;
}

.ph-footer-design{
    text-align: left;
}

.ph-footer-design a{
    color: #4CE0B3;
}

.footer-full-widget{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    color: #fff;
    opacity: .8;
}