/*
=======================================================
    Generic
=======================================================
*/
@import "fonts.css";

/*
=======================================================
    Login Page
=======================================================
*/

.ph-login-wrapper {
    padding: 100px;
}

.ph-login-wrapper .container {
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 0 25px;
    background: #00A693;
    width: 80%;
}

/*
=======================================================
    Header
=======================================================
*/

.ph-main-header{
    position: fixed;
    background: rgba(0,0,0,1);
    width: 100%;
    z-index: 99;
}

body.home .ph-main-header{
    background: rgba(0,0,0,.7);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

body.home .ph-main-header.sticky{
    background: rgba(0,0,0,1);
}

.ph-header-login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-header-login i{
    color: #fff;
    font-size: 20px;
}

.ph-header-docs a{
    position: relative;
}

.ph-user-docs-no{
    position: absolute;
    color: #fff;
    background: red;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    font-size: 11px;
}

.ph-header-user-logged-in{
    cursor: pointer;
    position: relative;
}

.ph-header-user-drop-down-menu{
    display: none;
    position: absolute;
    width: 130px;
    background: #000;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.ph-header-user-logged-in:hover .ph-header-user-drop-down-menu{
    display: block;
}

.ph-header-user-drop-down-menu ul{
    margin: 0;
}

.ph-header-user-drop-down-menu li a{
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    border-bottom: 1px solid;
    width: 100%;
    display: block;
}

.ph-header-user-drop-down-menu li:last-child a{
    border-bottom: none;
}

.navbar-brand{
    color: #fff;
}

.ph-main-header .nav-item{
    margin: 0 10px;
}

.ph-main-header .nav-link{
    color: #fff;
}

.ph-main-header .nav-item.active .nav-link{
    color: #6D97CD;
    border-bottom: 1px solid;
    font-weight: 600;
}

.ph-main-header .nav-link:hover{
    color: #6D97CD;
    border-bottom: 1px solid;
    font-weight: 600;
}

.nav-item .dropdown-menu{
    text-align: right;
    left: auto;
    right: 0;
}

.nav-item .dropdown-menu .dropdown-item{
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.nav-item .dropdown-menu .dropdown-item:last-child{
    border-bottom: none;
}

.ph-seller-panel-btn{
    border: 1px solid;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    margin: 0 3px;
    background: #fff;
    color: #333 !important;
}

.ph-logestic-panel-btn{
    border: 1px solid;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    margin: 0 3px;
    background: #fff;
    color: #333 !important;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}


/*
=======================================================
    HomePage
=======================================================
*/

.ph-home-slide{
    background-image: url(../images/main-bg-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-home-search-box{
    width: 750px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ph-home-search-box h1{
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.ph-home-search-box h3{
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
    margin-bottom: 30px;
}

.ph-home-search-box form{
    width: 100%;
    display: flex;
    align-items: center;
}

.ph-home-search-box form input.ph-search-location-field{
    width: 30%;
    padding: 15px 20px;
    border-radius: 0 25px 0 0;
}

.ph-home-search-box form input.ph-search-query-field{
    width: 80%;
    padding: 15px 20px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.ph-home-search-box form button{
    width: 20%;
    padding: 15px 20px;
    background: #4CE0B3;
    border: none;
    color: #333;
    border-radius:  10px 0 0 10px;
}

.ph-home-category-box-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    color: #fff;
}

.ph-home-category-box-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph-home-category-box-item a span{
    font-size: 17px;
    margin-top: 10px;
    color: #fff;
}

.ph-home-register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.ph-home-register-box.seller{
    border: 2px solid #D4A373;
    border-top: 10px solid #D4A373;
}

.ph-home-register-box.logestic{
    border: 2px solid #FFD100;
    border-top: 10px solid #FFD100;
}

.ph-home-register-box p{
    width: 70%;
}

.ph-home-register-box.seller a{
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.ph-home-register-box.logestic a{
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.ph-home-heading{
    text-align: center;
    margin-bottom: 25px;
}

.ph-home-heading h3{
    display: inline-flex;
    position: relative;
    background: #F2D428;
    padding: 10px 30px;
}

.ph-home-heading h3:before{
    content: '';
    width: 50px;
    height: 2px;
    background: #F2D428;
    position: absolute;
    right: -60px;
    top: 48%;
}

.ph-home-heading h3:after{
    content: '';
    width: 50px;
    height: 2px;
    background: #F2D428;
    position: absolute;
    left: -60px;
    top: 48%;
}

.ph-home-latest-slider{
    background: #EEEEEE;
    padding: 40px 0;
}

.ph-home-product-title{
    font-size: 18px;
    display: block;
    margin: 10px 0;
    text-align: center;
}

.ph-default-products-slider{
    position: relative;
}

.ph-default-products-slider .owl-nav{
    position: absolute;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ph-default-products-slider .owl-nav button{
    width: 30px !important;
    height: 30px !important;
    background: #043C87 !important;
    color: #fff !important;
    margin: 0 !important;
    font-size: 25px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.ph-home-product-img img {
    width: 100%;
    height: 250px;
}

/*
=======================================================
    Product Single Page
=======================================================
*/

.ph-page-wrapper{
    padding: 100px 0 40px;
    position: relative;
}

.ph-page-wrapper.ph-home-page{
    padding: 0 0 40px;
}

.ph-single-product-gallery{
    display: flex;
    margin: 20px 0;
}

.ph-single-product-gallery a{
    display: inline-flex;
    margin: 0 5px;
    width: 103px;
    height: 103px;
}

.ph-single-product-gallery a:first-child{
    margin-right: 0;
}

.ph-single-product-gallery a:last-child{
    margin-left: 0;
}

.ph-single-product-base-price,
.ph-single-product-final-price{
    display: flex;
    align-items: center;
}

.ph-single-product-details-wrapper{
    height: 100%;
    position: relative;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 0 25px 0 25px;
}

.ph-single-product-details-bottom{
    position: absolute;
    bottom: 0;
}

.ph-single-product-label{
    font-size: 20px;
    margin-left: 10px;
    color: #618BB4;
    font-weight: 600;
}

.ph-single-product-atts-summary label{
    font-weight: 600;
}

.ph-product-small-text{
    font-size: 14px;
}

.ph-single-product-calculator p{
    font-weight: 600;
}

.ph-single-product-quantity input{
    width: 100px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left: 10px;
}

.ph-single-product-quantity span{
    font-size: 16px;
}

.ph-submit-order-btn{
    background: #00A693;
    color: #fff;
    padding: 15px 30px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

.ph-submit-order-btn:hover{
    background: #618BB4;
    color: #fff;
}

.ph-need-sample-btn{
    background: #F1BF7D;
    color: #fff;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

.ph-need-sample-btn:hover{
    background: #F2D428;
    color: #fff;
}

.ph-single-product-specification{
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
}

.ph-single-product-specification-table label{
    font-weight: 600;
}

/*
=======================================================
    Product Archive Page
=======================================================
*/

.ph-list-product-container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.ph-list-product-sidebar{
    width: 20%;
    min-width: 20%;
    margin-left: 3%;
    padding: 20px;
    border: 1px solid #ccc;
}

.ph-list-product-content{
    width: 77%;
    min-width: 77%;
    padding: 20px;
    border: 1px solid #ccc;
}

.ph-list-product-sidebar-widget{
    width: 100%;
    margin-bottom: 20px;
}

.ph-list-product-sidebar-filter-box h5{
    font-size: 16px;
}

.ph-list-product-sidebar-search-box input{
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
}

.custom-control-label{
    padding-right: 1.5rem;
}

.custom-control-label::before{
    right: 0;
    left: auto;
}

.ph-list-product-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px 0;
}

.ph-list-product-sort-wrapper{
    display: flex;
    width: 100%;
}

.ph-list-product-sort-item{
    background: #618BB4;
    color: #fff;
    padding: 3px 20px;
    margin-left: 15px;
    font-size: 13px;
    cursor: pointer;
}

.ph-list-product-loop-item{
    overflow: hidden;
    margin-bottom: 40px;
}

.ph-list-product-loop-item-img{
    position: relative;
}

.ph-list-product-loop-item-img a img{
    height: 250px;
    width: 100%;
}

.ph-list-product-loop-item-city{
    position: absolute;
    top: 0;
    left: 0;
    background: #F2D428;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    width: 110px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.ph-list-product-loop-item-content{
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    padding: 10px 0 0;
}

.ph-list-product-loop-item-title{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.ph-list-product-loop-item-meta-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ph-list-product-loop-item-meta{
    display: flex;
    align-items: center;
}

.ph-list-product-loop-item-meta label{
    font-weight: 600;
    margin: 0 0 0 5px;
}

.ph-list-product-loop-item.list-view{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-img{
    width: 15%;
    height: 110px;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-img a img {
    height: 110px;
    width: 100%;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-content{
    width: 83%;
    margin-right: 2%;
    height: 110px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-title{
    text-align: right;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-meta-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.ph-list-product-loop-item.list-view .ph-list-product-item-price{
    width: 210px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.ph-list-product-loop-item.list-view .ph-list-product-loop-item-city{
    border-radius: 10px;
    top: 10px;
    left: 5px;
}

.ph-list-product-item-price{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background: #00A693;
    margin: -1px;
}

.ph-list-product-pagination{
    display: flex;
    justify-content: flex-end;
}

.ph-list-product-pagination .page-item:first-child .page-link {
    margin-left: 0;
    border-top-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: 0;
}

.ph-list-product-pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.ph-list-product-pagination .page-item.active .page-link {
    background-color: #618BB4;
    border-color: #618BB4;
}

.ph-list-product-pagination .page-link{
    color: #618BB4;
}

.nav-pills .nav-link{
    font-size: 13px;
    padding: 3px 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #618BB4;
}

/*
=======================================================
    Footer
=======================================================
*/

.ph-top-footer-wrapper{
    background: #022C3B;
    padding: 40px 0;
}

.ph-footer-widget-heading h5{
    font-size: 16px;
    color: #fff;
    opacity: .9;
}

.ph-footer-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ph-footer-menu ul li{
    margin: 5px 0;
}

.ph-footer-menu ul li a{
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: .8;
}

.ph-footer-menu ul li a:before{
    content: '\f0c1';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
}

.ph-footer-contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ph-footer-contact ul li{
    margin: 5px 0;
}

.ph-footer-contact ul li a{
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: .8;
}

.ph-footer-contact ul li a i{
    margin-left: 5px;
}

.ph-bottom-footer-wrapper{
    width: 100%;
    background: #2b2b2b;
    padding: 10px 0;
}

.ph-bottom-footer-wrapper p{
    margin: 0;
    font-size: 13px;
    color: #fff;
}

.ph-footer-design{
    text-align: left;
}

.ph-footer-design a{
    color: #6D97CD;
}