<li class="nav-item active">
    <a class="nav-link" href="{% url 'users:admin_dashboard' %}">داشبورد<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="user-management" data-toggle="collapse"
       data-target="#collapse-user-management" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت کاربران</a>
    <ul class="nav-second-level collapse" id="collapse-user-management" data-parent="#user-management">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_admin' %}">
                <span class="nav-link-text">ادمین</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_buyer' %}">
                <span class="nav-link-text">خریدار</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_seller' %}">
                <span class="nav-link-text">فروشنده</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_logistic' %}">
                <span class="nav-link-text">حمل و نقل</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-product" data-toggle="collapse"
       data-target="#collapse-manage-product" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت محصولات</a>
    <ul class="nav-second-level collapse" id="collapse-manage-product" data-parent="#manage-product">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">محصولات</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-order" data-toggle="collapse"
       data-target="#collapse-manage-order" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت سفارشات</a>
    <ul class="nav-second-level collapse" id="collapse-manage-order" data-parent="#manage-order">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">سفارشات</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-invoice" data-toggle="collapse"
       data-target="#collapse-manage-invoice" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت صورتحساب</a>
    <ul class="nav-second-level collapse" id="collapse-manage-invoice" data-parent="#manage-invoice">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">صورتحساب</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-contract" data-toggle="collapse"
       data-target="#collapse-manage-contract" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت قرارداد</a>
    <ul class="nav-second-level collapse" id="collapse-manage-contract" data-parent="#manage-contract">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">قرارداد</span>
            </a>
        </li>
    </ul>
</li>