<li class="nav-item active">
    <a class="nav-link" href="{% url 'users:admin_dashboard' %}">داشبورد<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="user-management" data-toggle="collapse"
       data-target="#collapse-user-management" aria-controls="collapseSubItems4" aria-expanded="false">کاربران</a>
    <ul class="nav-second-level collapse" id="collapse-user-management" data-parent="#user-management">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_admin' %}">
                <span class="nav-link-text">مدیریت ادمین</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_admin' %}">
                <span class="nav-link-text">ساخت ادمین(تست)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_buyer' %}">
                <span class="nav-link-text">مدیریت خریداران</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_buyer' %}">
                <span class="nav-link-text">ساخت خریدار(تست)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_seller' %}">
                <span class="nav-link-text">مدیریت فروشندگان</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_seller' %}">
                <span class="nav-link-text">ساخت فروشندگان(تست)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_logistic' %}">
                <span class="nav-link-text">مدیریت حمل و نقل</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_logistic' %}">
                <span class="nav-link-text">ساخت حمل و نقل(تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-product" data-toggle="collapse"
       data-target="#collapse-manage-product" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت محصولات</a>
    <ul class="nav-second-level collapse" id="collapse-manage-product" data-parent="#manage-product">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_product' %}">
                <span class="nav-link-text">لیست محصولات</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_product' %}">
                <span class="nav-link-text">افزودن محصول جدید</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_qc_product' %}">
                <span class="nav-link-text">محصولات در انظار تایید</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_qc_product_details' %}">
                <span class="nav-link-text">بررسی محصول (تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-order" data-toggle="collapse"
       data-target="#collapse-manage-order" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت سفارشات</a>
    <ul class="nav-second-level collapse" id="collapse-manage-order" data-parent="#manage-order">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">سفارشات</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-invoice" data-toggle="collapse"
       data-target="#collapse-manage-invoice" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت صورتحساب</a>
    <ul class="nav-second-level collapse" id="collapse-manage-invoice" data-parent="#manage-invoice">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">صورتحساب</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-contract" data-toggle="collapse"
       data-target="#collapse-manage-contract" aria-controls="collapseSubItems4" aria-expanded="false">مدیریت قرارداد</a>
    <ul class="nav-second-level collapse" id="collapse-manage-contract" data-parent="#manage-contract">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">قرارداد</span>
            </a>
        </li>
    </ul>
</li>