<li class="nav-item active">
    <a class="nav-link" href="{% url 'users:admin_dashboard' %}">داشبورد<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:admin_dashboard' %}">تنظیمات سایت</a>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-users" data-toggle="collapse"
       data-target="#collapse-manage-users" aria-controls="collapse-manage-users" aria-expanded="false">کاربران</a>
    <ul class="nav-second-level collapse" id="collapse-manage-users" data-parent="#manage-users">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_admin' %}">
                <span class="nav-link-text">مدیریت ادمین</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_admin' %}">
                <span class="nav-link-text">ساخت ادمین(تست)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_seller' %}">
                <span class="nav-link-text">مدیریت فروشندگان</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_seller' %}">
                <span class="nav-link-text">ساخت فروشندگان(تست)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_logistic' %}">
                <span class="nav-link-text">مدیریت حمل و نقل</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_logistic' %}">
                <span class="nav-link-text">ساخت حمل و نقل(تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-categories" data-toggle="collapse"
       data-target="#collapse-manage-categories" aria-controls="collapse-manage-categories" aria-expanded="false">مدیریت
        دسته بندی ها</a>
    <ul class="nav-second-level collapse" id="collapse-manage-categories" data-parent="#manage-categories">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_category' %}">
                <span class="nav-link-text">مشاهده دسته بندی ها</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_add_category' %}">
                <span class="nav-link-text">افزودن دسته بندی</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-products" data-toggle="collapse"
       data-target="#collapse-manage-products" aria-controls="collapse-manage-products" aria-expanded="false">مدیریت
        محصولات</a>
    <ul class="nav-second-level collapse" id="collapse-manage-products" data-parent="#manage-products">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_list_product' %}">
                <span class="nav-link-text">لیست محصولات</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal"
               data-target="#ph_Add_Product_Modal">
                <span class="nav-link-text">افزودن محصول جدید</span>
            </a>

            <div class="modal fade bd-example-modal-lg ph-add-product-modal ph-modal direction-rtl" id="ph_Add_Product_Modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">فروشنده مورد نظر را انتخاب کنید:</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="ph_myscroll" class="modal-body scroll-bar">

                            <div class="ph-managements-container">
                                <div class="ph-managements-filter-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                                    <div class="form-row">
                                        <div class="col mb-3">
                                            <div class="ph-managements-filter-item filter-id">
                                                <label for="">ID</label>
                                                <input type="text" class="form-control" id="" placeholder="ID فروشنده"
                                                       value="">
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div><!-- .valid-feedback -->
                                            </div><!-- ph-managements-filter-item -->
                                        </div><!-- col -->
                                        <div class="col mb-3">
                                            <div class="ph-managements-filter-item filter-name">
                                                <label for="">نام و نام‌خانوادگی</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="نام و نام‌خانوادگی فروشنده"
                                                       value="">
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div><!-- .valid-feedback -->
                                            </div><!-- ph-managements-filter-item -->
                                        </div><!-- col -->
                                        <div class="col mb-3">
                                            <div class="ph-managements-filter-item filter-city">
                                                <label for="">شهر</label>
                                                <input list="origin_city" class="form-control" placeholder="نام شهر">
                                                <datalist id="origin_city">
                                                    <option value="تهران">
                                                    <option value="شیراز">
                                                    <option value="کرج">
                                                    <option value="کرمان">
                                                    <option value="مشهد">
                                                </datalist>
                                            </div><!-- ph-managements-filter-item -->
                                        </div><!-- col -->
                                    </div><!-- form-row -->
                                    <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو</button>
                                </div><!-- .ph-managements-filter-wrapper ph-admin-page-list-container -->
                                <div class="ph-managements-table-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                                    <div class="ph-managements-table table-responsive">
                                        <table class="table ph-table table-bordered text-center">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>ردیف</th>
                                                    <th>ID</th>
                                                    <th>نام و نام‌خانوادگی</th>
                                                    <th>ایمیل</th>
                                                    <th>کدملی</th>
                                                    <th>شماره موبایل</th>
                                                    <th>تلفن ثابت</th>
                                                    <th>شهر</th>
                                                    <th>وضعیت</th>
                                                    <th>عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>gh-12r35tt</td>
                                                    <td>مصطفی چراغی</td>
                                                    <td>sample@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>09123456789</td>
                                                    <td>02122446688</td>
                                                    <td>شیراز</td>
                                                    <td>درانتظار تایید</td>
                                                    <td>
                                                        <a href="{% url 'users:admin_add_product' %}"
                                                           class="ph-btn ph-managements-btn qc"><i
                                                                class="fas fa-mouse-pointer"></i>انتخاب</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- .ph-managements-table -->
                                </div><!-- .ph-managements-table-wrapper ph-admin-page-list-container -->
                            </div><!-- .ph-managements-container -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ph_Add_Product_Modal ph-modal -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_qc_product' %}">
                <span class="nav-link-text">محصولات در انتظار تایید</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_qc_product_details' %}">
                <span class="nav-link-text">بررسی محصول (تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:admin_list_auction' %}">بررسی مناقصه‌ها</a>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-qc" data-toggle="collapse"
       data-target="#collapse-manage-qc" aria-controls="collapse-manage-qc" aria-expanded="false">در انتظار تایید</a>
    <ul class="nav-second-level collapse" id="collapse-manage-qc" data-parent="#manage-qc">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">فروشندگان</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_qc_seller' %}">
                <span class="nav-link-text">بررسی فروشنده (تست)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">حمل و نقل</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:admin_qc_logistic' %}">
                <span class="nav-link-text">بررسی راننده (تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:admin_list_order' %}">مدیریت سفارشات</a>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-invoices" data-toggle="collapse"
       data-target="#collapse-manage-invoices" aria-controls="collapse-manage-invoices" aria-expanded="false">مدیریت
        صورتحساب</a>
    <ul class="nav-second-level collapse" id="collapse-manage-invoices" data-parent="#manage-invoices">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">صورتحساب</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="manage-contracts" data-toggle="collapse"
       data-target="#collapse-manage-contracts" aria-controls="collapse-manage-contracts" aria-expanded="false">مدیریت
        قرارداد</a>
    <ul class="nav-second-level collapse" id="collapse-manage-contracts" data-parent="#manage-contracts">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="nav-link-text">قرارداد</span>
            </a>
        </li>
    </ul>
</li>