<li class="nav-item active">
    <a class="nav-link" href="{% url 'users:buyer_dashboard' %}">داشبورد<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link {% if not user.is_accepted %}disallow{% endif %}" href="{% url 'users:buyer_list_order' %}">سفارش ها</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if not user.is_accepted %}disallow{% endif %}" href="{% url 'users:buyer_list_invoice' %}">صورتحساب ها</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if not user.is_accepted %}disallow{% endif %}" href="{% url 'users:buyer_sample_list' %}">درخواست های نمونه</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if not user.is_accepted %}disallow{% endif %}" href="{% url 'users:buyer_sample_detail' %}">جزئیات درخواست های نمونه(تست)</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:profile_buyer' %}">پروفایل</a>
</li>
