<li class="nav-item active">
    <a class="nav-link" href="{% url 'users:logistic_dashboard' %}">داشبورد<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logistic_list_auction' %}">مناقصه های فعال</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logistic_list_bid' %}">مناقصه های من</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logistic_view_bid' %}">جزئیات مناقصه من (تست)</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logistic_list_invoice' %}">صورتحساب</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:profile_logistic' %}">پروفایل</a>
</li>
