<li class="nav-item active">
    <a class="nav-link" href="{% url 'users:logistic_dashboard' %}">داشبورد<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logistic_list_order' %}">سفارش ها</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logistic_view_order' %}">جزئیات سفارش‌(تست)</a>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="logistic-auction" data-toggle="collapse"
       data-target="#collapse-logistic-auction" aria-controls="collapseSubItems4" aria-expanded="false">مناقصه</a>
    <ul class="nav-second-level collapse" id="collapse-logistic-auction" data-parent="#logistic-auction">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logistic_list_auction' %}">
                <span class="nav-link-text">مناقصه های فعال</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logistic_list_bid' %}">
                <span class="nav-link-text">مناقصه های من</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logistic_view_bid' %}">
                <span class="nav-link-text">جزئیات مناقصه من (تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-link-collapse" href="#" id="logistic-invoice" data-toggle="collapse"
       data-target="#collapse-logistic-invoice" aria-controls="collapseSubItems4" aria-expanded="false">فاکتور ها</a>
    <ul class="nav-second-level collapse" id="collapse-logistic-invoice" data-parent="#logistic-invoice">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logistic_list_invoice' %}">
                <span class="nav-link-text">صورتحساب</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logistic_view_invoice' %}">
                <span class="nav-link-text">جزئیات صورتحساب (تست)</span>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:seller_list_order' %}">پروفایل</a>
</li>
