<h4 class="text-center">فروشنده</h4>
<li class="nav-item">
    <ul>
        {% include 'partials/panel/seller.html' %}
    </ul>
</li>
<h4 class="text-center">خریدار</h4>
<li class="nav-item">
    <ul>
        {% include 'partials/panel/buyer.html' %}
    </ul>
</li>
<h4 class="text-center">باربری</h4>
<li class="nav-item">
    <ul>
        {% include 'partials/panel/logistic.html' %}
    </ul>
</li>
<h4 class="text-center">ادمین</h4>
<li class="nav-item">
    <ul>
        {% include 'partials/panel/admin.html' %}
    </ul>
</li>