{% extends 'base_admin.html' %}
{% load static %}



{% block admin_content %}
<main class="ph-dashboard-main seller-panel ph-seller-dashboard">
    <div class="container">
        <div class="ph-dm-title">
            <div class="title">داشبورد پنل فروشندگان</div>
        </div>
        <div class="ph-dm-panel">
            <div class="row">
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-info">
                        <div class="title">مشخصات کاربری</div>
                        <ul>
                            <li>کد فروشنده: <span>123456</span></li>
                            <li>نام فروشنده: <span>مصطفی چراغی</span></li>
                            <li>نام تجاری: <span>معدنکاران</span></li>
                        </ul>
                        <div class="ph-button">
                            <a href="#" class="ph-btn">پروفایل<i class="fas fa-arrow-left"></i></a>
                        </div><!-- ph-button -->
                    </div><!-- ph-dmp-section-1 ph-user-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-product-info">
                        <div class="title">مدیریت محصولات</div>
                        <ul>
                            <li>تعداد کالاهای درج‌شده: <span>۱۲</span></li>
                            <li>تعداد کالاهای تاییدشده: <span>۴۵</span></li>
                            <li>کالاهای درانتظار تایید: <span>۷۸</span></li>
                            <li>بررسی مجدد: <span>۱</span></li>
                            <li>کالاهای رد شده: <span>۰</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-product-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">سفارشات</div>
                        <ul>
                            <li>تعداد سفارش: <span>۱۲</span></li>
                            <li>سفارش‌های انجام شده: <span>۷۸</span></li>
                            <li>سفارش‌های درحال انجام: <span>۴۵</span></li>
                            <li>سفارشات در انتظار بررسی: <span>۱</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <a href="#" class="ph-dmp-section-add ph-dash-add-product">
                        <span>افزودن محصول جدید </span>
                        <i class="fas fa-plus"></i>
                    </a><!-- ph-dmp-section-add ph-dash-add-product -->
                    <a href="#" class="ph-dmp-section-add ph-dash-list-product">
                        <span>لیست محصولات </span>
                        <i class="fas fa-th-list"></i>
                    </a><!-- ph-dmp-section-add ph-dash-list-product -->
                    <a href="#" class="ph-dmp-section-add ph-dash-view-orders">
                        <span>مشاهده سفارشات </span>
                        <i class="fas fa-list-ul"></i>
                    </a><!-- ph-dmp-section-add ph-dash-view-orders -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-mine-address">
                        <div class="title">اخرین معادن ثبت شده</div>
                        <ul>
                            <li>نام اولین معدن ثبت شده</li>
                            <li>نام دومین معدن ثبت شده</li>
                            <li>نام سومین معدن ثبت شده</li>
                            <li>نام چهارمین معدن ثبت شده</li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-dash-condition-panel">
                        <div class="title">وضعیت پنل</div>
                        <span>در انتظار تایید</span>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
            </div><!-- row -->
        </div><!-- ph-dm-panel -->
    </div><!-- container -->
</main><!-- ph-dashboard-main seller-panel ph-seller-dashboard -->
{% endblock %}
