{% extends 'base_admin.html' %}
{% load static %}



{% block admin_content %}
<main class="ph-dashboard-main ph-seller-panel ph-seller-dashboard">
    <div class="container">
        <div class="ph-dm-title">
            <div class="title">داشبورد پنل فروشندگان</div>
        </div>
        <div class="ph-dm-panel ph-box-shadow">
            <div class="row">
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-info">
                        <div class="title">مشخصات کاربری</div>
                        <ul>
                            <li>کد فروشنده: <span>{{ user.id }}</span></li>
                            <li>نام فروشنده: <span>{{ user.profile.get_full_name }}</span></li>
                        </ul>
                        <div class="ph-button">
                            <a href="{% url 'users:profile_seller' %}" class="ph-btn">پروفایل<i class="fas fa-arrow-left"></i></a>
                        </div><!-- ph-button -->
                    </div><!-- ph-dmp-section-1 ph-user-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-product-info">
                        <div class="title">مدیریت محصولات</div>
                        <ul>
                            <li>کالاهای پیش نویس: <span>{{ product_queryset.draft.count }}</span></li>
                            <li>کالاهای درانتظار تایید: <span>{{ product_queryset.pending.count }}</span></li>
                            <li>تعداد کالاهای تاییدشده: <span>{{ product_queryset.accepted.count }}</span></li>
                            <li>کالاهای رد شده: <span>{{ product_queryset.rejected.count }}</span></li>
                            <li>تعداد کالاهای درج‌ شده: <span>{{ product_queryset.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-product-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">سفارشات</div>
                        <ul>
                            <li>تعداد سفارش: <span>{{ order_queryset.count }}</span></li>
                            <li>سفارشات درحال انجام: <span>{{ order_queryset.rejected.count }}</span></li>
                            <li>سفارشات در انتظار بررسی: <span>{{ order_queryset.pending.count }}</span></li>
                            <li>سفارشات انجام شده: <span>{{ order_queryset.accepted.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <a href="{% url 'users:seller_add_product' %}" class="ph-dmp-section-add ph-dash-add-product">
                        <span>افزودن محصول جدید </span>
                        <i class="fas fa-plus"></i>
                    </a><!-- ph-dmp-section-add ph-dash-add-product -->
                    <a href="{% url 'users:seller_list_product' %}" class="ph-dmp-section-add ph-dash-list-product">
                        <span>لیست محصولات </span>
                        <i class="fas fa-th-list"></i>
                    </a><!-- ph-dmp-section-add ph-dash-list-product -->
                    <a href="{% url 'users:seller_list_order' %}" class="ph-dmp-section-add ph-dash-view-orders">
                        <span>مشاهده سفارشات </span>
                        <i class="fas fa-list-ul"></i>
                    </a><!-- ph-dmp-section-add ph-dash-view-orders -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-mine-address">
                        <div class="title">اخرین معادن/کارخانه‌های ثبت شده</div>
                        <ul>
                            {% for mine in user.mines.all %}
                                <li>{{ mine.title }}</li>
                            {% endfor %}

                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-dash-condition-panel">
                        <div class="title">وضعیت پنل</div>
                        <span>{{ user.get_state_display }}</span>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
            </div><!-- row -->
        </div><!-- ph-dm-panel ph-box-shadow -->
    </div><!-- container -->
</main><!-- ph-dashboard-main seller-panel ph-seller-dashboard -->
{% endblock %}
