{% extends 'base_admin.html' %}
{% load static %}



{% block admin_content %}
    <main class="ph-seller-profile ph-dashboard-main">
        <div class="container">
            <form action="" id="ph_seller_profile_form" role="form">
                <div id="ph_seller_profile_page" class="ph-seller-profile-page form-group">
                    <div class="ph-seller-profile-panel">
                        <div class="ph-spp-tab-navs ph-border-radius bg-color-5 ph-box-shadow mb-3">

                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <a class="nav-item nav-link active" id="nav-businessinfo-tab" data-toggle="tab"
                                       href="#nav-businessinfo" role="tab" aria-controls="nav-businessinfo"
                                       aria-selected="true">اطلاعات فروشنده</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-bankinfo-tab" data-toggle="tab"
                                       href="#nav-bankinfo" role="tab" aria-controls="nav-bankinfo"
                                       aria-selected="false">اطلاعات بانکی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                       href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">اطلاعات
                                        تماس و آدرس‌ها</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-contract-tab" data-toggle="tab"
                                       href="#nav-contract" role="tab" aria-controls="nav-contract"
                                       aria-selected="false">اطلاعات قرارداد</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-documents-tab" data-toggle="tab"
                                       href="#nav-documents" role="tab" aria-controls="nav-documents"
                                       aria-selected="false">بارگذاری مدارک</a>
                                </li>
                            </ul>
                        </div>
                        <!-- ph-spp-tab-navs -->

                        <div id="nav-tabContent" class="ph-spp-tab-contents tab-content">

                            <div class="tab-pane fade show active" id="nav-businessinfo" role="tabpanel" aria-labelledby="nav-businessinfo-tab">
                                <div class="ph-spp-t-wrapper">
                                    <div class="ph-spp-t-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات فروشنده</span>
                                            <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="form-group col-4 my-1">
                                                <label for="1">کد فروشنده</label>
                                                <input type="text" readonly class="form-control" id="1"
                                                       placeholder="234345">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="2">نوع فروشنده</label>
                                                <input type="text" readonly class="form-control" id="2" placeholder="حقیقی">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="3">نام تجاری</label>
                                                <input type="text" readonly class="form-control" id="3"
                                                       placeholder="پلن‌هاب">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="4">نام</label>
                                                <input type="text" readonly class="form-control" id="4" placeholder="مصطفی">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="5">نام خانوادگی</label>
                                                <input type="text" readonly class="form-control" id="5" placeholder="چراغی">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="6">جنسیت</label>
                                                <select class="custom-select" disabled="disabled">
                                                    <option selected>مرد</option>
                                                    <option value="1">زن</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="7">تاریخ تولد:</label>
                                                <input type="text" readonly class="form-control" id="7"
                                                       placeholder="۱۳۹۹/۱۱/۱">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="8">کد ملی</label>
                                                <input type="text" readonly class="form-control" id="8"
                                                       placeholder="۰۰۸۱۸۰۳۴۸۶">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="9">شماره شناسنامه</label>
                                                <input type="text" readonly class="form-control" id="9" placeholder="۱۲۸۰۸">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="10">مشمولیت مالیات بر ارزش افزوده</label>
                                                <select class="custom-select" disabled="disabled">
                                                    <option selected>خیر</option>
                                                    <option value="1">بله</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- form-row -->
                                    </div>
                                    <!-- ph-spp-t-content -->
                                </div>
                                <!-- ph-spp-t-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-businessinfo -->

                            <div class="tab-pane fade" id="nav-bankinfo" role="tabpanel" aria-labelledby="nav-bankinfo-tab">
                                <div class="ph-spp-t-wrapper">
                                    <div class="ph-spp-t-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات حساب بانکی</span>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="form-group col-4 my-1">
                                                <label for="11">شماره شبا</label>
                                                <input type="text" readonly class="form-control" id="11"
                                                       placeholder="IR120570022210012813960001">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="12">صاحب / صاحبان حساب</label>
                                                <input type="text" readonly class="form-control text-left" id="12"
                                                       placeholder="مصطفی چراغی">
                                            </div>
                                        </div>
                                        <!-- form-row -->
                                        <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                    </div>
                                    <!-- ph-spp-t-content -->
                                </div>
                                <!-- ph-spp-t-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-bankinfo -->

                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="ph-spp-t-wrapper">
                                    <div class="ph-spp-t-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات تماس و آدرس فروشنده</span>
                                            <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="form-group col-4 my-1">
                                                <label for="13">ایمیل</label>
                                                <input type="email" readonly class="form-control" id="13"
                                                       placeholder="nivashop.ir@gmail.com">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="14">تلفن همراه</label>
                                                <input type="number" readonly class="form-control text-left" id="14"
                                                       placeholder="۰۹۱۹۲۷۱۷۰۳۵">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="15">وب سایت</label>
                                                <input type="text" readonly class="form-control text-left" id="15"
                                                       placeholder="planhub.ir">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="16">استان</label>
                                                <select class="custom-select" disabled="disabled">
                                                    <option selected>تهران</option>
                                                    <option value="1">کهگیلویه و بویر احمد</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="17">شهر</label>
                                                <select class="custom-select" disabled="disabled">
                                                    <option selected>تهران</option>
                                                    <option value="1">کهگیلویه و بویر احمد</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-12 my-1">
                                                <label for="18">آدرس</label>
                                                <input type="text" readonly class="form-control" id="18"
                                                       placeholder="بلوار کاوه، خیابان روشنایی، خیابان بهار شمالی، بن بست حبیب الهی، پلاک ۱۲، واحد ۷">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="19">کد پستی</label>
                                                <input type="number" readonly class="form-control text-left" id="19"
                                                       placeholder="۱۹۳۱۸۸۳۱۵۸">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="20">تلفن ثابت</label>
                                                <input type="number" readonly class="form-control text-left" id="20"
                                                       placeholder="۰۲۱-۱۹۳۱۸۸۳۱">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="21">موقعیت مکانی</label>
                                                <input type="text" readonly class="form-control text-left" id="21"
                                                       placeholder=":::">
                                            </div>
                                        </div>
                                        <!-- form-row -->
                                    </div>
                                    <!-- ph-spp-t-content -->
                                    <div class="ph-spp-t-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">آدرس معادن</span>
                                        </div>
                                        <div class="customer_records">
                                            <div class="form-row align-items-center">
                                                <div class="form-group col-4 my-1">
                                                    <label for="al_1">نام معدن</label>
                                                    <input type="text" class="form-control text-left" id="al_1"
                                                           placeholder="معدن مس میدوک کرمان">
                                                </div>

                                                <div class="form-group col-4 my-1">
                                                    <label class="ml-2" for="state">استان</label>
                                                    <input list="states" class="form-control" id="state">
                                                    <datalist id="states">
                                                        <option value="تهران">
                                                        <option value="فارس">
                                                    </datalist>
                                                </div>

                                                <div class="form-group col-4 my-1">
                                                    <label class="mx-2" for="city">شهر</label>
                                                    <input list="cities" class="form-control" id="city">
                                                    <datalist id="cities">
                                                        <option value="تهران">
                                                        <option value="شیراز">
                                                    </datalist>
                                                </div>

                                                <div class="form-group col-12 my-1">
                                                    <label for="al_2">آدرس دقیق معدن</label>
                                                    <input type="text" class="form-control" id="al_2"
                                                           placeholder="بلوار کاوه، خیابان روشنایی، خیابان بهار شمالی، بن بست حبیب الهی، پلاک ۱۲، واحد ۷">
                                                </div>

                                                <div class="form-group col-4 my-1">
                                                    <label for="al_3">نام جاده اصلی</label>
                                                    <input type="text" class="form-control text-left" id="al_3"
                                                           placeholder="جاده اصلی">
                                                </div>

                                                <div class="form-group col-4 my-1">
                                                    <label for="al_4">فاصله تا جاده اصلی (کیلومتر)</label>
                                                    <input type="number" class="form-control text-left" id="al_4"
                                                           placeholder="۵۰">
                                                </div>

                                            </div>
                                            <!-- form-row -->
                                            <a class="extra-fields-customer ph-btn" href="#">اضافه کردن معدن</a>
                                        </div>
                                        <!-- customer_records -->
                                        <div class="customer_records_dynamic"></div>
                                    </div>
                                    <!-- ph-spp-t-content -->
                                </div>
                                <!-- ph-spp-t-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-contact -->

                            <div class="tab-pane fade" id="nav-contract" role="tabpanel" aria-labelledby="nav-contract-tab">
                                <div class="ph-spp-t-wrapper">
                                    <div class="ph-spp-t-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات قرارداد</span>
                                            <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                        </div>
                                        <div class="form-row align-items-center">
                                            خهت خ ت خ ت خ د خد خ د مندمندمخ دنندختد ندتختند ختدتدنتدذن تندنت ذت ذ دتد
                                        </div>
                                        <!-- form-row -->
                                    </div>
                                    <!-- ph-spp-t-content -->
                                </div>
                                <!-- ph-spp-t-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-contract -->

                            <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab">
                                <div class="ph-spp-t-wrapper">
                                    <div class="ph-spp-t-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">بارگذاری مدارک</span>
                                            <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                        </div>
                                        <table class="ph-table table table-bordered text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                        <th scope="col">ردیف</th>
                                        <th scope="col">تصویر مدرک</th>
                                        <th scope="col">عنوان مدرک</th>
                                        <th scope="col">وضعیت</th>
                                        <th scope="col">تاریخ انقضا</th>
                                        <th scope="col">عملیات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <th scope="row">۱</th>
                                        <td><img src="" alt=""></td>
                                        <td>کارت ملی</td>
                                        <td>تایید شده</td>
                                        <td></td>
                                        <td></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">۲</th>
                                        <td><img src="" alt=""></td>
                                        <td>تصویر پشت کارت ملی</td>
                                        <td>تایید شده</td>
                                        <td></td>
                                        <td></td>
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                    <!-- ph-spp-t-content -->
                                </div>
                                <!-- ph-spp-t-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-documents -->
                        </div>
                        <!-- ph-spp-tab-contents -->
                    </div>
                    <!-- ph-seller-profile-panel -->
                </div>
                <!-- ph-seller-profile-page -->

            </form>
            <!-- #ph_seller_profile_form -->

        </div>
        <!-- container -->

    </main>
    <!-- ph-seller-profile -->

{% endblock %}

{% block footer_static %}
<script>
        $('.extra-fields-customer').click(function () {
            $('.customer_records').clone().appendTo('.customer_records_dynamic');
            $('.customer_records_dynamic .customer_records').addClass('single remove');
            $('.single .extra-fields-customer').remove();
            $('.single').append('<a href="#" class="remove-field btn-remove-customer">حذف معدن<i class="fas fa-times"></i></a>');
            $('.customer_records_dynamic > .single').attr("class", "remove");

            $('.customer_records_dynamic input').each(function () {
                var count = 0;
                var fieldname = $(this).attr("name");
                $(this).attr('name', fieldname + count);
                count++;
            });

        });

        $(document).on('click', '.remove-field', function (e) {
            $(this).parent('.remove').remove();
            e.preventDefault();
        });
    </script>
{% endblock %}