{% extends 'base_frontend.html' %}
{% load static %}
{% load humanize %}
{% load utils %}


{% block title %}
    بازنشانی رمز عبور
{% endblock %}

{% block frontend_content %}
 <div class="ph-page-wrapper ph-reset-password">
        <main class="ph-main-content">
            <div class="ph-content-entry">
                <div class="container">
                    <div class="ph-inside-pages-content">
                        <h1>فراموشی رمز عبور</h1>
                        <div class="ph-reset-password-container">
                            <p>لینک بازنشانی رمز عبور برای شما ارسال شد. لطفا ایمیل خود (همچنین فولدر Spam) را چک نمایید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
 </div>
{% endblock %}