{% extends 'base_frontend.html' %}
{% load static %}
{% load humanize %}
{% load utils %}


{% block title %}
    بازنشانی رمز عبور
{% endblock %}

{% block frontend_content %}
 <div class="ph-page-wrapper ph-reset-password">
        <main class="ph-main-content">
            <div class="ph-content-entry">
                <div class="container">
                    <div class="ph-inside-pages-content">
                        <h1>بازنشانی رمز عبور</h1>
                        <div class="ph-reset-password-container">
                            <p>رمز عبور جدید خود را وارد نمایید.</p>
                            <form action="{% url 'users:password_confirmation' %}?token={{ user.password_reset_token }}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password1" placeholder="رمز عبور جدید">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password2" placeholder="تکرار رمز عبور">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="ph-btn d-inline-flex">ثبت</button>
                                </div>
                                <p class="text-danger">
                                    {{ error }}
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
 </div>
{% endblock %}