{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block meta_content %}
    {{ categories|json_script:"categories" }}
{% endblock %}

{% block title %}
    لیست سفارشات
{% endblock %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-buyer-panel ph-list-order">
        <div class="container">
            <div class="ph-admin-page-container">
                <div class="ph-admin-page-intro-text">
                    <span>لیست سفارشات | </span>
                    در این قسمت می توانید تمامی سفارشات ثبت شده خود را مشاهده کنید.
                </div><!-- .ph-admin-page-intro-text -->
                <div class="ph-admin-page-search-wrapper bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-admin-page-block-header ph-panel-title">
                        <span class="title">جستجو و فیلتر</span>
                    </div><!-- .ph-admin-page-block-header -->
                    <div class="ph-admin-page-block-content">
                        <div class="ph-admin-page-search-form">
                            <form method="get">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="">تاریخ سفارش</label>
                                        <input type="text" class="form-control" name="date" id="order-date"
                                               aria-describedby="Search_Text"
                                               placeholder="تاریخ مورد نظرتان را وارد کنید">
                                    </div><!-- .col -->
                                    <div class="col">
                                        <label for="">کد سفارش</label>
                                        <input type="text" class="form-control" name="id" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="کد سفارش را وارد کنید">
                                    </div><!-- .col -->
                                    <div class="col">
                                        <label for="">کد محصول</label>
                                        <input type="text" class="form-control" name="product_id" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="کد محصول را وارد کنید">
                                    </div><!-- .col -->
                                    <div class="col">
                                        <label for="ph-state"> وضعیت تایید سفارش:</label>
                                        <select name="state" class="form-control custom-select" id="ph-state">
                                            <option value="">انتخاب کنید</option>
                                            {% for state, state_display in order_model.STATE_CHOICES %}
                                                <option value="{{ state }}">{{ state_display }}</option>
                                            {% endfor %}
                                        </select>
                                    </div><!-- .col -->
                                </div><!-- .form-row -->
                                <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو</button>
                            </form>
                        </div><!-- .ph-admin-page-search-form -->
                    </div><!-- .ph-admin-page-block-content -->
                </div><!-- .ph-admin-page-search-wrapper -->
                <div class="ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-admin-page-list-header mb-3">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="ph-admin-page-list-sort justify-content-start">
                                    <p>تعداد نتایج : <span>{{ page_obj.paginator.count }} مورد</span></p>
                                    <div class="form-group row no-gutters">
                                        <label for="ph_admin_page_page_no"
                                               class="col-sm-6 col-form-label col-form-label-sm">تعداد نمایش</label>
                                        <div class="col-sm-6">
                                            <select id="ph_admin_page_page_no" class="form-control" disabled>
                                                <option selected>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col-md-6 -->
                            <div class="col-12 col-md-6">
                                <div class="ph-admin-page-list-pagination ph-pagination justify-content-end">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="{% query_transform p=page_obj.previous %}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% for p in page_obj.paginator.page_range %}
                                                {% if page_obj.number == p %}
                                                    <li class="page-item active"><a class="page-link"
                                                                                    href="{% query_transform p=p %}">{{ p }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="{% query_transform p=p %}">{{ p }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{% query_transform p=page_obj.next %}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .ph-admin-page-list-header -->
                    <div class="ph-admin-page-list-table">
                        <table class="ph-table table table-bordered text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th>کد سفارش</th>
                                <th>کد محصول</th>
                                <th>نام محصول</th>
                                <th>نوع محصول</th>
                                <th>مقدار</th>
                                <th>قیمت</th>
                                <th>تاریخ ثبت سفارش</th>
                                <th>نوع پرداخت</th>
                                <th>وضعیت</th>
                                <th>جزییات</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.pk }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.product.pk }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.product.title }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.product.category.parent.title }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.weight }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.price }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ order.get_persian_timestamp }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            {{ payment_map|get_item:order.payment_type }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                        <span class="ph-admin-table-cell">
                                            {{ order.get_state_display }}
                                        </span>
                                            {% if order.is_rejected %}
                                                <a href="#" class="ph-bell" id="reject-{{ order.id }}"
                                                   data-toggle="modal" data-reject-reason="{{ order.reject_reason }}"
                                                   data-target="#bell-modal">
                                                    <i class="far fa-bell"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            <div class="ph-admin-table-action-btns">
                                                <a href="{% url 'users:buyer_view_order' pk=order.pk %}"
                                                   class="ph-admin-table-action-btn-edit">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="ph-admin-page-list-header">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="ph-admin-page-list-sort justify-content-start">
                                    <p>تعداد نتایج : <span>{{ page_obj.paginator.count }} مورد</span></p>
                                    <div class="form-group row no-gutters">
                                        <label for="ph_admin_page_page_no"
                                               class="col-sm-6 col-form-label col-form-label-sm">تعداد نمایش</label>
                                        <div class="col-sm-6">
                                            <select id="ph_admin_page_page_no" class="form-control" disabled>
                                                <option selected>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="ph-admin-page-list-pagination ph-pagination justify-content-end">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="{% query_transform p=page_obj.previous %}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-right"></i></span>
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% for p in page_obj.paginator.page_range %}
                                                {% if page_obj.number == p %}
                                                    <li class="page-item active"><a class="page-link"
                                                                                    href="{% query_transform p=p %}">{{ p }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="{% query_transform p=p %}">{{ p }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{% query_transform p=page_obj.next %}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-angle-left"></i></span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .ph-admin-page-list-container -->
            </div><!-- .ph-admin-page-container -->
        </div><!-- .container -->
    </main><!-- ph-dashboard-main ph-buyer-panel ph-list-order -->

{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/list_order.js' %}"></script>
{% endblock %}