{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block meta_content %}
    {{ categories|json_script:"categories" }}
{% endblock %}

{% block title %}
    جزییات سفارش
{% endblock %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-buyer-panel ph-view-order">
        <div class="container">
            <div class="ph-admin-page-container ">
                <div class="ph-admin-page-intro-text">
                    <span>جزییات سفارش | </span>
                    در این قسمت می توانید جزییات سفارش خود را مشاهده کنید.
                </div>

                <input class="ph-cp-input-check" id='level2' type='checkbox'>
                <input class="ph-cp-input-check" id='level3' type='checkbox'>
                <input class="ph-cp-input-check" id='level4' type='checkbox'>
                <input class="ph-cp-input-check" id='level5' type='checkbox'>

                <div id="shell1" class="ph-general-attributes form-group">
                    <div class="ph-cp-header-parts shell-1">
                        <ul class="ph-cp-level-1 ph-cp-progressbar">
                            <li><span>تایید سفارش</span><i class="fas fa-sync-alt"></i></li>
                            <li><span>پیش فاکتور</span><i class="fas fa-times"></i></li>
                            <li><span>امضای قرارداد</span><i class="fas fa-times"></i></li>
                            <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                            <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts shell-3 -->
                    <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">
                        <div class="ph-view-order-block">
                            <div class="ph-admin-page-alert ph-box-shadow my-4">
                                <div class="alert alert-warning" role="alert">
                                    <i class="fas fa-info-circle"></i>
                                    لطفا تا تکمیل بررسی وضعیت سفارش تان منتظر بمانید. ادامه روند سفارش پس از تایید مدیر
                                    سایت در مراحل زیر امکانپذیر خواهد بود.
                                </div>
                            </div>
                            <ul class="ph-view-order-checkpoints">
                                <li>
                                    <i class="fas {% if order|order_state_lt:order.STATE_SUBMITTED %}fa-times{% else %}fa-check{% endif %}"></i>
                                    <p>ثبت سفارش</p>
                                </li>
                                <li>
                                    <i class="fas {% if order|order_state_lt:order.STATE_ADMIN %}fa-times{% else %}fa-check{% endif %}"></i>
                                    <p>تایید سایت</p>
                                </li>
                                <li>
                                    <i class="fas {% if order|order_state_lt:order.STATE_SELLER %}fa-times{% else %}fa-check{% endif %}"></i>
                                    <p>تایید از سوی فروشنده</p>
                                </li>
                                <li>
                                    <i class="fas {% if order|order_state_lt:order.STATE_LOGISTIC %}fa-times{% else %}fa-check{% endif %}"></i>
                                    <p>تعیین هزینه حمل و نقل</p>
                                </li>
                            </ul>
                        </div>
                        {% if not order|order_state_lt:order.STATE_LOGISTIC %}
                            <div class="ph-confirmation-order">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="taeed">
                                        <label class="form-check-label" for="taeed">
                                            مراحل را مشاهده کرده و تایید میکنم.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="ph-cpp-btn" role="group" aria-label="...">
                                <label for='level2' id="next-level2" class="ph-cpp-btn-n ph-btnext">
                                    <div id="s-1-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                </label>
                            </div>
                        {% endif %}
                        <!-- ph-cpp-btn -->

                    </div>
                    <!-- ph-cp-panel ph-border-radius ph-white-block ph-box-shadow -->
                </div>
                <!-- shell1 -->

                <div id="shell2" class="ph-upload-detail-product form-group">
                    <div class="ph-cp-header-parts shell-2">
                        <ul class="ph-cp-level-2 ph-cp-progressbar">
                            <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                            <li><span>پیش فاکتور</span><i class="fas fa-sync-alt"></i></li>
                            <li><span>امضای قرارداد</span><i class="fas fa-times"></i></li>
                            <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                            <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts shell-2 -->
                    <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">
                        <div class="ph-view-order-block">
                            <div class="ph-view-order-table">
                                <table class="ph-table table table-bordered text-center">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" rowspan="2">ردیف</th>
                                        <th scope="col" rowspan="2">شماره سفارش</th>
                                        <th scope="col" rowspan="2">عنوان</th>
                                        <th scope="col" rowspan="2">مقدار</th>
                                        <th scope="col" rowspan="2">واحد اندازه گیری</th>
                                        <th scope="col" rowspan="2">مبلغ واحد</th>
                                        <th scope="col" rowspan="2">مبلغ کل</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1242424</td>
                                        <td>سنگ آهن 50 55%</td>
                                        <td>20</td>
                                        <td>تن</td>
                                        <td>380.000</td>
                                        <td>476.380.000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>45353525</td>
                                        <td>هزینه ارسال کالا</td>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>80.000</td>
                                        <td>80.000</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="ph-table table table-bordered text-center factor">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" rowspan="2">نوع</th>
                                        <th scope="col" rowspan="2">مبلغ نهایی</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>هزینه</td>
                                        <td>۳,۸۰۰,۰۹۸</td>
                                    </tr>
                                    <tr>
                                        <td>ارزش افزوده 9 %</td>
                                        <td>۲۶,۴۶۰</td>
                                    </tr>
                                    <tr>
                                        <td>مبلغ قابل پرداخت</td>
                                        <td>۳,۸۰۰,۰۹۸</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ph-confirmation-order">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="pishfactor">
                                    <label class="form-check-label" for="pishfactor">
                                        فاکتور را مشاهده کرده و تایید میکنم.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='level2' id="back-level2" class="back">
                                <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                            </label>
                            <label for='level3' id="next-level3" class="ph-cpp-btn-n ph-btnext">
                                <div id="s-2-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                            </label>
                        </div>
                    </div>
                    <!-- ph-cp-panel ph-border-radius ph-white-block ph-box-shadow -->
                </div>
                <!-- #shell2 ph-upload-detail-product -->

                <div id="shell3" class="ph-upload-detail-product form-group">
                    <div class="ph-cp-header-parts shell-3">
                        <ul class="ph-cp-level-3 ph-cp-progressbar">
                            <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                            <li><span>پیش فاکتور</span><i class="fas fa-check"></i></li>
                            <li><span>امضای قرارداد</span><i class="fas fa-sync-alt"></i></li>
                            <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                            <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts shell-5 -->
                    <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">


                        <div class="ph-panel-title">
                            <span class="title">اطلاعات قرارداد</span>
                        </div>
                        <div class="ph-tcw-download">
                            <p>متن قرارداد را دانلود نمایید و بعد از امضا در جدول زیر بارگذاری کنید</p>
                            <a href="#" class="ph-btn ph-download"><i class="fas fa-download"></i>دانلود
                                قرارداد</a>
                        </div>
                        <div class="form-row ph-tcw-upload align-items-center">

                            <div class="ph-order-img-upload">

                                <div class="ph-spm-create-product-img-up">
                                    <h3 class="ph-spm-create-product-img-up-title">عکس محصول</h3>
                                    <div class="row">
                                        <div class="col-6 col-md-4 imgUp">
                                            <div class="imagePreview"></div>
                                            <label class="btn ph-spm-create-product-img-up-btn">
                                                آپلود<input type="file" class="uploadFile img" value="Upload Photo"
                                                            style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                        </div>
                                        <!-- col-6 col-md-4 -->
                                        <i class="fa fa-plus imgAdd"></i>
                                    </div>
                                    <!-- row -->
                                </div>
                            </div>
                            <!-- ph-order-img-upload -->

                            <!-- <table class="common_table ph-table table table-bordered text-center">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">ردیف</th>
                                    <th class="text-center" scope="col">نام صفحه قرارداد</th>
                                    <th class="text-center" scope="col">بارگذاری صفحه</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="list_add_1_tbody">

                                </tbody>
                            </table>
                            <a href="#" id="list_add_1" class="list_add ph-list-add ph-btn"><i class="fas fa-plus"></i>بارگذاری
                                صفحه
                                جدید</a> -->
                        </div>
                        <!-- form-row -->

                        <div class="ph-confirmation-order">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="signature">
                                    <label class="form-check-label" for="signature">
                                        تمامی فایل‌ها امضا شده و تایید میکنم.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ph-cpp-btn mt-5" role="group" aria-label="...">
                            <label for='level3' id="back-level3" class="back">
                                <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                            </label>
                            <label for='level4' id="next-level4" class="ph-cpp-btn-n ph-btnext">
                                <div id="s-3-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                            </label>
                        </div>
                    </div>
                    <!-- ph-cp-panel ph-border-radius ph-white-block ph-box-shadow -->
                </div>
                <!-- #shell3 ph-upload-detail-product -->

                <div id="shell4" class="ph-upload-detail-product form-group">
                    <div class="ph-cp-header-parts shell-4">
                        <ul class="ph-cp-level-4 ph-cp-progressbar">
                            <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                            <li><span>پیش فاکتور</span><i class="fas fa-check"></i></li>
                            <li><span>امضای قرارداد</span><i class="fas fa-check"></i></li>
                            <li><span>مدارک مالی</span><i class="fas fa-sync-alt"></i></li>
                            <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts shell-6 -->
                    <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">
                        <div class="ph-panel-title">
                            <span class="title">بارگذاری مدارک مالی</span>
                        </div>
                        <div class="form-row ph-tcw-upload align-items-center">

                            <!-- <table class="common_table ph-table table table-bordered text-center">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">ردیف</th>
                                    <th class="text-center" scope="col">نام صفحه قرارداد</th>
                                    <th class="text-center" scope="col">بارگذاری صفحه</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="list_add_2_tbody">

                                </tbody>
                            </table>
                            <a href="#" id="list_add_2" class="list_add ph-list-add ph-btn"><i class="fas fa-plus"></i>بارگذاری
                                صفحه
                                جدید</a> -->
                        </div>
                        <!-- form-row -->
                        <div class="ph-confirmation-order">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="financial">
                                    <label class="form-check-label" for="financial">
                                        صحت تمامی مدارک را تایید میکنم.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='level4' id="back-level4" class="back">
                                <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                            </label>
                            <label for='level5' id="next-level5" class="ph-cpp-btn-n ph-btnext">
                                <div id="s-4-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                            </label>
                        </div>
                    </div>
                    <!-- ph-cp-panel ph-border-radius ph-white-block ph-box-shadow -->
                </div>
                <!-- #shell4 ph-upload-detail-product -->

                <div id="shell5" class="ph-upload-detail-product form-group">
                    <div class="ph-cp-header-parts shell-5">
                        <ul class="ph-cp-level-5 ph-cp-progressbar">
                            <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                            <li><span>پیش فاکتور</span><i class="fas fa-check"></i></li>
                            <li><span>امضای قرارداد</span><i class="fas fa-check"></i></li>
                            <li><span>مدارک مالی</span><i class="fas fa-check"></i></li>
                            <li><span>تایید نهایی</span><i class="fas fa-sync-alt"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts shell-5 -->

                    <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">

                        777777777777777777777777777777777777777777777777777

                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='level5' id="back-level5" class="back">
                                <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                            </label>
                            <button type="submit" class="ph-btn bg-color-4 ph-border-radius-small">ثبت سفارش</button>
                        </div>
                    </div>
                    <!-- ph-cp-panel ph-border-radius ph-white-block ph-box-shadow -->
                </div>
                <!-- #shell7 ph-upload-detail-product -->
            </div>
        </div>
    </main>

{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/list-product.js' %}"></script>


    {% comment %}<script>
        $('.extra-fields-customer').click(function () {
            $('.customer_records').clone().appendTo('.customer_records_dynamic');
            $('.customer_records_dynamic .customer_records').addClass('single remove');
            $('.single .extra-fields-customer').remove();
            $('.single').append('<a href="#" class="remove-field ph-btn btn-remove-customer"><i class="fas fa-times"></i></a>');
            $('.customer_records_dynamic > .single').attr("class", "remove");

            $('.customer_records_dynamic input').each(function () {
                var count = 0;
                var fieldname = $(this).attr("name");
                $(this).attr('name', fieldname + count);
                count++;
            });

        });

        $(document).on('click', '.remove-field', function (e) {
            $(this).parent('.remove').remove();
            e.preventDefault();
        });
    </script>
    <script>
        function readURL(input, imgControlName) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(imgControlName).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imag").change(function () {
            // add your logic to decide which image control you'll use
            var imgControlName = "#ImgPreview";
            readURL(this, imgControlName);
            $('.preview1').addClass('it');
            $('.btn-rmv1').addClass('rmv');
        });


        $("#removeImage1").click(function (e) {
            e.preventDefault();
            $("#imag").val("");
            $("#ImgPreview").attr("src", "");
            $('.preview1').removeClass('it');
            $('.btn-rmv1').removeClass('rmv');
        });

        $(document).ready(function () {
            var rowIdx = 0;
            $('#list_add_1').on('click', function () {
                $('#list_add_1_tbody').append(`<tr id="R${++rowIdx}">
                                  <tr id="template_row_1" class="template_row">
                                    <td class="text-center" scope="row">${rowIdx}</td>
                                    <td class="text-center">صفحه اول قرارداد</td>
                                    <td class="text-center">
                                        <div class="file-upload">
                                            <div id="image-upload-wrap-analyze" class="image-upload-wrap">
                                                <input name="analyze" id="file-upload-input-analyze"
                                                       class="file-upload-input" type='file'
                                                       onchange="readURL(this, 'analyze');"
                                                       accept="image/*"/>
                                                <div class="drag-text">
                                                    <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                            </div>
                                            <div id="file-upload-content-analyze" class="file-upload-content">
                                                <img id="file-upload-image-analyze" class="file-upload-image" src="#"
                                                     alt="your image"/>
                                                <div id="image-title-wrap-analyze" class="image-title-wrap">
                                                    <button type="button" onclick="removeUpload('analyze')"
                                                            class="remove-image">
                                                        <i class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
</td>
                                    <td class="text-center" class="controls">
                                        <a href="#" class="list_cancel list_cancel_1" title="Delete Row">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr id="no_entries_row_1" class="no_entries_row">
                                </tr>
              </tr>`);
            });
            $('#list_add_1_tbody').on('click', '.list_cancel_1', function () {
                var child = $(this).closest('tr').nextAll();
                child.each(function () {
                    var id = $(this).attr('id');
                    var idx = $(this).children('#template_row_1').children('td');
                    var dig = parseInt(id.substring(1));
                    idx.html(`Row ${dig - 1}`);
                    $(this).attr('id', `R${dig - 1}`);
                });
                $(this).closest('tr').remove();
                rowIdx--;
            });
        });
        $(document).ready(function () {
            var rowIdx = 0;
            $('#list_add_2').on('click', function () {
                $('#list_add_2_tbody').append(`<tr id="R${++rowIdx}">
                                            <tr id="template_row_2" class="template_row">
                                    <td class="text-center" scope="row">${rowIdx}</td>
                                    <td class="text-center">صفحه <span>${rowIdx}</span> قرارداد</td>
                                    <td class="text-center">
                                        <a href="#" class="ph-btn ph-upload-img-contract"><i
                                                class="fas fa-upload"></i> بارگذاری</a></td>
                                    <td class="text-center">


                                        <form id="myform">
                                            <div class="yes">
    <span class="btn_upload">
      <input type="file" id="imag" title="" class="input-img"/>
      Choose Image
      </span>
                                                <img id="ImgPreview" src="" class="preview1"/>
                                                <input type="button" id="removeImage1" value="x" class="btn-rmv1"/>
                                            </div>
                                        </form>


                                    </td>
                                    <td class="text-center" class="controls">
                                        <a href="#" class="list_cancel list_cancel_2" title="Delete Row">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr id="no_entries_row_2" class="no_entries_row">
                                </tr>
              </tr>`);
            });
            $('#list_add_2_tbody').on('click', '.list_cancel_2', function () {
                var child = $(this).closest('tr').nextAll();
                child.each(function () {
                    var id = $(this).attr('id');
                    var idx = $(this).children('#template_row_2').children('td');
                    var dig = parseInt(id.substring(1));
                    idx.html(`Row ${dig - 1}`);
                    $(this).attr('id', `R${dig - 1}`);
                });
                $(this).closest('tr').remove();
                rowIdx--;
            });
        });



    </script>{% endcomment %}
   <script>
      $(".imgAdd").click(function () {
         $(this).closest(".row").find('.imgAdd').before('<div class="col-6 col-md-4 imgUp"><div class="imagePreview"></div><label class="btn ph-spm-create-product-img-up-btn">آپلود<input type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
      });
      $(document).on("click", "i.del", function () {
         $(this).parent().remove();
      });
      $(function () {
         $(document).on("change", ".uploadFile", function () {
            var uploadFile = $(this);
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test(files[0].type)) { // only image file
               var reader = new FileReader(); // instance of the FileReader
               reader.readAsDataURL(files[0]); // read the local file

               reader.onloadend = function () { // set image data as background of div
                  //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                  uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
               }
            }

         });
      });
   </script>
{% endblock %}