{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block meta_content %}
  {{ categories|json_script:"categories" }}
{% endblock %}

{% block title %}
    جزییات سفارش
{% endblock %}

{% block admin_content %}
    <main class="ph-dashboard-main buyer-panel ph-view-order">
        <div class="container">
            <div class="ph-admin-page-container ">
                <div class="container">
                    <div class="ph-admin-page-intro-text">
                        <span>جزییات سفارش | </span>
                        در این قسمت می توانید جزییات سفارش خود را مشاهده کنید.
                    </div>


                    <form method="post" id="ph_create_product_form" role="form" enctype="multipart/form-data">

                        {% csrf_token %}
                        <input class="ph-cp-input-check" id='level2' type='checkbox'>
                        <input class="ph-cp-input-check" id='level3' type='checkbox'>
                        <input class="ph-cp-input-check" id='level4' type='checkbox'>
                        <input class="ph-cp-input-check" id='level5' type='checkbox'>
                        <input class="ph-cp-input-check" id='level6' type='checkbox'>
                        <input class="ph-cp-input-check" id='level7' type='checkbox'>
                        <input class="ph-cp-input-check" id='level8' type='checkbox'>

                        <div id="shell1" class="ph-choose-category form-group">
                            <div class="ph-cp-header-parts shell-1">
                                <ul class="ph-cp-level-1 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fas fa-sync-alt"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                    1111111111111111111111111111111111111111111111111111111111111111

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level2' id="next-level2" class="ph-cpp-btn-n ph-btnext">
                                        <div class="ph-cpp-btn-n ph-btn" id="s-1-btn">بعدی</div>
                                    </label>
                                </div>

                            </div><!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell1 -->


                        <div id="shell2" class="ph-insert-title form-group">
                            <div class="ph-cp-header-parts shell-2">
                                <ul class="ph-cp-level-2 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fa-check"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-2 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                    2222222222222222222222222222222222222222222222222222222222222222

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level2' id="back-level2" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level3' id="next-level3" class="ph-cpp-btn-n ph-btnext">
                                        <div class="ph-cpp-btn-n ph-btn" id="s-2-btn">بعدی</div>
                                    </label>
                                </div>

                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell2 -->

                        <div id="shell3" class="ph-general-attributes form-group">
                            <div class="ph-cp-header-parts shell-3">
                                <ul class="ph-cp-level-3 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fa-check"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-3 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                333333333333333333333333333333333333333333333333333333333333333333333333

                                    <div class="ph-cpp-btn" role="group" aria-label="...">
                                        <label for='level3' id="back-level3" class="back">
                                            <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                        </label>
                                        <label for='level4' id="next-level4" class="ph-cpp-btn-n ph-btnext">
                                            <div id="s-3-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                        </label>
                                    </div>
                                    <!-- ph-cpp-btn -->

                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- shell3 -->

                        <div id="shell4" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-4">
                                <ul class="ph-cp-level-4 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fa-check"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-4 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                4444444444444444444444444444444444444444444444444444444444444

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level4' id="back-level4" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level5' id="next-level5" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-4-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell4 ph-upload-detail-product -->

                        <div id="shell5" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-5">
                                <ul class="ph-cp-level-5 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fa-check"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-times"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-5 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                555555555555555555555555555555555555555555555555555555555555555555555

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level5' id="back-level5" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level6' id="next-level6" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-5-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell5 ph-upload-detail-product -->

                        <div id="shell6" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-6">
                                <ul class="ph-cp-level-6 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fa-check"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-6 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                6666666666666666666666666666666666666666666666666666666666666

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level6' id="back-level6" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level7' id="next-level7" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-6-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell6 ph-upload-detail-product -->

                        <div id="shell7" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-7">
                                <ul class="ph-cp-level-7 ph-cp-progressbar">
                                    <li><span>گام اول</span><i class="fas fa-check"></i></li>
                                    <li><span>گام دوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام سوم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام چهارم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام پنجم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام ششم</span><i class="fas fa-check"></i></li>
                                    <li><span>گام هفتم</span><i class="fas fa-sync-alt"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-7 -->

                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                777777777777777777777777777777777777777777777777777

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level7' id="back-level7" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <button type="submit" class="ph-btn bg-color-4 ph-border-radius-small">ثبت محصول</button>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell7 ph-upload-detail-product -->

                    </form>
                    <!-- ph_seller_panel_form -->

                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block footer_static %}
        <script src="{% static 'js/list-product.js' %}"></script>
{% endblock %}