{% extends 'base_admin.html' %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block meta_content %}
  {{ categories|json_script:"categories" }}
{% endblock %}

{% block title %}
    جزییات سفارش
{% endblock %}

{% block admin_content %}
    <main class="ph-dashboard-main buyer-panel ph-view-order">
        <div class="container">
            <div class="ph-admin-page-container ">
                <div class="container">
                    <div class="ph-admin-page-intro-text">
                        <span>جزییات سفارش | </span>
                        در این قسمت می توانید جزییات سفارش خود را مشاهده کنید.
                    </div>


                    <form method="post" id="ph_create_product_form" role="form" enctype="multipart/form-data">

                        {% csrf_token %}
                        <input class="ph-cp-input-check" id='level2' type='checkbox'>
                        <input class="ph-cp-input-check" id='level3' type='checkbox'>
                        <input class="ph-cp-input-check" id='level4' type='checkbox'>
                        <input class="ph-cp-input-check" id='level5' type='checkbox'>
                        <input class="ph-cp-input-check" id='level6' type='checkbox'>
                        <input class="ph-cp-input-check" id='level7' type='checkbox'>
                        <input class="ph-cp-input-check" id='level8' type='checkbox'>

                        <div id="shell1" class="ph-choose-category form-group">
                            <div class="ph-cp-header-parts shell-1">
                                <ul class="ph-cp-level-1 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fas fa-sync-alt"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-times"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-times"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-times"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-times"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <div class="ph-cp-panel ph-border-radius ph-white-block">
                                <div class="ph-view-order-block">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="ph-view-order-block-item">
                                                <label>نام محصول:</label>
                                                <p>سنگ آهن هماتیت 35-45%</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>قیمت:</label>
                                                <p>25.000.000 تومان</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>خلوص عیار:</label>
                                                <p>35-45%</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>نوع محصول:</label>
                                                <p>خام</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>دسته بندی:</label>
                                                <p>آهن</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>استان:</label>
                                                <p>تهران</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="ph-view-order-block-item">
                                                <label>ظرفیت تامین ماهانه:</label>
                                                <p>560,000 تن در ماه</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>شرایط پرداخت وجه:</label>
                                                <p>نقدی</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>امکان ارسال نمونه:</label>
                                                <p>دارد</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>وجود جاده مناسب و قابل عبور جهت ماشین های باربری:</label>
                                                <p>دارد</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>وجود تجهیزات بارگیری در محل دپو:</label>
                                                <p>دارد</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>قرارداد ضروری:</label>
                                                <p>ندارد</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="ph-view-order-block-item">
                                                <div class="ph-view-order-img">
                                                    <img src="http://localhost:8000/media/products/5_6LGexpq.jpg" alt="">
                                                </div>
                                                <div class="ph-view-order-qty">
                                                    <label>مقدار سفارش</label>
                                                    <h5>40 تن</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level2' id="next-level2" class="ph-cpp-btn-n ph-btnext">
                                        <div class="ph-cpp-btn-n ph-btn" id="s-1-btn">بعدی</div>
                                    </label>
                                </div>

                            </div><!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell1 -->


                        <div id="shell2" class="ph-insert-title form-group">
                            <div class="ph-cp-header-parts shell-2">
                                <ul class="ph-cp-level-2 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fa-check"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-times"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-times"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-times"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-2 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="ph-view-order-block">
                                            <div class="ph-view-order-block-item">
                                                <label>نام:</label>
                                                <p>منصور</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>نام خانوادگی:</label>
                                                <p>سرحانی</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>کد ملی:</label>
                                                <p>0323260624</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>شماره شناسنامه:</label>
                                                <p>10771</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>پست الکترونیک:</label>
                                                <p>mansour.sarhani@gmail.com</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>شماره تماس:</label>
                                                <p>09122613278</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="ph-view-order-block">
                                            <div class="ph-view-order-block-item">
                                                <label>مقصد:</label>
                                                <select class="custom-select mb-3">
                                                    <option>خانه</option>
                                                    <option>شرکت اول</option>
                                                    <option>شرکت دوم</option>
                                                </select>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>آدرس:</label>
                                                <p> خیابان شهید بهشتی، خیابان کاووسی فر، کوچه نکیسا، پلاک 35 ، واحد 3</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>استان:</label>
                                                <p>تهران</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>شهر:</label>
                                                <p>تهران</p>
                                            </div>
                                            <div class="ph-view-order-block-item">
                                                <label>کد پستی:</label>
                                                <p>1567985469</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level2' id="back-level2" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level3' id="next-level3" class="ph-cpp-btn-n ph-btnext">
                                        <div class="ph-cpp-btn-n ph-btn" id="s-2-btn">بعدی</div>
                                    </label>
                                </div>

                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell2 -->

                        <div id="shell3" class="ph-general-attributes form-group">
                            <div class="ph-cp-header-parts shell-3">
                                <ul class="ph-cp-level-3 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fa-check"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-check"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-times"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-times"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-3 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">
                                <div class="ph-view-order-block">
                                    <div class="ph-admin-page-alert ph-box-shadow my-4">
                                        <div class="alert alert-warning" role="alert">
                                            <i class="fas fa-info-circle"></i>
                                            لطفا تا تکمیل بررسی وضعیت سفارش تان منتظر بمانید. ادامه روند سفارش پس از تایید مدیر سایت در مراحل زیر امکانپذیر خواهد بود.
                                        </div>
                                    </div>
                                    <ul class="ph-view-order-checkpoints">
                                        <li>
                                            <i class="fas fa-check"></i>
                                            <p>ثبت سفارش</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-times"></i>
                                            <p>تایید مدارک</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-check"></i>
                                            <p>ارسال برای فروشنده</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-times"></i>
                                            <p>تایید از سوی فروشنده</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-times"></i>
                                            <p>تعیین هزینه حمل و نقل</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-times"></i>
                                            <p>تایید هزینه حمل و نقل توسط خریدار</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level3' id="back-level3" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level4' id="next-level4" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-3-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                                <!-- ph-cpp-btn -->

                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- shell3 -->

                        <div id="shell4" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-4">
                                <ul class="ph-cp-level-4 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fa-check"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-check"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-times"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-4 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">
                                <div class="ph-view-order-block">
                                    <div class="ph-view-order-table">
                                        <table class="ph-table table table-bordered text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" rowspan="2">ردیف</th>
                                            <th scope="col" rowspan="2">عنوان</th>
                                            <th scope="col" rowspan="2">شماره سفارش</th>
                                            <th scope="col" rowspan="2">مقدار</th>
                                            <th scope="col" rowspan="2">مبلغ محاسبه شده</th>
                                            <th scope="col" rowspan="2">تخفیف محاسبه شده</th>
                                            <th scope="col" rowspan="2">تخفیف درصدی</th>
                                            <th scope="col" rowspan="2">مبلغ نهایی</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>سنگ آهن 50 55%</td>
                                            <td>1242424</td>
                                            <td>20 تن</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                            <td>380.000</td>
                                            <td><span>10</span>%</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>هزینه ارسال کالا</td>
                                            <td>45353525</td>
                                            <td>1</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                            <td>380.000</td>
                                            <td><span>38</span>%</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="ph-table table table-bordered text-center factor">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" rowspan="2">نوع</th>
                                            <th scope="col" rowspan="2">مبلغ نهایی</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>هزینه</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                        </tr>
                                        <tr>
                                            <td>ارزش افزوده 9 %</td>
                                            <td>۲۶,۴۶۰</td>
                                        </tr>
                                        <tr>
                                            <td>مبلغ قابل پرداخت</td>
                                            <td>۳,۸۰۰,۰۹۸</td>
                                        </tr>
                                    </tbody>
                                </table>
                                    </div>
                                </div>
                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level4' id="back-level4" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level5' id="next-level5" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-4-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell4 ph-upload-detail-product -->

                        <div id="shell5" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-5">
                                <ul class="ph-cp-level-5 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fa-check"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-check"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-check"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-times"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-5 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                555555555555555555555555555555555555555555555555555555555555555555555

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level5' id="back-level5" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level6' id="next-level6" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-5-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell5 ph-upload-detail-product -->

                        <div id="shell6" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-6">
                                <ul class="ph-cp-level-6 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fa-check"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-check"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-check"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-check"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-sync-alt"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-times"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-6 -->
                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                6666666666666666666666666666666666666666666666666666666666666

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level6' id="back-level6" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <label for='level7' id="next-level7" class="ph-cpp-btn-n ph-btnext">
                                        <div id="s-6-btn" class="ph-cpp-btn-n ph-btn">بعدی</div>
                                    </label>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell6 ph-upload-detail-product -->

                        <div id="shell7" class="ph-upload-detail-product form-group">
                            <div class="ph-cp-header-parts shell-7">
                                <ul class="ph-cp-level-7 ph-cp-progressbar">
                                    <li><span>مشخصات محصول</span><i class="fas fa-check"></i></li>
                                    <li><span>بررسی مشخصات کاربر</span><i class="fas fa-check"></i></li>
                                    <li><span>تایید سفارش</span><i class="fas fa-check"></i></li>
                                    <li><span>پیش فاکتور</span><i class="fas fa-check"></i></li>
                                    <li><span>امضای قرارداد</span><i class="fas fa-check"></i></li>
                                    <li><span>مدارک مالی</span><i class="fas fa-check"></i></li>
                                    <li><span>تایید نهایی</span><i class="fas fa-sync-alt"></i></li>
                                </ul>
                            </div>
                            <!-- ph-cp-header-parts shell-7 -->

                            <div class="ph-cp-panel ph-border-radius ph-white-block">

                                777777777777777777777777777777777777777777777777777

                                <div class="ph-cpp-btn" role="group" aria-label="...">
                                    <label for='level7' id="back-level7" class="back">
                                        <div class="ph-cpp-btn-n ph-btn" role="button">قبلی</div>
                                    </label>
                                    <button type="submit" class="ph-btn bg-color-4 ph-border-radius-small">ثبت محصول</button>
                                </div>
                            </div>
                            <!-- ph-cp-panel ph-border-radius ph-white-block -->
                        </div>
                        <!-- #shell7 ph-upload-detail-product -->

                    </form>
                    <!-- ph_seller_panel_form -->

                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block footer_static %}
        <script src="{% static 'js/list-product.js' %}"></script>
{% endblock %}