{% extends 'base_admin.html' %}
{% load humanize %}
{% load static %}
{% load utils %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-order-qc">
        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>جزییات درخواست نمونه</span>
            </div>
            <div class="ph-order-qc-wrapper bg-light ph-box-shadow ph-border-radius p-4">
                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات نمونه</span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>کد کالا:</label>
                            <span>{{ sample.product.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>عنوان:</label>
                            <span>{{ sample.product.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>قیمت:</label>
                            <span>{{ sample.product.get_price.value|intcomma }}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>سایز بندی:</label>
                            <span>{{ sample.product.get_size }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>عیار:</label>
                            <span>{{ sample.product.get_caret }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>نوع تحویل:</label>
                            <span>{{ sample.product.delivery_type }}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="ph-order-qc-item">
                            <label>شماره درخواست:</label>
                            <span>{{ sample.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>تاریخ درخواست:</label>
                            <span>{{ sample.get_persian_timestamp }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>میزان درخواست:</label>
                            <span>{{ sample.product.get_sample.child_value|intcomma }}</span>
                        </div>
                    </div>
                </div>
                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات خریدار</span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="ph-order-qc-item">
                            <label>نام خریدار:</label>
                            <span>{{ sample.buyer.profile.get_full_name }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>کد خریدار:</label>
                            <span>{{ sample.buyer.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شماره موبایل خریدار:</label>
                            <span>{{ sample.buyer.mobile_number }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="ph-order-qc-item">
                            <label>استان:</label>
                            <span>{{ sample.buyer.profile.region.parent.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شهر:</label>
                            <span>{{ sample.buyer.profile.region.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>آدرس:</label>
                            <span>{{ sample.buyer.profile.address }}</span>
                        </div>
                    </div>
                </div>

                <div class="ph-admin-page-block-header ph-panel-title mb-2">
                    <span class="title">مشخصات فروشنده</span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="ph-order-qc-item">
                            <label>نام فروشنده:</label>
                            <span>{{ sample.product.user.profile.get_full_name }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>کد فروشنده:</label>
                            <span>{{ sample.product.user.pk }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شماره موبایل فروشنده:</label>
                            <span>{{ sample.product.user.mobile_number }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="ph-order-qc-item">
                            <label>استان:</label>
                            <span>{{ sample.product.user.profile.region.parent.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>شهر:</label>
                            <span>{{ sample.product.user.profile.region.title }}</span>
                        </div>
                        <div class="ph-order-qc-item">
                            <label>آدرس:</label>
                            <span>{{ sample.product.user.profile.address }}</span>
                        </div>
                    </div>
                </div>
                <div class="ph-order-qc-btn-container">
                    <a href="#" data-toggle="modal" data-target="#admin_qc_modal" class="ph-btn">تایید درخواست</a>
                </div>
            </div>
        </div>
    </main>



{% endblock %}

{% block footer_static %}

{% endblock %}