{% extends 'base_admin.html' %}
{% load static %}



{% block admin_content %}
         <main class="ph-dashboard-main ph-seller-panel ph-orders">

            <div class="container">

               <form action="" id="ph_orders_form" role="form">

                  <div id="orders_page" class="ph-orders-page form-group">
                     <div class="ph-orders-panel">
                    <div class="ph-admin-page-intro-text">
                        <span>مشاهده سفارشات | </span>
                        سفارشات خود را در اینجا مشاهده و مدیریت کنید
                    </div>
                    <div class="ph-admin-page-search-wrapper bg-light ph-border-radius ph-box-shadow my-4">
                        <div class="ph-admin-page-block-header ph-panel-title">
                            <span class="title">جستجو و فیلتر</span>
                        </div>
                        <div class="ph-admin-page-block-content">
                            <div class="ph-admin-page-search-form">
                                <form method="get">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">تاریخ سفارش</label>
                                        <input type="text" class="form-control" name="q" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="تاریخ مورد نظرتان را وارد کنید">
                                        </div>
                                        <div class="col">
                                            <label for="">کد سفارش</label>
                                        <input type="text" class="form-control" name="q" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="کد سفارش را وارد کنید">
                                        </div>
                                        <div class="col">
                                            <label for="">کد کالا</label>
                                        <input type="text" class="form-control" name="q" id=""
                                               aria-describedby="Search_Text"
                                               placeholder="کد کالا را وارد کنید">
                                        </div>
                                        <div class="col">
                                            <label for="state"> وضعیت تایید سفارش:</label>
                                            <select class="form-control custom-select" id="ph-state">
                                                <option value="">انتخاب کنید</option>
                                                <option value="pending">در انتظار تایید</option>
                                                <option value="accepted">تایید شده</option>
                                                <option value="rejected">رد شده</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="ph-ip-w-list ph-border-radius ph-box-shadow">
                            <div class="ph-ip-wl-header top">
                                <div class="ph-ip-wl-right">
                                    <div class="ph-ip-wlr-pagination ph-pagination">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pagination-circle pg-blue">
                                                <li class="page-item">
                                                    <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- ph-ip-wlr-pagination -->
                                    <div class="ph-ip-wlr-views">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>۱۰</option>
                                            <option value="1">۲۰</option>
                                            <option value="2">۵۰</option>
                                            <option value="3">۱۰۰</option>
                                        </select>
                                        <span>تعداد نمایش</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-right -->
                                <div class="ph-ip-wl-res">
                                    نتیجه:
                                    <span>۱۱۲ مورد</span>
                                </div>
                            </div>
                            <!-- ph-ip-wl-header -->
                            <div class="ph-ip-wl-table">
                                <table class="ph-table table table-bordered text-center">
                                <thead class="thead-dark">
                                <tr>
                                    <th>ردیف</th>
                                    <th>شماره سفارش</th>
                                    <th>نوع سفارش</th>
                                    <th>نام محصول</th>
                                    <th>نوع محصول</th>
                                    <th>مقدار</th>
                                    <th>قیمت</th>
                                    <th>تاریخ ثبت سفارش</th>
                                    <th>نوع پرداخت</th>
                                    <th>وضعیت</th>
                                    <th>جزییات</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                458732
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                خرید محصول
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                سنگ آهن 25-35%
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                خام
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                10 تن
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                150.000.000
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                1399/12/11
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                نقدی
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                در حال بررسی
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                <div class="ph-admin-table-action-btns">
                                                    <a href="#"
                                                       class="ph-admin-table-action-btn-edit">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <!-- ph-ip-wl-table -->
                            <div class="ph-ip-wl-header bottom">
                                <div class="ph-ip-wl-right">
                                    <div class="ph-ip-wlr-pagination ph-pagination">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pagination-circle pg-blue">
                                                <li class="page-item">
                                                    <a class="page-link" aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-right"></i>
                                                        </span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <i class="fas fa-chevron-left"></i>
                                                        </span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- ph-ip-wlr-pagination -->
                                    <div class="ph-ip-wlr-views">
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>۱۰</option>
                                            <option value="1">۲۰</option>
                                            <option value="2">۵۰</option>
                                            <option value="3">۱۰۰</option>
                                        </select>
                                        <span>تعداد نمایش</span>
                                    </div>
                                </div>
                                <!-- ph-ip-wl-right -->
                                <div class="ph-ip-wl-res">
                                    نتیجه:
                                    <span>۱۱۲ مورد</span>
                                </div>
                            </div>
                            <!-- ph-ip-wl-header -->
                        </div>
                    <!-- ph-ip-w-list -->

                  </div>
                  <!-- ph-orders-page -->

               </form>
               <!-- ph_orders_form -->

            </div>
            <!-- container -->

         </main>
         <!-- ph-orders ph-dashboard-main -->
{% endblock %}
