{% extends 'base_admin.html' %}
{% load humanize %}
{% load utils %}
{% load static %}


{% block admin_content %}
    <span id="order-id" class="d-none">{{ order.id }}</span>
    <main class="ph-dashboard-main ph-seller-panel ph-view-order">

        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>مشاهده جزییات سفارش | </span>
                جزییات سفارش را در اینجا مشاهده کنید.
            </div>
            {% if order.state == order.STATE_ADMIN and not order.is_rejected %}

                <div class="ph-qc-section">
                    <div class="ph-qc-alarm">
                        <p>با توجه به اطلاعات ثبت شده در پایین، این سفارش را تایید یا رد کنید.</p>
                    </div>
                    <!-- ph-qc-alarm -->
                    <div class="ph-qc-info-btns">
                        <a href="#" class="ph-btn ph-access-btn" id="seller-accept">
                            <i class="fas fa-check"></i>
                            <span>تایید</span>
                        </a>
                        <a href="#" class="ph-btn ph-denied-btn" id="seller-reject">
                            <i class="fas fa-times"></i>
                            <span>رد</span>
                        </a>
                    </div>
                    <!-- ph-qc-info-btns -->
                </div>
                <!-- ph-qc-section -->
            {% endif %}

            <div class="ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="ph-admin-page-block-header ph-panel-title">
                            <span class="title">مشخصات سفارش</span>
                        </div>
                        <ul>
                            <li>
                                <span class="title">کد کالا:</span>
                                <span class="desc">{{ order.product.id }}</span>
                            </li>
                            <li>
                                <span class="title">عنوان:</span>
                                <span class="desc">{{ order.product.title }}</span>
                            </li>
                            <li>
                                <span class="title">سایز‌بندی:</span>
                                <span class="desc">{{ order.product.get_size }}</span>
                            </li>
                            <li>
                                <span class="title">عیار:</span>
                                <span class="desc">{{ order.product.get_caret }}</span>
                            </li>
                            <li>
                                <span class="title">شماره سفارش:</span>
                                <span class="desc">{{ order.id }}</span>
                            </li>
                            <li>
                                <span class="title">وضعیت سفارش:</span>
                                <span class="desc">{{ order.get_state_display }}</span>
                            </li>
                            <li>
                                <span class="title">میزان سفارش:</span>
                                <span class="desc">{{ order.weight }} تن</span>
                            </li>
                            <li>
                                <span class="title">تعداد ارسال:</span>
                                <span class="desc">{{ order.monthly_load }}</span>
                            </li>
                            <li>
                                <span class="title">نوع تحویل:</span>
                                <span class="desc">{{ order.product.get_delivery_type }}</span>
                            </li>
                            <li>
                                <span class="title">تناژ کامل:</span>
                                <span class="desc">{{ order.weight }} تن</span>
                            </li>
                            <li>
                                <span class="title">تناژ هر ارسال:</span>
                                <span class="desc">{{ order.get_monthly_weight }} تن</span>
                            </li>
                            <li>
                                <span class="title">قیمت</span>
                                <span class="desc">{{ order.price }} ریال</span>
                            </li>
                            <li>
                                <span class="title">نوع پرداخت</span>
                                <span class="desc">{{ payment_map|get_item:order.payment_type }}</span>
                            </li>
                        </ul>
                    </div>
                    <!-- .col-12 col-md-6 -->
                    <div class="col-12 col-md-6">
                        <div class="ph-admin-page-block-header ph-panel-title">
                            <span class="title">مشخصات معدن</span>
                        </div>
                        <ul>
                            <li>
                                <span class="title">نام معدن/کارخانه:</span>
                                <span class="desc">{{ order.product.mine.title }}</span>
                            </li>
                            <li>
                                <span class="title">استان</span>
                                <span class="desc">{{ order.product.mine.region.parent.title }}</span>
                            </li>
                            <li>
                                <span class="title">شهر:</span>
                                <span class="desc">{{ order.product.mine.region.title }}</span>
                            </li>
                            <li>
                                <span class="title">نام جاده اصلی:</span>
                                <span class="desc">{{ order.product.mine.road_name }}</span>
                            </li>
                            <li>
                                <span class="title">موقعیت مکانی:</span>
                                <span class="desc">{{ order.product.mine.get_location_in_region_display }}</span>
                            </li>
                            <li>
                                <span class="title">فاصله معدن/کارخانه تا جاده اصلی (کیلومتر):</span>
                                <span class="desc">{{ order.product.mine.distance_to_road }}</span>
                            </li>
                            <li>
                                {% if order.product.mine.proper_road %}
                                    <span><i class="fas fa-check-square"
                                             style="color: green;vertical-align: middle;"></i></span>
                                {% else %}
                                    <span><i class="fas fa-times" style="color: red;vertical-align: middle;"></i></span>
                                {% endif %}
                                <span>وجود جاده مناسب برای عبور و مرور وسایل نقلیه سواری</span>
                            </li>
                            <li>
                                {% if order.product.mine.load_tools %}
                                    <span><i class="fas fa-check-square"
                                             style="color: green;vertical-align: middle;"></i></span>
                                {% else %}
                                    <span><i class="fas fa-times" style="color: red;vertical-align: middle;"></i></span>
                                {% endif %}
                                <span>وجود تجهیزات بارگیری در محل دپو</span>
                            </li>
                        </ul>
                    </div>
                    <!-- .col-12 col-md-6 -->
                </div>
                <!-- row -->
            </div>
            <!-- ph-ip-w-list -->

            <div class="ph-managements-table-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                <div class="ph-managements-table table-responsive">
                    <table class="table ph-table table-bordered text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th>ردیف</th>
                            <th>تاریخ</th>
                            <th>نام و نام‌خانوادگی</th>
                            <th>شماره کامیون</th>
                            <th>شماره قبض</th>
                            <th>وزن پُر (تن)</th>
                            <th>وزن خالی (تن)</th>
                            <th>وزن خالص (تن)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>25/12/1399</td>
                            <td>مصطفی چراغی</td>
                            <td>234ک22</td>
                            <td>1808</td>
                            <td>48100</td>
                            <td>16030</td>
                            <td>32070</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .ph-managements-table -->
            </div>
            <!-- .ph-managements-table-wrapper ph-admin-page-list-container -->
        </div>
        <!-- container -->

    </main>
    <!-- ph-dashboard-main ph-seller-panel ph-view-order -->
{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/seller_order_details.js' %}"></script>
{% endblock %}
