{% extends 'base_admin.html' %}
{% load static %}


{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-create-admin">


                    <div class="ph-admin-page-alert ph-box-shadow my-4" style="position: absolute;top: 1rem;
                    right: 0;left: 0;bottom: 1rem;background: rgba(0,0,0,.65);display: flex;
                    justify-content: center;align-items: center;z-index: 999;border-radius: 0;">
                        <div class="alert alert-warning" role="alert" style="width: 70%;">
                            <i class="fas fa-info-circle"></i>
                            "در انتظار پیام کارفرما"
                        </div>
                    </div>

        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>ساخت ادمین جدید | </span>
                ادمین جدیدی ایجاد کنید.
            </div><!-- .ph-admin-page-intro-text -->
            <div class="ph-add-admin-wrapper ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                <form action="" method="" class="mb-4" id="create-admin-form">
                    <div class="form-row">
                        <div class="col">
                            <label>نام</label>
                            <input type="text" class="form-control">
                        </div><!-- .col -->
                        <div class="col">
                            <label>نام خانوادگی</label>
                            <input type="text" class="form-control">
                        </div><!-- .col -->
                    </div><!-- .form-row -->
                    <div class="form-row">
                        <div class="col">
                            <label>ایمیل</label>
                            <input type="email" class="form-control" id="email-field">
                            <div id="email-error-field" class="messages error" style="display: none;">ایمیل نامعتبر
                                    است
                            </div>
                        </div><!-- .col -->
                        <div class="col">
                            <label>شماره موبایل</label>
                            <input type="text" class="form-control">
                        </div><!-- .col -->
                    </div><!-- .form-row -->
                    <div class="form-row">
                        <div class="col">
                            <label>رمز عبور</label>
                            <input type="text" class="form-control">
                        </div><!-- .col -->
                        <div class="col">
                            <label>سطح دسترسی</label>
                            <select class="form-control custom-select">
                                <option>سطح یک</option>
                                <option>سطح دو</option>
                                <option>سطح سه</option>
                            </select>
                        </div><!-- .col -->
                    </div><!-- .form-row -->
                </form>
                <div class="ph-new-login-info-btn my-2">
                    <button type="submit" id="ph_signup_submit_btn" class="btn ph-btn">ثبت</button>
                </div><!-- .ph-new-login-info-btn -->
            </div><!-- .ph-add-admin-wrapper -->
        </div><!-- .container -->
    </main><!-- ph-create-logistic-main ph-dashboard-main management-create-logistic-->

{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/add-product.js' %}"></script>
    <script src="{% static 'magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}