{% extends 'base.html' %}
{% load static %}

{% block content %}
    <aside>
        <div class="ph-new-login-sidebar">
            <header class="ph-nls-header">
                <a href="" class="ph-nls-logo">
                    <img src="{% static 'images/logo.png' %}" alt="header-Logo">
                </a>
                <h1 class="ph-nls-header-title">ثبت نام</h1>
            </header>
            <ul id="progressbar">
                <li class="step progressbar-item active" id="progressbar_sign_up">
                    <h4 class="ph-reg-steps-title">۱. ثبت نام</h4>
                    <p class="ph-reg-steps-ddescription">ورود اطلاعات برای ثبت نام</p>
                </li>
                <li class="step progressbar-item" id="progressbar_item_info">
                    <h4 class="ph-reg-steps-title">۲. اطلاعات فروشنده</h4>
                    <p class="ph-reg-steps-ddescription">اطلاعات شخصی فروشنده، اطلاعات تجاری، اطلاعات تماس</p>
                </li>
                <li class="step progressbar-item" id="progressbar_item_upload">
                    <h4 class="ph-reg-steps-title">۳. بارگذاری مدارک</h4>
                    <p class="ph-reg-steps-ddescription">اطلاعات مربوط به مالیات بر ارزش افزوده، تصویر مدارک
                        شخصی و
                        تجاری</p>
                </li>
                <li class="step progressbar-item" id="progressbar_item_end">
                    <h4 class="ph-reg-steps-title">۴. اتمام ثبت نام</h4>
                    <p class="ph-reg-steps-ddescription">به جمع فروشندگان دیجی‌کالا خوش آمدید.</p>
                </li>
            </ul>
        </div>

    </aside>
    {% block auth_content %}
    {% endblock %}
{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}

