{% extends 'base.html' %}
{% load static %}

{% block header_static %}
    <link rel="stylesheet" href="{% static 'owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ph-frontend-style.css' %}">
{% endblock %}
{% block content %}
    <header class="ph-main-header">
        <div class="container">
            <div class="ph-main-menu">
                <nav class="navbar navbar-expand-lg">
                    <div class="row w-100">
                        <div class="col-8">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
                                    aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="main_nav">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'home:index' %}">خانه</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="products_nav" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            محصولات
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="products_nav">
                                            <a class="dropdown-item" href="{% url 'products:list_products' %}">خام</a>
                                            <a class="dropdown-item" href="{% url 'products:list_products' %}">فراوری
                                                شده</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">درباره ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">تماس با ما</a>
                                    </li>
                                </ul>
                            </div><!-- .collapse -->
                        </div>
                        <div class="col-2">
                            <div class="ph-header-login">
                                {% if not user.is_authenticated %}
                                    <a href="#" class="ph-logestic-panel-btn" type="button" data-toggle="modal"
                                       data-target="#ph_LogIn_Modal">ورود</a>

                                    <!-- LogIn_Modal -->
                                    <div class="modal fade ph-modal" id="ph_LogIn_Modal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">ورود به پنل
                                                        کاربری</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="{% url 'users:login' %}">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <span class="ph-modal-item">
                                                                <input type="text" name="username" class="form-control"
                                                                       id="login-username"
                                                                       placeholder="نام کاربری خود را وارد کنید">
                                                            </span>
                                                            <span class="ph-modal-item">
                                                                <input type="password" name="password"
                                                                       class="form-control" id="login-password"
                                                                       placeholder="رمز عبور خود را وارد کنید">
                                                                <small id="login-error"
                                                                       class="form-text text-muted"></small>
                                                            </span>
                                                            <div class="custom-control custom-checkbox mr-2">
                                                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                                                <label class="custom-control-label" for="defaultUnchecked">مرا به خاطر بسپار</label>
                                                            </div>
                                                            <div class="ph-login-modal">
                                                                <button type="submit" id="ph_login_modal"
                                                                        class="ph-btn ph-border-radius-small">ورود
                                                                </button>
                                                            </div><!-- .ph-login-modal -->
                                                        </div><!-- .form-group -->
                                                        <div class="ph-signup-modal" id="ph_SignUp_Modal">
                                                            <span>قبلا ثبت نام نکرده اید؟</span><a
                                                                href="{% url "users:register_buyer" %}">ثبت نام</a>
                                                        </div><!-- .ph-signup-modal -->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="ph-header-docs ml-3">
                                        <a href="" data-toggle="tooltip" data-placement="bottom" title="قرارداهای فعال">
                                            <span class="ph-user-docs-no">3</span>
                                            <i class="far fa-file-alt"></i>
                                        </a>
                                    </div>
                                    <div class="ph-header-user-logged-in">
                                        <i class="fas fa-user"></i>
                                        <span class="text-light mr-1">{{ user.username }}</span>
                                        <div class="ph-header-user-drop-down-menu">
                                            <ul>
                                                <li><a href="{% url 'users:redirect' %}">پنل کاربری</a></li>
                                                <li><a href="{% url 'users:logout' %}">خروج</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div><!-- .ph-header-login -->
                        </div>
                        <div class="col-2">
                            <div class="ph-header-logo">
                                <a class="navbar-brand" href="{% url 'home:index' %}"><img
                                        src="{% static 'images/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </nav><!-- .navbar -->
            </div><!-- .ph-main-menu -->
        </div><!-- .container -->
    </header>
    {% block frontend_content %}

    {% endblock %}
{% endblock %}
{% block footer %}
    <div class="ph-footer">
        <div class="ph-top-footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="ph-footer-widget">
                            <div class="ph-footer-widget-heading">
                                <h5>دسترسی سریع</h5>
                            </div><!-- .ph-footer-widget-heading -->
                            <div class="ph-footer-menu">
                                <ul>
                                    <li><a href="#">خانه</a></li>
                                    <li><a href="#">محصولات</a></li>
                                    <li><a href="#">درباره ما</a></li>
                                    <li><a href="#">تماس با ما</a></li>
                                </ul>
                            </div><!-- .ph-footer-menu -->
                        </div><!-- .ph-footer-widget -->
                    </div><!-- .col-md-3 -->
                    <div class="col-12 col-md-3">
                        <div class="ph-footer-widget">
                            <div class="ph-footer-widget-heading">
                                <h5>دسترسی کاربران</h5>
                            </div><!-- .ph-footer-widget-heading -->
                            <div class="ph-footer-menu">
                                <ul>
                                    <li><a href="{% url 'users:seller_dashboard' %}">پنل فروشندگان</a></li>
                                    <li><a href="{% url 'users:logistic_dashboard' %}">پنل لجستیک</a></li>
                                    <li><a href="{% url 'users:buyer_dashboard' %}">پنل خریدار</a></li>
                                    <li><a href="{% url 'users:login' %}">پنل ادمین</a></li>
                                </ul>
                            </div><!-- .ph-footer-menu -->
                        </div><!-- .ph-footer-widget -->
                    </div><!-- .col-md-3 -->
                    <div class="col-12 col-md-3">
                        <div class="ph-footer-widget">
                            <div class="ph-footer-widget-heading">
                                <h5>شرایط استفاده از سایت</h5>
                            </div><!-- .ph-footer-widget-heading -->
                            <div class="ph-footer-menu">
                                <ul>
                                    <li><a href="#">قوانین و مقررات</a></li>
                                    <li><a href="#">قوانین ثبت نام فروشنده</a></li>
                                    <li><a href="#">قوانین ثبت نام حمل و نقل</a></li>
                                    <li><a href="#">حریم خصوصی</a></li>
                                </ul>
                            </div><!-- .ph-footer-menu -->
                        </div><!-- .ph-footer-widget -->
                    </div><!-- .col-md-3 -->
                    <div class="col-12 col-md-3">
                        <div class="ph-footer-widget">
                            <div class="ph-footer-widget-heading">
                                <h5>با ما در ارتباط باشید</h5>
                            </div><!-- .ph-footer-widget-heading -->
                            <div class="ph-footer-contact">
                                <ul>
                                    <li><a href="#"><i class="fas fa-phone"></i> تلفن: 09123456789</a></li>
                                    <li><a href="#"><i class="fas fa-phone"></i> پشتیبانی فنی: 09128764354</a></li>
                                    <li><a href="#"><i class="fas fa-envelope"></i> پست الکترونیک: info@stoneet.ir</a>
                                    </li>
                                    <li><a href="#"><i class="fab fa-whatsapp"></i> واتساپ: 09124567899</a></li>
                                </ul>
                            </div><!-- .ph-footer-contact -->
                        </div><!-- .ph-footer-widget -->
                    </div><!-- .col-md-3 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .ph-top-footer-wrapper -->
        <div class="ph-bottom-footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="ph-footer-copyright">
                            <p>تمامی حقوق مادی و معنوی این سایت برای استونیت محفوظ است.</p>
                        </div><!-- .ph-footer-copyright -->
                    </div><!-- .col-md-6 -->
                    <div class="col-12 col-md-6">
                        <div class="ph-footer-design">
                            <p>طراحی و توسعه : <a href="https://planhub.ir">PlanHUB</a></p>
                        </div><!-- .ph-footer-design -->
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .ph-bottom-footer-wrapper -->
    </div><!-- .ph-footer -->

{% endblock %}
{% block footer_static %}
    <script src="{% static 'owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/frontend.js' %}"></script>
{% endblock %}
{% block extra %}
    {% if error_message %}
        <script>
            $('small#login-error').empty().text("{{ error_message }}")
            $('#ph_LogIn_Modal').modal('show')
            $('#ph_LogIn_Modal').on('hidden.bs.modal', function () {
                $('small#login-error').empty()
            });
        </script>
    {% endif %}
{% endblock %}
