{% extends 'base.html' %}
{% load static %}

{% block header_static %}
    <link rel="stylesheet" href="{% static 'persian-datepicker/dist/css/persian-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ph-admin-style.css' %}">
{% endblock %}
{% block content %}
    <body>
        <div class="page-holder scroll-bar" id="ph_myscroll">
            <div class="ph-new-login seller-register">
                <aside class="ph-registration-panel-sidebar">
                    <div class="ph-new-login-sidebar">
                        <ul id="progressbar">
                            <li class="progressbar-item step active" id="progressbar_item_info">
                                <h6 class="ph-reg-steps-title">۱. ثبت نام</h6>
                                <p class="ph-reg-steps-description">اطلاعات شخصی فروشنده، اطلاعات تجاری، اطلاعات تماس</p>
                            </li>
                            <li class="progressbar-item step" id="progressbar_item_info">
                                <h6 class="ph-reg-steps-title">۲. اطلاعات فروشنده</h6>
                                <p class="ph-reg-steps-description">اطلاعات شخصی فروشنده، اطلاعات تجاری، اطلاعات تماس</p>
                            </li>
                            <li class="progressbar-item step" id="progressbar_item_upload">
                                <h6 class="ph-reg-steps-title">۳. بارگذاری مدارک</h6>
                                <p class="ph-reg-steps-description">اطلاعات مربوط به مالیات بر ارزش افزوده، تصویر مدارک شخصی
                                    و
                                    تجاری</p>
                            </li>
                            <li class="progressbar-item step" id="progressbar_item_end">
                                <h6 class="ph-reg-steps-title">۴. اتمام ثبت نام</h6>
                                <p class="ph-reg-steps-description">به جمع فروشندگان استونیت خوش آمدید.</p>
                            </li>
                        </ul>
                        <div class="ph-registration-panel-footer">
                            <div class="ph-registration-panel-bottom-links">
                                <a href="{% url 'home:index' %}">صفحه اصلی</a>
                                <span> | </span>
                                <a href="{% url 'users:login' %}">ورود به پنل</a>
                            </div><!-- .ph-registration-panel-bottom-links -->
                                <div>تمامی حقوق مادی و معنوی این سایت برای استونیت محفوظ است.</div>
                                <div>طراحی و توسعه :<a href="https://planhub.ir/">PlanHUB</a></div>
                        </div><!-- .ph-registration-panel-footer -->
                    </div><!-- .ph-new-login-sidebar -->
                </aside><!-- .ph-registration-panel-sidebar -->

                {% block auth_content %}
                {% endblock %}
            </div><!-- .ph-new-login -->
        </div><!-- .page-holder -->
{% endblock %}

{% block footer_static %}
    <script src="{% static 'persian-date/dist/persian-date.min.js' %}"></script>
    <script src="{% static 'persian-datepicker/dist/js/persian-datepicker.min.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
