{% load static %}

<!doctype html>
<html lang="fa" dir="rtl">
<head>
    {% block meta_content %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'magnific-popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/ph-master-style.css' %}">
    <link rel="stylesheet" href="{% static 'persian-datepicker/dist/css/persian-datepicker.min.css' %}">
    {% block header_static %}
    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}

<footer>
    {% block footer %}
    {% endblock %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'persian-date/dist/persian-date.min.js' %}"></script>
    <script src="{% static 'persian-datepicker/dist/js/persian-datepicker.min.js' %}"></script>
    {% block footer_static %}
    {% endblock %}
    {% block base_admin_static %}
    {% endblock %}
    {% block extra %}
    {% endblock %}
</footer>


<!-- modal#error-modal -------------------------------------------->
<div id="error-modal" class="modal fade ph-modal ph-war-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalC">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <img src="{% static 'images/warning-sign.png' %}" alt="" width="100" height="100">
            <div class="modal-header">
                <h5 class="modal-title">خطا</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- .modal-header -->
            <div class="modal-body">

            </div><!-- .modal-body -->
            <div class="ph-login-modal">
                <button type="submit" id="ph_login_modal"
                        class="ph-btn ph-border-radius-small" data-dismiss="modal" aria-label="Close">متوجه شدم
                </button>
            </div><!-- .ph-login-modal -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- modal#error-modal -->

<!-- LogIn_Modal -------------------------------------------------->
<div class="modal fade ph-modal" id="ph_LogIn_Modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ورود به پنل
                    کاربری</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- .modal-header -->
            <div class="modal-body ph-modal-bg-login">
                <form method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                                <span class="ph-modal-item">
                                    <input type="text" name="username" class="form-control" id="login-username"
                                           placeholder="نام کاربری خود را وارد کنید">
                                </span>
                        <span class="ph-modal-item">
                                    <input type="password" name="password" class="form-control" id="login-password"
                                           placeholder="رمز عبور خود را وارد کنید">
                                    <small id="login-error" class="form-text text-muted"></small>
                                </span>
                        <div class="custom-control custom-checkbox mr-2">
                            <input type="checkbox" class="custom-control-input"
                                   id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">مرا به
                                خاطر
                                بسپار</label>
                        </div><!-- .custom-checkbox -->
                        <div class="ph-login-modal">
                            <button type="submit" id="ph_login_modal"
                                    class="ph-btn ph-border-radius-small">ورود
                            </button>
                        </div><!-- .ph-login-modal -->
                    </div><!-- .form-group -->
                    <div class="ph-signup-modal" id="ph_SignUp_Modal">
                        <span>قبلا ثبت نام نکرده اید؟</span><a
                            href="{% url "users:register_buyer" %}">ثبت نام</a>
                    </div><!-- .ph-signup-modal -->
                </form>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- modal#ph_LogIn_Modal -->


<!-- modal #bell-modal -------------------------------------------->
<div id="bell-modal" class="modal fade ph-modal ph-war-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalC">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">دلیل رد شدن</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- .modal-header -->
            <div class="modal-body">

            </div><!-- .modal-body -->
            <div class="ph-login-modal">
                <button type="submit" id="ph_login_modal"
                        class="ph-btn ph-border-radius-small" data-dismiss="modal" aria-label="Close">متوجه شدم
                </button>
            </div><!-- .ph-login-modal -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- modal#bell-modal -->

<!-- Won ph_won_auction ------------------------------------------->
<div class="modal fade ph-modal ph-auction-modal" id="ph_won_auction" tabindex="-1" role="dialog"
     aria-labelledby="auction_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">مشخصات سفارش</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="auction_date">تاریخ شروع مناقصه</label>
                            <input type="text" class="form-control" value="02/11/1365" readonly>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="auction_date">شماره سفارش</label>
                            <input type="text" class="form-control" value="566784" readonly>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="auction_date">نوع بار</label>
                            <input type="text" class="form-control" value="مواد معدنی" readonly>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="auction_date">بسته بندی</label>
                            <input type="text" class="form-control" value="کیسه 25 کیلویی" readonly>
                        </div><!-- .form-group -->
                    </div><!-- .col-md-6 -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="auction_date">تاریخ پایان مناقصه</label>
                            <input type="text" class="form-control" value="03/11/1365" readonly>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="auction_date">میزان بار</label>
                            <input type="text" class="form-control" value="30 تن" readonly>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="auction_date">تعداد ارسال</label>
                            <input type="text" class="form-control" value="4" readonly>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="auction_date">میزان هر ارسال</label>
                            <input type="text" class="form-control" value="10 تن" readonly>
                        </div><!-- .form-group -->
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4>مبدا</h4>
                        <span>نام استان</span> - <span>نام شهر</span>
                        <p>آدرس مبدا در این قسمت وارد می شود</p>
                    </div><!-- .col-md-6 -->
                    <div class="col-12 col-md-6">
                        <h4>مقصد</h4>
                        <span>نام استان</span> - <span>نام شهر</span>
                        <p>آدرس مقصد در این قسمت وارد می شود</p>
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="auction_date">آخرین قیمت</label>
                            <input type="text" class="form-control" value="345.000" readonly>
                        </div><!-- .form-group -->
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- modal#ph_won_auction -->

<!-- Admin QC MODAL ----------------------------------------------->

</body>
</html>
