{% extends 'base.html' %}
{% load static %}

{% block header_static %}

    <link rel="stylesheet" href="{% static 'css/ph-admin-style.css' %}">
{% endblock %}

{% block content %}
    <div class="page-holder scroll-bar" id="ph_myscroll">
        <div class="ph-seller-panel">
            <aside class="ph-seller-panel-sidebar
                {% if user.is_superuser %}pos-rel bg-color-5{% endif %}
                {% if user.is_seller %}bg-color-5{% endif %}
                {% if user.is_buyer %}bg-color-3{% endif %}
                {% if user.is_logistic %}bg-color-2{% endif %}
                {% if user.is_admin %}bg-color-4{% endif %}
            ">
                <nav class="ph-sp-navbar navbar navbar-expand-lg">
                    <a class="ph-navbar-logo" href="{% url 'home:index' %}">
                        <img class="ph-sp-logo" src="{% static 'images/logo.png' %}" alt="header-Logo">
                    </a>
                    <div class="ph-sp-username">مصطفی چراغی</div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="ph-sp-collapse collapse navbar-collapse" id="navbarCollapse">

                        <ul class="ph-sp-navbar-nav navbar-nav sidenav" id="navAccordion">
                            {% include 'partials/panel/'|add:user.use_type|add:".html" %}
                            <li class="nav-item">
                                <a class="nav-link ph-btn" href="{% url 'users:logout' %}">
                                    <span class="nav-link-text">خروج</span>
                                </a>
                            </li>
                        </ul>
                        <!-- ph-sp-navbar-nav -->
                    </div>
                    <!-- ph-sp-collapse -->
                </nav>
                <!-- ph-sp-navbar -->
                <div class="aside-design-by">
                    طراحی و توسعه توسط
                     <a href="https://planhub.ir/">
                         PlanUHB
                         <img src="{% static 'images/ph-thumb-logo.png' %}" alt="footer-logo" class="ph-adb-logo">
                     </a>
                </div>
                    <!-- aside-design-by -->
            </aside>
        </div>
        {% block admin_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer_static %}

{% endblock %}