{% extends 'base.html' %}

{% block title %}
به معدن خوش آمدید
{% endblock %}

{% block content %}
    <div style="text-align: center;">
    <a href="{% url 'users:login' %}">Login</a>
    <span>|</span>
    <a href="{% url 'users:logout' %}">Logout</a>
    <span>|</span>
    <a href="{% url 'users:register' %}">Seller Registration</a>
    <span>|</span>
    <a href="{% url 'users:dashboard' %}">Admin Panel</a>
    <span>|</span>
    <a href="{% url 'users:dashboard' %}">Seller Panel</a>
    <span>|</span>
    <a href="{% url 'users:dashboard' %}">Logistic Panel</a>
    <span>|</span>
    <a href="{% url 'users:dashboard' %}">Customer Panel</a>
    </div>
{% endblock %}