{% extends 'base.html' %}

{% block title %}
به معدن خوش آمدید
{% endblock %}

{% block content %}
    <div style="text-align: center;">
    <a href="{% url 'users:login' %}">Login</a>
    <span>|</span>
    <a href="{% url 'users:logout' %}">Logout</a>
    <span>|</span>
    <a href="{% url 'users:register' %}">Seller Registration</a>
    <span>|</span>
    <a href="{% url 'users:seller_dashboard' %}">Admin Panel</a>
    <span>|</span>
    <a href="{% url 'users:seller_dashboard' %}">Seller Panel</a>
    <span>|</span>
    <a href="{% url 'users:seller_dashboard' %}">Logistic Panel</a>
    <span>|</span>
    <a href="{% url 'users:buyer_dashboard' %}">Customer Panel</a>
    </div>

    <!DOCTYPE HTML>
<html lang="fa" dir="rtl">

<head>
    <title>Stoneet</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/ph-home-style.css" />
</head>

<body>
    <header class="container">
        <div class="row">
            <h1 class="col-12 col-md-4">Stoneet</h1>
            <nav class="col-12 col-md-6">
                <div class="menu custom-flex">
                    <ul class="p-0">
                        <li>خانه</li>
                        <li>فروشگاه</li>
                        <li>درباره ما</li>
                        <li>تماس با ما</li>
                    </ul>
                    <input class="btn btn-danger" type="submit" value="پنل فروشندگان">
                    <input class="btn btn-danger" type="submit" value="پنل لاجستیک">
                </div>
            </nav>
        </div>
    </header>
    <content>
        <div class="main">
            <div id="slider">
                <div class="main-slider">
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" id="search" placeholder="جستجو">
                            <input class="btn btn-danger" type="submit" value="جستجو">
                        </form>
                    </div>
                </div>
            </div>
            <div class="short-sliders row-1-bg my-5">
                <div class="container-fluid">
                    <div class="shortcuts">
                        <div class="shortcut">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="short-sliders row-2-bg py-5">
                <div class="container-fluid">
                    <div class="shortcuts">
                        <div class="shortcut">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                            <img src="static/images/Sample01.jpg" alt="" class="shortcut-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="registration my-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="reg-box seller-reg">
                                <h3>ثبت نام فروشندگان</h3>
                                <p>تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست </p>
                                <input class="btn btn-danger" type="submit" value="تبت نام فروشندگان">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="reg-box logistic-reg">
                                <h3>ثبت نام فروشندگان</h3>
                                <p>تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست </p>
                                <input class="btn btn-danger" type="submit" value="ثبت نام حمل و نقل">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-us my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="info-box">
                                    <h3>درباره ما</h3>
                                    <p>تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .registration -->
        </div>
    </content>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="footer-widget">
                        <h5>لینک کوتاه</h5>
                        <ul>
                            <li>خانه</li>
                            <li>درباره ما</li>
                            <li>محصولات</li>
                            <li>فروشگاه</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer-widget">
                        <h5>لینک کوتاه</h5>
                        <ul>
                            <li>خانه</li>
                            <li>درباره ما</li>
                            <li>محصولات</li>
                            <li>فروشگاه</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer-widget">
                        <h5>لینک کوتاه</h5>
                        <ul>
                            <li>خانه</li>
                            <li>درباره ما</li>
                            <li>محصولات</li>
                            <li>فروشگاه</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer-widget">
                        <h5>لینک کوتاه</h5>
                        <ul>
                            <li>خانه</li>
                            <li>درباره ما</li>
                            <li>محصولات</li>
                            <li>فروشگاه</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        تمامی حقوق مادی و معنوی این سایت برای استونیت محفوظ است. توسعه و طراحی توسط: <a href="https://planhub.ir">پلن هاب</a> 2021
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
    </footer>
</body>

</html>
{% endblock %}