{% extends 'base-panel.html' %}

{% block panel_content %}
    <main class="ph-create-product-main">
        <div class="ph-cpm-bg background-image"></div>

        <div class="container">

            <form action="" id="ph_create_product_form" role="form">

                <input class="ph-cp-input-check" id='step2' type='checkbox'>
                <input class="ph-cp-input-check" id='step3' type='checkbox'>
                <input class="ph-cp-input-check" id='step4' type='checkbox'>

                <div id="part1" class="ph-choose-category form-group">
                    <div class="ph-cp-header-parts part-1">
                        <ul class="ph-cp-step-1 ph-cp-progressbar">
                            <li><img class="ph-cp-cc-item" src="images/elective.png" alt=""><span>گام اول</span><i
                                    class="fas fas fa-sync-alt"></i></li>
                            <li><img class="ph-cp-cc-item" src="images/information.png"
                                     alt=""><span>گام دوم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-cc-item" src="images/details.png" alt=""><span>گام سوم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-cc-item" src="images/title.png" alt=""><span>گام چهارم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-cc-item" src="images/elective.png" alt=""><span>گام پنجم</span><i
                                    class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <div class="ph-cp-panel">
                        <div class="ph-cp-panel-heading">
                            <h6 class="ph-cp-panel-title">برای درج کالای جدید ابتدا گروه کالای خود را انتخاب
                                کنید:</h6>
                        </div>
                        <div class="form-row mb-5 align-items-center">
                            <div class="col-5 col-offset-2 my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">گروه مادر</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>انتخاب...</option>
                                    <option value="1">گروه اول</option>
                                    <option value="2">گروه دوم</option>
                                    <option value="3">گروه سوم</option>
                                </select>
                            </div>
                            <div class="col-5 my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">زیر گروه‌ها</label>
                                <select class="form-control" id="inlineFormCustomSelect">
                                    <option selected>انتخاب...</option>
                                    <option value="1">زیر گروه اول</option>
                                    <option value="2">زیر گروه دوم</option>
                                    <option value="3">زیر گروه سوم</option>
                                </select>
                            </div>
                        </div>
                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='step2' id="next-step2" class="ph-cpp-btn-next">
                                <div class="ph-cpp-btn-n">بعدی</div>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- #part1 ph-choose-category -->

                <div id="part2" class="ph-insert-title form-group">
                    <div class="ph-cp-header-parts part-2">
                        <ul class="ph-cp-step-2 ph-cp-progressbar">
                            <li><img class="ph-cp-it-item" src="images/elective.png" alt=""><span>گام اول</span><i
                                    class="fas fa-check"></i></li>
                            <li><img class="ph-cp-it-item" src="images/information.png"
                                     alt=""><span>گام دوم</span><i
                                    class="fas fa-sync-alt"></i></li>
                            <li><img class="ph-cp-it-item" src="images/details.png" alt=""><span>گام سوم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-it-item" src="images/title.png" alt=""><span>گام چهارم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-it-item" src="images/elective.png" alt=""><span>گام پنجم</span><i
                                    class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts part-2 -->

                    <div class="ph-cp-panel">
                        <div class="ph-cp-panel-heading">
                            <h6 class="ph-cp-panel-title">برای محصول خود یک عنوان انتخاب کنید:</h6>
                        </div>
                        <div class="form-group mb-5">
                            <label for="formGroupExampleInput">عنوان مورد نظر را وارد کنید</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                   placeholder="نام محصول را با حروف فارسی وارد کنید...">
                        </div>

                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='step2' id="back-step2" class="back">
                                <div class="ph-cpp-btn-n" role="button">قبلی</div>
                            </label>

                            <label for='step3' id="next-step3" class="ph-cpp-btn-next">
                                <div class="ph-cpp-btn-n">بعدی</div>
                            </label>

                        </div>
                    </div>
                    <!-- ph-cp-panel -->
                </div>
                <!-- #part2 ph-insert-title -->


                <div id="part3" class="ph-general-attributes form-group">
                    <div class="ph-cp-header-parts part-3">
                        <ul class="ph-cp-step-3 ph-cp-progressbar">
                            <li><img class="ph-cp-ga-item" src="images/elective.png" alt=""><span>گام اول</span><i
                                    class="fas fa-check"></i></li>
                            <li><img class="ph-cp-ga-item" src="images/information.png"
                                     alt=""><span>گام دوم</span><i
                                    class="fas fa-check"></i></li>
                            <li><img class="ph-cp-ga-item" src="images/details.png" alt=""><span>گام سوم</span><i
                                    class="fas fa-sync-alt"></i></li>
                            <li><img class="ph-cp-ga-item" src="images/title.png" alt=""><span>گام چهارم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-ga-item" src="images/elective.png" alt=""><span>گام پنجم</span><i
                                    class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <!-- ph-cp-header-parts part-3 -->

                    <div class="ph-cp-panel">
                        <div class="ph-cp-panel-heading">
                            <h6 class="ph-cp-panel-title">گام سوم: درج ویژگی‌های کالا:</h6>
                        </div>

                        <div class="form-row mb-5 align-items-center mb-4">
                            <div class="col-5 col-offset-2 my-1">
                                <label id="" for="">قیمت</label>
                                <input type="text" class="form-control" id="" placeholder="قیمت را وارد کنید..."
                                       value=""
                                       required>
                            </div>
                            <div class="col-5 my-1">
                                <label id="" for="">قیمت‌گذلری</label>
                                <select id="" class="mdb-select md-form form-control">
                                    <option value="" disabled selected>قیمت به ازای هر کیلو</option>
                                    <option value="1">دلار به ازای هر تن</option>
                                    <option value="2">یورو به ازای هر تن</option>
                                    <option value="3">تومان به ازای هر عدد</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_state">استان</label>
                            <select id="ph_spm_create_produc_state" class="mdb-select md-form form-control">
                                <option value="" disabled selected>استان خود را انتخاب کنید:</option>
                                <option value="1">تهران</option>
                                <option value="2">چهارمحال بختیاری</option>
                                <option value="3">کهگیلویه و بویراحمد</option>
                            </select>
                            <!-- ph_spm_create_produc_category -->
                        </p>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_city">شهر</label>
                            <select id="ph_spm_create_produc_city" class="mdb-select md-form form-control">
                                <option value="" disabled selected>شهر خود را انتخاب کنید:</option>
                                <option value="1">تهران</option>
                                <option value="2">یاسوج</option>
                                <option value="3">شهرکرد</option>
                            </select>
                            <!-- ph_spm_create_produc_category -->
                        </p>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_email">ایمیل</label>
                            <input type="text" class="form-control" id="ph_spm_create_produc_email"
                                   placeholder="abcd@gmail.com" value="" required>
                        <div class="valid-feedback">
                            لطفا از حروف انگلیسی استفاده کنید
                        </div>
                        </p>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_mobile">شماره موبایل</label>
                            <input type="text" class="form-control" id="ph_spm_create_produc_mobile"
                                   placeholder="09XX XXXXXXX" value="" required>
                        <div class="valid-feedback">
                            لطفا از اعداد انگلیسی استفاده کنید
                        </div>
                        </p>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_tel">تلفن ثابت</label>
                            <input type="tel" class="form-control" id="ph_spm_create_produc_tel"
                                   placeholder="0xx xxxxxxxx" value="" required>
                        <div class="valid-feedback">
                            لطفا از اعداد انگلیسی استفاده کنید
                        </div>
                        </p>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_description">توضیحات:</label>
                            <textarea class="form-control" id="ph_spm_create_produc_description" rows="3"
                                      placeholder="توضیحات خود را مختصر ینویسید"></textarea>
                        </p>
                        <div class="clearfix"></div>

                        <p class="mb-4">
                            <label for="ph_spm_create_produc_description">انتخاب کنید:</label>
                            <span class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                     id="ph_spm_create_produc_radio1" value="option1">
                              <label class="form-check-label" for="ph_spm_create_produc_radio1">گزینه‌ی
                                 اول</label>
                           </span>
                            <span class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                     id="ph_spm_create_produc_radio2" value="option2">
                              <label class="form-check-label" for="ph_spm_create_produc_radio2">گزینه‌ی
                                 دوم</label>
                           </span>
                        </p>
                        <div class="clearfix"></div>

                        <div class="mb-4">
                            <label for="ph_spm_create_produc_description">انتخاب کنید:</label>
                            <div class="ph-checkbox-form-group">
                              <span class="form-check">
                                 <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="option1"
                                           value="something" checked>گزینه‌ی اول
                                 </label>
                              </span>
                                <span class="form-check">
                                 <label class="form-check-label" for="check2">
                                    <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                           value="something">گزینه‌ی دوم
                                 </label>
                              </span>
                                <span class="form-check">
                                 <label class="form-check-label" for="check3">
                                    <input type="checkbox" class="form-check-input" id="check3" name="option3"
                                           value="something">گزینه‌ی سوم
                                 </label>
                              </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='step3' id="back-step3" class="back">
                                <div class="ph-cpp-btn-n" role="button">قبلی</div>
                            </label>

                            <label for='step4' id="next-step4" class="ph-cpp-btn-next">
                                <div class="ph-cpp-btn-n">بعدی</div>
                            </label>

                        </div>
                    </div>

                </div>


                <div id="part4" class="ph-insert-title form-group">
                    <div class="ph-cp-header-parts part-2">
                        <ul class="ph-cp-step-2 ph-cp-progressbar">
                            <li><img class="ph-cp-it-item" src="images/elective.png" alt=""><span>گام اول</span><i
                                    class="fas fa-check"></i></li>
                            <li><img class="ph-cp-it-item" src="images/information.png"
                                     alt=""><span>گام دوم</span><i
                                    class="fas fa-sync-alt"></i></li>
                            <li><img class="ph-cp-it-item" src="images/details.png" alt=""><span>گام سوم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-it-item" src="images/title.png" alt=""><span>گام چهارم</span><i
                                    class="fas fa-times"></i></li>
                            <li><img class="ph-cp-it-item" src="images/elective.png" alt=""><span>گام پنجم</span><i
                                    class="fas fa-times"></i></li>
                        </ul>
                    </div>

                    <div class="ph-cp-panel">
                        <div class="ph-cp-panel-heading">
                            <h6 class="ph-cp-panel-title">برای محصول خود یک عنوان انتخاب کنید:</h6>
                        </div>
                        <div class="form-group mb-5">
                            <label for="formGroupExampleInput">عنوان مورد نظر را وارد کنید</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                   placeholder="نام محصول را با حروف فارسی وارد کنید...">
                        </div>

                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <label for='step4' id="back-step4" class="back">
                                <div class="ph-cpp-btn-n" role="button">قبلی</div>
                            </label>

                            <label for='step5' id="next-step5" class="ph-cpp-btn-next">
                                <div class="ph-cpp-btn-n">بعدی</div>
                            </label>

                        </div>
                    </div>
                </div>

            </form>

        </div>

    </main>

{% endblock %}