{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    ورود به صفحه
{% endblock %}

{% block content %}
    <div class="ph-page">
        <div class="ph-login-wrapper">
            <div class="container">
                <div class="ph-page-title">
                    <h2>ورود کاربران</h2>
                </div>
                <form method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="ph_login_email">نام کاربری</label>
                        {% render_field form.username type="text" class="form-control" id="ph_login_username" %}
                    </div>
                    <div class="form-group">
                        <label for="ph_login_password">رمز عبور</label>
                        {% render_field form.password type="password" class="form-control" id="ph_login_password" %}
                    </div>
                    <button type="submit" class="btn btn-primary">ورود</button>
                    <a href="{% url "users:register" %}">
                        <button type="submit" class="btn btn-danger">ثبت نام</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}