{% extends 'base_auth.html' %}

{% block auth_content %}
		<div class="ph-new-login">
			<main class="ph-new-login-main">
				
				<form id="ph_new_login_form" action="">

					<article class="tab" id="ph_new_login_sign_up">
					   <div class="form-group">
						  <span class="ph-signup-inputs sign-up-email">
							 <input type="email" class="form-control" id="sign_up_email" aria-describedby="emailHelp"
								placeholder="ایمیل خود را وارد کنید">
							 <small id="emailـHelp" class="form-text text-muted">ایمیل شما به اشتراک گذاشته نمیشود.</small>
						  </span>
						  <span class="ph-signup-inputs sign-up-password">
							 <input type="password" class="form-control" id="sign_up_password"
								placeholder="رمز عبور خود را انتخاب کنید">
							 <small id="passـHelp" class="form-text text-muted">ایمیل شما به اشتراک گذاشته نمیشود.</small>
						  </span>
						  <span class="ph-signup-inputs sign-up-number">
							 <input type="tel" class="form-control" id="sign_up_number" placeholder="09** *******"
								pattern="^\d{4}-\d{3}-\d{4}$" required>
							 <small id="numـHelp" class="form-text text-muted">ایمیل شما به اشتراک گذاشته نمیشود.</small>
						  </span>
	 
						  <div class="ph-signup-submit-btn"><button type="submit" id="ph_signup_submit_btn" class="btn">ثبت
								نام</button></div>
					   </div>
					   <div id="ph_sign_in_to_sign_up">
						  <span>قبلا ثبت نام کرده ام.</span><a href="#">ورود</a>
					   </div>
	 
					   <div class="ph-new-login-sign-up-alert">
						  <span>توجه:</span>
						  <p>در صورتی که مراحل ثبت نام را نیمه تمام گذاشته اید، می توانید با همان ایمیل ثبت نام خود را ادامه
							 دهید.</p>
					   </div>
	 
					</article>

					<article class="tab" id="ph_new_login_seller_info">
						<div class="ph-new-login-seller-info-wrapper">
						   <div class="ph-new-login-alert">
							  <span>توجه:</span>
							  <p>پر کردن تمامی موارد الزامیست.</p>
						   </div>
	  
						   <section class="ph-private-business" id="ph_private_business">
							  <h3 class="ph-new-login-2-title">چه نوع فروشنده‌ای هستید؟</h3>
	  
							  <div class="ph-private-business-check">
								 <div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="ph-private-business-check"
									   id="ph_private_business_check_private" value="private">
									<label class="form-check-label" for="ph_private_business_check_private">شخص حقیقی</label>
								 </div>
								 <div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="ph-private-business-check"
									   id="ph_private_business_check_business" value="business">
									<label class="form-check-label" for="ph_private_business_check_business">شخص حقوقی</label>
								 </div>
							  </div>
	  
							  <p class="ph-private-business-details">شخص حقیقی فردی است که دارای خصوصیاتی مختص به خود مانند
								 نام،
								 نام خانوادگی، تاریخ تولد، کد ملی، شماره شناسنامه و غیره می باشد.</p>
							  <p class="ph-private-business-details">شخص حقوقی موسسات یا شرکت هایی هستند که پس از طی مراحل
								 قانونی
								 به ثبت می‌رسند و دارای مشخصاتی مانند نام شخص حقوقی، تاریخ ثبت، شماره ثبت، کد شناسایی، کد
								 اقتصادی، موضوع فعالیت و غیره می باشند.</p>
						   </section>

						   <section class="ph-company-account" id="ph_company_account">
							  <h3 class="ph-new-login-2-title">اطلاعات شرکت</h3>
	  
							  <div id="ph_company_account_name_lastname" class="needs-validation" novalidate>
								 <div class="form-row">
									<div class="col-md-12 mb-3">
									   <label for="ph_company_account_name">نام شرکت</label>
									   <input type="text" class="form-control" id="ph_company_account_name" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-12 mb-3">
									   <label for="ph_type_of_company">نوع شرکت</label>
									   <div class="ph-private-business-check">
										  <div class="form-check form-check-inline">
											 <input class="form-check-input" type="radio" name="ph-private-business-check"
												id="ph_private_business_check_private" value="private">
											 <label class="form-check-label" for="ph_private_business_check_private">سهامی
												عام</label>
										  </div>
										  <div class="form-check form-check-inline">
											 <input class="form-check-input" type="radio" name="ph-private-business-check"
												id="ph_private_business_check_business" value="business">
											 <label class="form-check-label" for="ph_private_business_check_business">سهامی
												خاص</label>
										  </div>
										  <div class="form-check form-check-inline">
											 <input class="form-check-input" type="radio" name="ph-private-business-check"
												id="ph_private_business_check_business" value="business">
											 <label class="form-check-label" for="ph_private_business_check_business">مسئولیت
												محدود</label>
										  </div>
										  <div class="form-check form-check-inline">
											 <input class="form-check-input" type="radio" name="ph-private-business-check"
												id="ph_private_business_check_business" value="business">
											 <label class="form-check-label"
												for="ph_private_business_check_business">تعاونی</label>
										  </div>
									   </div>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-12 mb-3">
									   <label for="ph_company_account_name">شماره ثبت شرکت</label>
									   <input type="text" class="form-control" id="ph_company_account_name" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-12 mb-3">
									   <label for="ph_company_account_name">شناسه ملی شرکت</label>
									   <input type="text" class="form-control" id="ph_company_account_name" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-12 mb-3">
									   <label for="ph_company_account_name">شناسه مالی</label>
									   <input type="text" class="form-control" id="ph_company_account_name" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-12 mb-3">
									   <label for="ph_company_account_name">حق چاپ امضا</label>
									   <input type="text" class="form-control" id="ph_company_account_name" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
								 </div>
							  </div>
	  
						   </section>

						   <section class="ph-info-contacts" id="ph_info_contacts">
							  <h3 class="ph-new-login-2-title">اطلاعات تماس شرکت</h3>
	  
							  <div id="ph_info_contact_form">
								 <div class="row">
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_state">استان</label>
									   <select id="ph_info_contacts_state" class="mdb-select md-form">
										  <option value="" disabled selected>انتخاب کنید:</option>
										  <option value="1">تهران</option>
										  <option value="2">چهارمحال و بختیاری</option>
										  <option value="3">کهگیلویه و بویراحمد</option>
									   </select>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_city">شهر</label>
									   <select id="ph_info_contacts_city" class="mdb-select md-form">
										  <option value="" disabled selected>انتخاب کنید:</option>
										  <option value="1">تهران</option>
										  <option value="2">نقده</option>
										  <option value="3">رباط کریم</option>
									   </select>
									</div>
	  
									<div class="col-12 mb-3">
									   <label for="ph_info_contacts_address">آدرس</label>
									   <input type="text" class="form-control" id="ph_info_contacts_address"
										  placeholder="آدرس خود را به صورت کامل (محله - خیابان اصلی - کوچه - پلاک – واحد ) وارد نمایید"
										  value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_kodposti">کدپستی</label>
									   <input type="text" class="form-control" id="ph_info_contacts_kodposti"
										  placeholder="۱۲۳۴۵-۶۷۸۹۰" value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_location">موقعیت مکانی</label>
									   <input type="text" class="form-control" id="ph_info_contacts_location"
										  placeholder="۱۲۳۴۵۶۷۸۹۰" value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_tel">تلفن ثابت</label>
									   <input type="text" class="form-control" id="ph_info_contacts_tel" placeholder="۰۲۱ "
										  value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_mobile">موبایل</label>
									   <input type="text" class="form-control" id="ph_info_contacts_mobile" placeholder="۰۹ "
										  value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
								 </div>
							  </div>
	  
						   </section>

						   <section class="ph-business-info" id="ph_business_info">
							  <h3 class="ph-new-login-2-title">اطلاعات مالی شرکت</h3>
	  
							  <div id="ph_business_info_form">
								 <div class="row">
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_brand">نام حساب بانکی شرکت</label>
									   <input type="text" class="form-control" id="ph_business_info_brand"
										  placeholder="نام فروشگاه خود را تایپ کنید..." value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_sheba">شماره شبا</label>
									   <input type="text" class="form-control" id="ph_business_info_sheba"
										  placeholder="IR __-____-____-____-____-____-__" value="" required
										  style="direction: ltr;text-align: left;">
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
								 </div>
							  </div>
						   </section>

	  
						   <section class="ph-business-info" id="ph_business_info">
							  <h3 class="ph-new-login-2-title">اسناد ثبت شرکت</h3>
	  
							  <div id="ph_business_info_form">
								 <div class="row">
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_brand">آخرین به روزرسانی روزنامه رسمی *</label>
									   <input type="text" class="form-control" id="ph_business_info_brand"
										  placeholder="تاریخ شمسی وارد کنید..." value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_sheba">گواهی مالیات بر ارزش افزوده *</label>
									   <input type="text" class="form-control" id="ph_business_info_sheba"
										  placeholder="گواهی مالیات بر ارزش افزوده *" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-12 mb-3">
									   <label for="ph_business_info_brand">شناسنامه ملی کپی رایت امضا *</label>
									   <input type="text" class="form-control" id="ph_business_info_brand"
										  placeholder="شناسنامه ملی کپی رایت امضا..." value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="form-check">
									   <input type="checkbox" class="form-check-input" id="exampleCheck1">
									   <label class="form-check-label" for="exampleCheck1">کادر شرایط و شرایط را علامت بزنید و
										  روی دکمه تأیید کلیک کنید</label>
									</div>
	  
	  
								 </div>
							  </div>
						   </section>

						   <section class="ph-real-account" id="ph_real_account">
							  <h3 class="ph-new-login-2-title">اطلاعات شخصی</h3>
	  
							  <div id="ph_real_account_name_lastname" class="needs-validation" novalidate>
								 <div class="form-row">
									<div class="col-md-6 mb-3">
									   <label for="ph_real_account_name">نام</label>
									   <input type="text" class="form-control" id="ph_real_account_name" value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-6 mb-3">
									   <label for="ph_real_account_lastname">نام خانوادگی</label>
									   <input type="text" class="form-control" id="ph_real_account_lastname" value=""
										  required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
								 </div>
							  </div>
	  
							  <div id="ph_real_account_birthday">
								 <label for="ph_real_account_birthday_date">تاریخ تولد</label>
								 <select id="ph_real_account_birthday_date" class="mdb-select md-form">
									<option value="" disabled selected>روز</option>
									<option value="1">۱</option>
									<option value="2">۲</option>
									<option value="3">۳</option>
								 </select>
								 <select id="ph_real_account_birthday_month" class="mdb-select md-form">
									<option value="" disabled selected>ماه</option>
									<option value="1">فروردین</option>
									<option value="2">اردیبهشت</option>
									<option value="3">خرداد</option>
								 </select>
								 <select id="ph_real_account_birthday_year" class="mdb-select md-form">
									<option value="" disabled selected>سال</option>
									<option value="1">۱۳۶۴</option>
									<option value="2">۱۳۶۵</option>
									<option value="3">۱۳۶۶</option>
								 </select>
							  </div>
	  
							  <div id="ph_real_account_gender">
								 <div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="ph-real-account-gender"
									   id="ph_real_account_gender_man" value="man">
									<label class="form-check-label" for="ph_real_account_gender_man">مرد</label>
								 </div>
								 <div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="ph-real-account-gender"
									   id="ph_real_account_gender_woman" value="woman">
									<label class="form-check-label" for="ph_real_account_gender_woman">زن</label>
								 </div>
							  </div>
	  
							  <div id="ph_real_account_melli_shenasname" class="needs-validation" novalidate>
								 <div class="form-row">
									<div class="col-md-6 mb-3">
									   <label for="ph_real_account_shenasname">شماره شناسنامه</label>
									   <input type="text" class="form-control" id="ph_real_account_shenasname"
										  placeholder="۱۲۳۴۵" value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
									<div class="col-md-6 mb-3">
									   <label for="ph_real_account_melli">کد ملی</label>
									   <input type="text" class="form-control" id="ph_real_account_melli"
										  placeholder="۱۲۳۴۵۶۷۸۹۰" value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
								 </div>
							  </div>
	  
						   </section>

						   <section class="ph-info-contacts" id="ph_info_contacts">
							  <h3 class="ph-new-login-2-title">اطلاعات تماس شخصی</h3>
	  
							  <div id="ph_info_contact_form">
								 <div class="row">
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_state">استان</label>
									   <select id="ph_info_contacts_state" class="mdb-select md-form">
										  <option value="" disabled selected>انتخاب کنید:</option>
										  <option value="1">تهران</option>
										  <option value="2">چهارمحال و بختیاری</option>
										  <option value="3">کهگیلویه و بویراحمد</option>
									   </select>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_city">شهر</label>
									   <select id="ph_info_contacts_city" class="mdb-select md-form">
										  <option value="" disabled selected>انتخاب کنید:</option>
										  <option value="1">تهران</option>
										  <option value="2">نقده</option>
										  <option value="3">رباط کریم</option>
									   </select>
									</div>
	  
									<div class="col-12 mb-3">
									   <label for="ph_info_contacts_address">آدرس</label>
									   <input type="text" class="form-control" id="ph_info_contacts_address"
										  placeholder="آدرس خود را به صورت کامل (محله - خیابان اصلی - کوچه - پلاک – واحد ) وارد نمایید"
										  value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_kodposti">کدپستی</label>
									   <input type="text" class="form-control" id="ph_info_contacts_kodposti"
										  placeholder="۱۲۳۴۵-۶۷۸۹۰" value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_location">موقعیت مکانی</label>
									   <input type="text" class="form-control" id="ph_info_contacts_location"
										  placeholder="۱۲۳۴۵۶۷۸۹۰" value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_tel">تلفن ثابت</label>
									   <input type="text" class="form-control" id="ph_info_contacts_tel" placeholder="۰۲۱ "
										  value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-md-6 mb-3">
									   <label for="ph_info_contacts_mobile">موبایل</label>
									   <input type="text" class="form-control" id="ph_info_contacts_mobile" placeholder="۰۹ "
										  value="" required>
									   <div class="valid-feedback">
										  لطفا از اعداد فارسی استفاده کنید
									   </div>
									</div>
								 </div>
							  </div>
	  
						   </section>

						   <section class="ph-business-info" id="ph_business_info">
							  <h3 class="ph-new-login-2-title">اطلاعات مالی شخصی</h3>
	  
							  <div id="ph_business_info_form">
								 <div class="row">
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_brand">نام حساب بانکی شخصی</label>
									   <input type="text" class="form-control" id="ph_business_info_brand"
										  placeholder="نام فروشگاه خود را تایپ کنید..." value="" required>
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_sheba">شماره شبا</label>
									   <input type="text" class="form-control" id="ph_business_info_sheba"
										  placeholder="IR __-____-____-____-____-____-__" value="" required
										  style="direction: ltr;text-align: left;">
									   <div class="valid-feedback">
										  لطفا از حروف فارسی استفاده کنید
									   </div>
									</div>
	  
								 </div>
							  </div>
						   </section>

	  
						   <section class="ph-business-info" id="ph_business_info">
							  <h3 class="ph-new-login-2-title">اطلاعات مالی شخصی</h3>
	  
							  <div id="ph_business_info_form">
								 <div class="row">
	  
									<div class="col-12 mb-3">
									   <label for="ph_business_info_brand">شناسنامه ملی *: نمای جلو - نمای پشت</label>
									   <div class="form-group">
										  <label for="exampleFormControlFile1">Example file input</label>
										  <input type="file" class="form-control-file" id="exampleFormControlFile1">
									   </div>
									</div>
	  
								 </div>
							  </div>
						   </section>

						   <div class="ph-new-login-seller-info-btn"><button type="submit" id="ph_signup_submit_btn"
								 class="btn">ادامه...</button></div>
						</div>
					 </article>


				  <div class="tab">Contact Info:
					<p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
					<p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
				  </div>




				  <div class="tab">Birthday:
					<p><input placeholder="dd" oninput="this.className = ''" name="dd"></p>
					<p><input placeholder="mm" oninput="this.className = ''" name="nn"></p>
					<p><input placeholder="yyyy" oninput="this.className = ''" name="yyyy"></p>
				  </div>




				  <div class="tab">Login Info:
					<p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
					<p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
				  </div>



				  <div style="overflow:auto;">
					<div style="float:right;">
					  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
					  <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
					</div>
				  </div>


				</form>
				</main>
					

{% endblock %}