{% extends 'base_admin.html' %}
{% load static %}


{% block admin_content %}
<main class="ph-dashboard-main ph-buyer-panel ph-buyer-dashboard">
    <div class="container">
        <div class="ph-admin-page-intro-text">
            <span>داشبورد پنل خریدار </span>
        </div>
        <div class="ph-dm-panel">
            <div class="row">
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-info">
                        <div class="title">مشخصات کاربری</div>
                        <ul>
                            <li>کد فروشنده: <span>{{ user.id }}</span></li>
                            <li>نام فروشنده: <span>{{ user.profile.get_full_name }}</span></li>
                        </ul>
                        <div class="ph-button">
                            <a href="{% url 'users:profile_buyer' %}" class="ph-btn">پروفایل<i class="fas fa-arrow-left"></i></a>
                        </div><!-- ph-button -->
                    </div><!-- ph-dmp-section-1 ph-user-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-last-invoices-list">
                        <div class="title">سررسید صورتحساب</div>
                        <ul>
                            {% for invoice in invoice_queryset|slice:4 %}
                            <li>تاریخ صورتحساب:<span>۱۳۹۹/۰۷/۲۷</span></li>
                            {% endfor %}
                            <li>تاریخ صورتحساب:<span>۱۳۹۹/۰۷/۲۷</span></li>
                            <li>تاریخ صورتحساب:<span>۱۳۹۹/۰۷/۲۷</span></li>
                            <li>تاریخ صورتحساب:<span>۱۳۹۹/۰۷/۲۷</span></li>
                            <li>تاریخ صورتحساب:<span>۱۳۹۹/۰۷/۲۷</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-product-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-user-order-info">
                        <div class="title">سفارشات</div>
                        <ul>
                            <li>تعداد سفارش: <span>{{ order.count }}</span></li>
                            <li>سفارش‌های انجام شده: <span>{{ order.accepted.count }}</span></li>
                            <li>سفارش‌های درحال انجام: <span>{{ order.rejected.count }}</span></li>
                            <li>سفارشات در انتظار بررسی: <span>{{ order.pending.count }}</span></li>
                        </ul>
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
                <div class="col-4">
                    <div class="ph-dmp-section-1 ph-dash-condition-panel">
                        <div class="title">وضعیت پنل</div>
                        <span>{{ user.get_state_display }}</span>
                        {% if user.is_rejected %}
                            <div class="container">
                                <p>{{ user.rejection_reason }}</p>
                            </div>
                        {% endif %}
                    </div><!-- ph-dmp-section-1 ph-user-order-info -->
                </div><!-- col-4 -->
            </div><!-- row -->
        </div><!-- ph-dm-panel -->
    </div><!-- container -->
</main><!-- ph-dashboard-main buyer-panel ph-buyer-dashboard -->
{% endblock %}
