{% extends 'base_admin.html' %}
{% load static %}

{% block meta_content %}
    {{ regions|json_script:"regions" }}
{% endblock %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-buyer-panel ph-buyer-profile">
        <div class="container">
            <form action="" id="ph_buyer_profile_form" role="form">
                <div id="ph_buyer_profile_page" class="ph-buyer-profile-page form-group">
                    <div class="ph-buyer-profile-panel ph-tabs">
                        <div class="ph-bpp-tab-navs ph-tab-navs ph-border-radius bg-color-3 ph-box-shadow mb-3">

                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <a class="nav-item nav-link active" id="nav-businessinfo-tab" data-toggle="tab"
                                       href="#nav-businessinfo" role="tab" aria-controls="nav-businessinfo"
                                       aria-selected="true">اطلاعات خریدار</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-bankinfo-tab" data-toggle="tab"
                                       href="#nav-bankinfo" role="tab" aria-controls="nav-bankinfo"
                                       aria-selected="false">اطلاعات بانکی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                       href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">اطلاعات
                                        تماس و آدرس‌ها</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-contract-tab" data-toggle="tab"
                                       href="#nav-contract" role="tab" aria-controls="nav-contract"
                                       aria-selected="false">اطلاعات قرارداد</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-documents-tab" data-toggle="tab"
                                       href="#nav-documents" role="tab" aria-controls="nav-documents"
                                       aria-selected="false">بارگذاری مدارک</a>
                                </li>
                            </ul>
                        </div>
                        <!-- ph-bpp-tab-navs ph-tab-navs -->

                        <div id="nav-tabContent" class="ph-bpp-tab-contents ph-tab-contents tab-content">

                            <div class="tab-pane fade show active" id="nav-businessinfo" role="tabpanel"
                                 aria-labelledby="nav-businessinfo-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات خریدار</span>
                                            <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="form-group col-4 my-1">
                                                <label for="1">کد خریدار</label>
                                                <input type="text" readonly class="form-control" id="1"
                                                       value="{{ user.id }}">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="2">نوع خریدار</label>
                                                <input type="text" readonly class="form-control" id="2"
                                                       value="{{ user.get_legal_type_display }}">
                                            </div>
                                            {% if user.legal_type == user.LEGAL_INDIVIDUAL %}
                                                {% include 'partials/profile/individual.html' %}
                                            {% else %}
                                                {% include 'partials/profile/legal.html' %}
                                            {% endif %}
                                        </div>
                                        <!-- form-row -->
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-businessinfo -->

                            <div class="tab-pane fade" id="nav-bankinfo" role="tabpanel"
                                 aria-labelledby="nav-bankinfo-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات حساب بانکی</span>
                                        </div>
                                        <div class="form-row align-items-center">
                                            {% include 'partials/profile/bank_info.html' %}
                                        </div>
                                        <!-- form-row -->
                                        <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-bankinfo -->

                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات تماس و آدرس خریدار</span>
                                        </div>
                                        <div class="form-row align-items-center">
                                            {% include 'partials/profile/contact.html' %}
                                        </div>
                                        <!-- form-row -->

                                        <a href="#" class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>ویرایش</a>
                                    </div>
                                    <!-- ph-tcw-content -->
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">آدرس مقصد ۱</span>
                                        </div>
                                        {% for address in user.addresses.all %}
                                            <div class="remove" data-count="{{ address.id }}" id="address">
                                                <div class="form-row align-items-center">
                                                    <div class="form-group col-4 my-1">
                                                        <label for="address-receiver-name">نام
                                                            تحویل‌گیرنده</label>
                                                        <input type="text" class="form-control"
                                                               id="address-receiver-name" disabled
                                                               name="receiver" value="{{ address.receiver_name }}">
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label class="ml-2" for="province">استان</label>
                                                        <select class="form-control" id="province" disabled>
                                                            <option value="{{ address.region.parent.id }}">{{ address.region.parent.title }}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label class="mx-2" for="city">شهر</label>
                                                        <select name="region_id" class="form-control" disabled id="city">
                                                            <option value="{{ address.region.id }}">{{ address.region.title }}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-12 my-1">
                                                        <label for="address-address">آدرس دقیق</label>
                                                        <input type="text" class="form-control"
                                                               id="address-address" disabled
                                                               name="address" value="{{ address.address }}">
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label for="address-road-name">نام جاده اصلی</label>
                                                        <input type="text" class="form-control"
                                                               id="address-road-name" disabled
                                                               name="road_name" value="{{ address.road_name }}">
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label for="address-distance-to-road">فاصله معدن تا
                                                            جاده اصلی (کیلومتر)</label>
                                                        <input type="number" class="form-control"
                                                               id="address-distance-to-road"
                                                               name="distance_to_road" disabled value="{{ address.distance_to_road }}">
                                                    </div>

                                                    <div class="form-group col-12 my-1 mt-3">
                                                        <div class="form-check form-check-inline ml-4">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="address-proper-road" disabled
                                                                   {% if address.proper_road %}checked{% endif %}>
                                                            <label class="form-check-label"
                                                                   for="address-proper-road">وجود جاده مناسب برای
                                                                عبور و مرور وسایل نقلیه سواری</label>
                                                        </div>
                                                        <div class="form-check form-check-inline ml-4">
                                                            <input form-field class="form-check-input" type="checkbox"
                                                                   id="address-load-tools" disabled
                                                                   {% if address.load_tools %}checked{% endif %}>
                                                            <label form-label class="form-check-label"
                                                                   for="address-load-tools">وجود تجهیزات بارگیری
                                                                در محل دپو</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- form-row -->
                                            <a href="#" class="edit-info ph-btn" onclick="addAddressHandler(this)" id="add-address"><i class="fas fa-check"></i></a>
                                            <a href="#" onclick="removeAddressHandler(this)" class="remove-field ph-btn btn-remove-customer"><i class="fas fa-times"></i></a>
                                            </div>
                                        {% endfor %}
                                        <!-- customer_records -->
                                        <a class="extra-fields-customer ph-btn" href="#"><i class="fas fa-plus"></i>اضافه
                                            کردن آدرس</a>
                                        <div class="customer_records_dynamic"></div>
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-contact -->

                            <div class="tab-pane fade" id="nav-contract" role="tabpanel"
                                 aria-labelledby="nav-contract-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات قرارداد</span>
                                            <a href="#" class="edit-info ph-btn">ثبت</a>
                                        </div>
                                        <div class="ph-tcw-download">
                                            <p>متن قرارداد را دانلود نمایید و بعد از امضا در جدول زیر بارگذاری کنید</p>
                                            <a href="#" class="ph-btn ph-download"><i class="fas fa-download"></i>دانلود
                                                قرارداد</a>
                                        </div>
                                        <div class="form-row ph-tcw-upload align-items-center">

                                            <table class="common_table ph-table table table-bordered text-center">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center" scope="col">ردیف</th>
                                                    <th class="text-center" scope="col">شماره صفحه</th>
                                                    <th class="text-center" scope="col">بارگذاری صفحه</th>
                                                    <th class="text-center" scope="col">پیش‌نمایش عکس</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="template_row">
                                                    <td class="text-center" scope="row">۱</td>
                                                    <td class="text-center">صفحه <span>۱</span> قرارداد</td>
                                                    <td class="text-center"><a href="#"
                                                                               class="ph-btn ph-upload-img-contract"><i
                                                            class="fas fa-upload"></i> بارگذاری</a></td>
                                                    <td class="text-center"><img src="" alt=""></td>
                                                    <td class="text-center" class="controls">
                                                        <a href="#" class="list_cancel" title="Delete Row">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="no_entries_row">
                                                </tr>
                                                </tbody>
                                            </table>
                                            <a href="#" class="list_add ph-list-add ph-btn"><i class="fas fa-plus"></i>بارگذاری
                                                صفحه جدید</a>
                                        </div>
                                        <!-- form-row -->
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-contract -->

                            <div class="tab-pane fade" id="nav-documents" role="tabpanel"
                                 aria-labelledby="nav-documents-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">بارگذاری مدارک</span>
                                        </div>
                                        <table class="ph-table table table-bordered text-center">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">ردیف</th>
                                                <th scope="col">تصویر مدرک</th>
                                                <th scope="col">عنوان مدرک</th>
                                                <th scope="col">وضعیت</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for media in user.medias.all %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td><img src="{% get_media_prefix %}{{ media.file }}" alt=""></td>
                                                    <td>{{ media.title }}</td>
                                                    <td>{{ media.get_state_display }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-documents -->
                        </div>
                        <!-- ph-bpp-tab-contents -->
                    </div>
                    <!-- ph-buyer-profile-panel -->
                </div>
                <!-- ph-buyer-profile-page -->

            </form>
            <!-- #ph_buyer_profile_form -->

        </div>
        <!-- container -->


    </main>
    <!-- ph-buyer-profile -->

    <div class="d-none">
        <div class="address-record">
            <div class="form-row align-items-center">
                <div class="form-group col-4 my-1">
                    <label form-label for="address-receiver-name">نام تحویل‌گیرنده</label>
                    <input form-field type="text" class="form-control" id="address-receiver-name"
                           name="receiver_name" placeholder="نام را وارد کنید...">
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label class="ml-2" for="province">استان</label>
                    <select form-field class="form-control" id="province" onchange="regionChangeHandler(this, 'address')">
                        <option value="default">انتخاب کنید</option>

                    </select>
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label class="mx-2" for="city">شهر</label>
                    <select form-field name="region_id" class="form-control" id="city">
                        <option value="default">انتخاب کنید</option>
                    </select>
                </div>

                <div class="form-group col-12 my-1">
                    <label form-label for="address-address">آدرس دقیق</label>
                    <input form-field type="text" class="form-control" id="address-address"
                           name="address" placeholder="آدرس دقیق را وارد کنید...">
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label for="address-road-name">نام جاده اصلی</label>
                    <input form-field type="text" class="form-control" id="address-road-name"
                           name="road_name" placeholder="جاده اصلی">
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label for="address-distance-to-road">فاصله معدن تا جاده اصلی (کیلومتر)</label>
                    <input form-field type="number" class="form-control" id="address-distance-to-road"
                           name="distance_to_road" placeholder="فاصله معدن تا جاده اصلی را وارد کنید...">
                </div>

                <div class="form-group col-12 my-1 mt-3">
                    <div class="form-check form-check-inline ml-4">
                        <input form-field class="form-check-input" name="proper_road" type="checkbox" id="address-proper-road"
                               value="option1">
                        <label form-label class="form-check-label" for="address-proper-road">وجود جاده مناسب برای
                            عبور و مرور وسایل نقلیه سواری</label>
                    </div>
                    <div class="form-check form-check-inline ml-4">
                        <input form-field class="form-check-input" name="load_tools" type="checkbox" id="address-load-tools"
                               value="option2">
                        <label form-label class="form-check-label" for="address-load-tools">وجود تجهیزات بارگیری
                            در محل دپو</label>
                    </div>
                </div>

            </div>
            <!-- form-row -->
        </div>
    </div>
    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">خطا</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">متوجه شدم</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script>
        function addNewRow() {
            var template = $('tr.template_row:first');
            $('.no_entries_row').css('display', 'none');
            var newRow = template.clone();
            var lastRow = $('tr.template_row:last').after(newRow);

            $('.list_cancel').on('click', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                $(this).closest('tr').remove();
                if ($('.list_cancel').length === 1) {
                    $('.no_entries_row').css('display', 'none');
                }
                console.log($('.list_cancel').length)
            });
            console.log($('.list_cancel').length)
            $('select.label').on('change', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                $(this).css('background-color', $(this).val());

            })

        }

        $('a.list_add').on('click', addNewRow);

    </script>
{% endblock %}