{% extends 'base_admin.html' %}
{% load static %}

{% block meta_content %}
    {{ regions|json_script:"regions" }}
{% endblock %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-buyer-panel ph-buyer-profile">
        <div class="container">
            <form action="" id="ph_buyer_profile_form" role="form">
                <div id="ph_buyer_profile_page" class="ph-buyer-profile-page form-group">
                    <div class="ph-buyer-profile-panel ph-tabs">
                        <div class="ph-bpp-tab-navs ph-tab-navs ph-border-radius bg-color-3 ph-box-shadow mb-3">

                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <a class="nav-item nav-link active" id="nav-businessinfo-tab" data-toggle="tab"
                                       href="#nav-businessinfo" role="tab" aria-controls="nav-businessinfo"
                                       aria-selected="true">اطلاعات خریدار</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-bankinfo-tab" data-toggle="tab"
                                       href="#nav-bankinfo" role="tab" aria-controls="nav-bankinfo"
                                       aria-selected="false">اطلاعات بانکی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                       href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">اطلاعات
                                        تماس و آدرس‌ها</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="nav-documents-tab" data-toggle="tab"
                                       href="#nav-documents" role="tab" aria-controls="nav-documents"
                                       aria-selected="false">بارگذاری مدارک</a>
                                </li>
                            </ul>
                        </div>
                        <!-- ph-bpp-tab-navs ph-tab-navs -->

                        <div id="nav-tabContent" class="ph-bpp-tab-contents ph-tab-contents tab-content">

                            <div class="tab-pane fade show active" id="nav-businessinfo" role="tabpanel"
                                 aria-labelledby="nav-businessinfo-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات خریدار</span>
                                            <a href="#" data-toggle="modal" data-target="#ph_edit_profile_"
                                               class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>درخواست ویرایش</a>

                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="form-group col-4 my-1">
                                                <label for="1">کد خریدار</label>
                                                <input type="text" readonly class="form-control" id="1"
                                                       value="{{ user.id }}">
                                            </div>
                                            <div class="form-group col-4 my-1">
                                                <label for="2">نوع خریدار</label>
                                                <input type="text" readonly class="form-control" id="2"
                                                       value="{{ user.get_legal_type_display }}">
                                            </div>
                                            {% if user.legal_type == user.LEGAL_INDIVIDUAL %}
                                                {% include 'partials/profile/individual.html' %}
                                            {% else %}
                                                {% include 'partials/profile/legal.html' %}
                                            {% endif %}
                                        </div>
                                        <!-- form-row -->
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-businessinfo -->

                            <div class="tab-pane fade" id="nav-bankinfo" role="tabpanel"
                                 aria-labelledby="nav-bankinfo-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات حساب بانکی</span>
                                        </div>
                                        <div class="form-row align-items-center">
                                            {% include 'partials/profile/bank_info.html' %}
                                        </div>
                                        <!-- form-row -->
                                        <a href="#" data-toggle="modal" data-target="#ph_edit_profile_"
                                           class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>درخواست ویرایش</a>
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-bankinfo -->

                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">اطلاعات تماس و آدرس خریدار</span>
                                        </div>
                                        <div class="form-row align-items-center">
                                            {% include 'partials/profile/contact.html' %}
                                        </div>
                                        <!-- form-row -->
                                        <a href="#" data-toggle="modal" data-target="#ph_edit_profile_"
                                           class="edit-info ph-btn"><i class="fas fa-pencil-alt"></i>درخواست ویرایش</a>
                                    </div>
                                    <!-- ph-tcw-content -->
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">آدرس ها</span>
                                        </div>
                                        {% for address in user.addresses.all %}
                                            <div class="remove" data-count="{{ address.id }}" id="address">
                                                <div class="form-row align-items-center">
                                                    <div class="form-group col-4 my-1">
                                                        <label for="address-receiver-name" ><abbr title="محل تحویل بار">شناسه آدرس</label>
                                                        <input type="text" class="form-control" form-field
                                                               id="address-receiver-name"
                                                               name="receiver_name" value="{{ address.receiver_name }}">
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label form-label class="ml-2" for="province">استان</label>
                                                        <select data-value="{{ address.region.parent.id }}" mine-val form-field class="form-control" id="province"
                                                                onchange="regionChangeHandler(this, 'address')">
                                                            <option value="default">انتخاب کنید</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label form-label class="mx-2" for="city">شهر</label>
                                                        <select data-value="{{ address.region.id }}" mine-val form-field class="form-control" name="region_id"
                                                                id="city">
                                                            <option value="default">انتخاب کنید</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-12 my-1">
                                                        <label for="address-address">آدرس دقیق</label>
                                                        <input type="text" class="form-control"
                                                               id="address-address" form-field
                                                               name="address" value="{{ address.address }}">
                                                    </div>

                                                    <div class="form-group col-4 my-1">
                                                        <label for="address-road-name">کد پستی</label>
                                                        <input type="text" class="form-control"
                                                               id="address-road-name" form-field
                                                               name="postal_code" value="{{ address.postal_code }}">
                                                    </div>

                                                </div>
                                                <!-- form-row -->
                                                <a href="#" onclick="editAddressHandler(this)"
                                                   class="remove-field ph-btn btn-remove-customer" style="width: 75px">ویرایش</a>
                                            </div>
                                        {% endfor %}
                                        <!-- customer_records -->
                                        <a class="extra-fields-customer ph-btn" href="#"><i class="fas fa-plus"></i>اضافه
                                            کردن آدرس</a>
                                        <div class="customer_records_dynamic"></div>
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-contact -->

                            <div class="tab-pane fade" id="nav-documents" role="tabpanel"
                                 aria-labelledby="nav-documents-tab">
                                <div class="ph-tc-wrapper">
                                    <div class="ph-tcw-content ph-border-radius bg-light ph-box-shadow mb-3">
                                        <div class="ph-panel-title">
                                            <span class="title">بارگذاری مدارک</span>
                                        </div>
                                        <table class="ph-table table table-bordered text-center">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">ردیف</th>
                                                <th scope="col">تصویر مدرک</th>
                                                <th scope="col">عنوان مدرک</th>
                                                <th scope="col">وضعیت</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if user.is_individual %}
                                                <tr>
                                                    <th scope="row">۱</th>
                                                    <td><img src="
                                                            {% get_media_prefix %}{{ user.get_image_id_card_front.file }}"
                                                             alt=""></td>
                                                    <td>کارت ملی</td>
                                                    <td>تایید شده</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">۲</th>
                                                    <td><img src="
                                                            {% get_media_prefix %}{{ user.get_image_id_card_back.file }}"
                                                             alt=""></td>
                                                    <td>تصویر پشت کارت ملی</td>
                                                    <td>تایید شده</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <th scope="row">۱</th>
                                                    <td><img src="{% get_media_prefix %}{{ user.get_image_company_registration.file }}" alt=""></td>
                                                    <td>گواهی ثبت شرکت</td>
                                                    <td>تایید شده</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">۲</th>
                                                    <td><img src="{% get_media_prefix %}{{ user.get_image_company_latest_newspaper.file }}" alt=""></td>
                                                    <td>آخرین به روز رسانی روزنامه رسمی</td>
                                                    <td>تایید شده</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">۳</th>
                                                    <td><img src="{% get_media_prefix %}{{ user.get_image_company_tax_on_added_value_certificate.file }}" alt=""></td>
                                                    <td>گواهی مالیات بر ارزش افزوده</td>
                                                    <td>تایید شده</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- ph-tcw-content -->
                                </div>
                                <!-- ph-tc-wrapper -->
                            </div>
                            <!-- tab-pane fade #nav-documents -->
                        </div>
                        <!-- ph-bpp-tab-contents -->
                    </div>
                    <!-- ph-buyer-profile-panel -->
                </div>
                <!-- ph-buyer-profile-page -->

            </form>
            <!-- #ph_buyer_profile_form -->

        </div>
        <!-- container -->


    </main>
    <!-- ph-buyer-profile -->

    <div class="d-none">
        <div class="address-record">
            <div class="form-row align-items-center">
                <div class="form-group col-4 my-1">
                    <label form-label for="address-receiver-name">شناسه مقصد</label>
                    <input form-field type="text" class="form-control" id="address-receiver-name"
                           name="receiver_name" placeholder="نام را وارد کنید...">
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label class="ml-2" for="province">استان</label>
                    <select form-field class="form-control" id="province"
                            onchange="regionChangeHandler(this, 'address')">
                        <option value="default">انتخاب کنید</option>

                    </select>
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label class="mx-2" for="city">شهر</label>
                    <select form-field name="region_id" class="form-control" id="city">
                        <option value="default">انتخاب کنید</option>
                    </select>
                </div>

                <div class="form-group col-12 my-1">
                    <label form-label for="address-address">آدرس دقیق</label>
                    <input form-field type="text" class="form-control" id="address-address"
                           name="address" placeholder="آدرس دقیق را وارد کنید...">
                </div>

                <div class="form-group col-4 my-1">
                    <label form-label for="addres-postal-code">کد پستی</label>
                    <input form-field type="text" class="form-control" id="addres-postal-code"
                           name="postal_code" placeholder="کد پستی">
                </div>

            </div>
            <!-- form-row -->
        </div>
    </div>
    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">خطا</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">متوجه شدم</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit ph_edit_profile_ ------------------------------------------->
    <div class="modal fade ph-modal ph-auction-modal" id="ph_edit_profile_" tabindex="-1" role="dialog"
         aria-labelledby="auction_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">درخواست ویرایش</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <div class="ph-qc-section">
                        <div class="ph-qc-alarm">
                            <p>در اینجا متن درخواست خود را بنویسید.</p>
                        </div>
                        <!-- ph-qc-alarm -->
                        <div class="ph-qc-description">
                            <textarea class="form-control" id="" rows="5"
                                      placeholder="تقاضای ویرایش..."></textarea>
                        </div>
                        <!-- ph-qc-description -->
                        <div class="ph-qc-info-btns">
                            <a href="#" class="ph-btn ph-denied-btn">
                                <span>ارسال درخواست</span>
                            </a>
                        </div>
                        <!-- ph-qc-info-btns -->
                    </div>
                    <!-- ph-qc-section -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- modal#ph_edit_profile_ -->

{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script>
        function addNewRow() {
            var template = $('tr.template_row:first');
            $('.no_entries_row').css('display', 'none');
            var newRow = template.clone();
            var lastRow = $('tr.template_row:last').after(newRow);

            $('.list_cancel').on('click', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                $(this).closest('tr').remove();
                if ($('.list_cancel').length === 1) {
                    $('.no_entries_row').css('display', 'none');
                }
                console.log($('.list_cancel').length)
            });
            console.log($('.list_cancel').length)
            $('select.label').on('change', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                $(this).css('background-color', $(this).val());

            })

        }

        $('a.list_add').on('click', addNewRow);

    </script>
{% endblock %}