<div class="form-group col-4 my-1">
    <label for="12">نام صاحب حساب</label>
    <input type="text" readonly class="form-control text-left" id="12"
           value="{{ user.profile.bank_account_name }}">
</div>

<div class="form-group col-4 my-1">
    <label for="12">شماره حساب</label>
    <input type="text" readonly class="form-control text-left" id="12"
           value="{{ user.profile.bank_account_number }}">
</div>

<div class="form-group col-4 my-1">
    <label for="11">شماره شبا</label>
    <input type="text" readonly class="form-control" id="11"
           value="{{ user.profile.bank_sheba_number }}">
</div>
