{% extends 'base_admin.html' %}
{% load static %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel admin-add-category">
        <div class="container">
            <div class="ph-admin-page-container">
                <div class="ph-admin-page-intro-text">
                    <span>افزودن دسته بندی | </span>
                    برای اضافه کردن دسته بندی جدید برای محصولات از این قسمت استفاده کنید.
                </div>
                <div class="ph-admin-add-category-wrapper">
                    <div class="ph-cp-panel ph-border-radius ph-white-block">
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">نام دسته بندی:</span>
                        </div>
                        <div class="form-row mb-4 align-items-center">
                            <div class="col-6 my-1">
                                <label class="mr-sm-2 d-block" for="t-1-c">نام (فارسی)</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-6 my-1">
                                <label class="mr-sm-2 d-block" for="t-1-c">نام (انگلیسی)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">دسته بندی مادر:</span>
                        </div>
                        <div class="form-row mb-4 align-items-center">
                            <div class="col-6 my-1">
                                <label class="mr-sm-2 d-block" for="t-1-c">دسته مادر را انتخاب کنید</label>
                                <select class="custom-select mr-sm-2" id="">
                                    <option selected value="default">انتخاب...</option>
                                </select>
                            </div>
                        </div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">کمیسیون فروش دسته:</span>
                        </div>
                        <div class="form-row mb-4 align-items-center">
                            <div class="col-6 my-1">
                                <label class="mr-sm-2 d-block" for="t-1-c">مقدار کمیسیون این دسته را به عدد وارد کنید</label>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                        <div class="ph-cpp-btn">
                            <label class="back save-add-category-btn">
                                <div class="ph-cpp-btn-n ph-btn" role="button">ذخیره</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- container -->
    </main><!-- ph-dashboard-main admin-panel admin-add-category -->
{% endblock %}