{% extends 'base_admin.html' %}
{% load static %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel admin-add-category">
        <form action="{% url 'users:admin_edit_category' pk=category.pk %}" method="post">
        {% csrf_token %}
            <div class="container">
                <div class="ph-admin-page-container">
                    <div class="ph-admin-page-intro-text">
                        <span>ویرایش دسته بندی | </span>
                        برای ویرایش دسته بندی برای محصولات از این قسمت استفاده کنید.
                    </div><!-- .ph-admin-page-intro-text -->
                    <div class="ph-admin-add-category-wrapper">
                        <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">
                            <div class="ph-panel-title">
                                <span class="title ph-border-radius">نام دسته بندی:</span>
                            </div><!-- .ph-panel-title -->
                            <div class="form-row mb-4 align-items-center">
                                <div class="col-6 my-1">
                                    <label class="mr-sm-2 d-block" for="title">نام</label>
                                    <input value="{{ category.title }}" name="title" id="title" type="text" class="form-control">
                                </div><!-- .col-6 -->
                            </div><!-- .form-row -->
                            <div class="ph-panel-title">
                                <span class="title ph-border-radius">دسته بندی مادر:</span>
                            </div><!-- .ph-panel-title -->
                            <div class="form-row mb-4 align-items-center">
                                <div class="col-6 my-1">
                                    <label class="mr-sm-2 d-block" for="parent">دسته مادر را انتخاب کنید</label>
                                    <select name="parent" class="custom-select mr-sm-2" id="parent">
                                        <option value="">دسته بندی مادر</option>
                                        {% for c in root_categories %}
                                            <option {% if c == category.parent %}selected{% endif %} value="{{ c.pk }}">{{ c.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- .col-6 -->
                            </div><!-- .form-row -->
                            <div class="ph-panel-title">
                                <span class="title ph-border-radius">کمیسیون فروش دسته:</span>
                            </div><!-- .ph-panel-title -->
                            <div class="form-row mb-4 align-items-center">
                                <div class="col-6 my-1">
                                    <label class="mr-sm-2 d-block" for="commission">مقدار کمیسیون این دسته را به عدد
                                        وارد کنید</label>
                                    <input value="{{ category.commission }}" id="commission" name="commission" type="number" class="form-control">
                                </div><!-- .col-6 -->
                            </div><!-- .form-row -->
                            <div class="ph-cpp-btn">
                                <label class="back save-add-category-btn">
                                    <button class="ph-cpp-btn-n ph-btn" type="submit">ذخیره</button>
                                </label>
                            </div><!-- .ph-cpp-btn -->
                        </div><!-- .ph-cp-panel -->
                    </div><!-- .ph-admin-add-category-wrapper -->
                </div><!-- .ph-admin-page-container -->
            </div><!-- .container -->
        </form>
    </main><!-- .ph-dashboard-main admin-panel admin-add-category -->
{% endblock %}
