{% extends 'base_admin.html' %}
{% load static %}

{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel admin-list-category">
        <div class="container">
            <div class="ph-admin-page-container">
                <div class="ph-admin-page-intro-text">
                    <span>مدیریت دسته بندی ها | </span>
                    برای مدیریت، ویرایش یا افزودن دسته بندی های محصولات از این قسمت استفاده کنید.
                </div><!-- .ph-admin-page-intro-text -->
                <div class="ph-admin-list-category-search">
                    <div class="ph-admin-page-search-wrapper bg-light ph-border-radius ph-box-shadow my-4">
                        <div class="ph-admin-page-block-header ph-panel-title">
                            <span class="title">جستجو و فیلتر</span>
                        </div><!-- .ph-admin-page-block-header -->
                        <div class="ph-admin-page-block-content mt-3">
                            <div class="ph-admin-page-search-form">
                                <form method="get">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="categories"> نام دسته:</label>
                                            <input type="text" class="form-control" name="q" id="ph_admin_category_text"
                                                   aria-describedby="Search_Text">
                                        </div><!-- .col -->
                                        <div class="col">
                                            <label for="categories">گروه اصلی:</label>
                                            <select name="category" class="form-control custom-select"
                                                    id="ph-categories">
                                                <option value="">انتخاب کنید</option>
                                            </select>
                                        </div><!-- .col -->
                                    </div><!-- .form-row -->
                                    <button type="submit" class="btn ph-btn ph-border-radius-small my-3">جستجو
                                    </button>
                                </form>
                            </div><!-- .ph-admin-page-search-form -->
                        </div><!-- .ph-admin-page-block-content -->
                    </div><!-- .ph-admin-page-search-wrapper -->
                </div><!-- .ph-admin-list-category-search -->
                <div class="ph-admin-list-category-table">
                    <div class="ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                        <div class="ph-admin-page-list-header mb-3">
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <div class="ph-admin-page-list-add-btn">
                                        <a href="{% url 'users:admin_add_category' %}"
                                           class="btn ph-btn ph-border-radius-small mr-0 ml-auto">
                                            دسته بندی جدید
                                            <i class="fas fa-plus mr-1"></i>
                                        </a>
                                    </div><!-- .ph-admin-page-list-add-btn -->
                                </div><!-- .col-6 -->
                                <div class="col-6 col-md-6">
                                    <div class="ph-admin-page-list-sort">
                                        <p>تعداد نتایج : <span>{{ page_obj.paginator.count }} مورد</span></p>
                                    </div><!-- .ph-admin-page-list-sort -->
                                </div><!-- .col-6 -->
                            </div><!-- .row -->
                        </div><!-- .ph-admin-page-list-header -->
                        <div class="ph-admin-page-list-table">
                            <table class="ph-table table table-bordered text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نام دسته بندی</th>
                                        <th>دسته اصلی</th>
                                        <th>درصد کمیسیون</th>
                                        <th>ویرایش</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                {{ category.pk }}
                                            </div><!-- .ph-admin-table-cell -->
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                {{ category.title }}
                                            </div><!-- .ph-admin-table-cell -->
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                {{ category.parent.title }}
                                            </div><!-- .ph-admin-table-cell -->
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                {{ category.commission }}
                                            </div><!-- .ph-admin-table-cell -->
                                        </td>
                                        <td>
                                            <div class="ph-admin-table-cell">
                                                <div class="ph-admin-table-action-btns">
                                                    <a href="{% url 'users:admin_edit_category' pk=category.pk %}"
                                                       class="ph-admin-table-action-btn-edit">
                                                    <i class="fas fa-pen"></i>
                                                    </a>
                                                </div><!-- .custom-switch -->
                                            </div><!-- .ph-admin-table-cell -->
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- .ph-admin-page-list-table -->
                    </div><!-- .ph-admin-page-list-container -->
                </div><!-- .ph-admin-list-category-table -->
            </div><!-- .ph-admin-page-container -->
        </div><!-- container -->
    </main><!-- ph-dashboard-main admin-panel admin-list-category -->
{% endblock %}