{% extends 'base_admin.html' %}
{% load static %}
{% load widget_tweaks %}

{% block meta_content %}
    {{ categories|json_script:"categories" }}
{% endblock %}

{% block title %}
    ساخت محصول
{% endblock %}

{% block admin_content %}
    {{ form.errros.as }}
    <main class="ph-dashboard-main ph-admin-panel ph-add-product">
        <div class="container">
            <div class="ph-admin-page-intro-text">
                <span>ساخت محصول | </span>
                در اینجا میتوانید محصول مورد نظر خود را ثبت کنید.
            </div>
            <form method="post" id="ph_create_product_form" role="form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <div class="ph-cp-panel ph-border-radius ph-white-block ph-box-shadow">
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">مشخصات فروشنده:</span>
                        </div>
                        <div class="mb-4 align-items-center ph-user-info">
                            <ul>
                                <li>
                                    <span class="title">شناسه فروشنده:</span>
                                    <span class="description">{{ seller.pk }}</span>
                                </li>
                                <li>
                                    <span class="title">نام فروشنده:</span>
                                    <span class="description">{{ seller.profile.get_full_name }}</span>
                                </li>
                                <li>
                                    <span class="title">شماره تماس فروشنده:</span>
                                    <span class="description">{{ seller.mobile_number }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">برای درج کالای جدید ابتدا گروه کالای خود را انتخاب کنید:</span>
                        </div>
                        <div class="form-row mb-4 align-items-center">
                            <div class="col-5 col-offset-2 my-1">
                                <label class="mr-sm-2" for="t-1-c">گروه مادر</label>
                                <select class="custom-select mr-sm-2" id="t-1-c">
                                    <option selected value="default">انتخاب...</option>
                                </select>
                            </div>
                            <div class="col-5 my-1">
                                <label class="mr-sm-2" for="t-2-c">زیر گروه‌ها</label>
                                <select name="category" class="form-control custom-select" id="t-2-c">
                                    <option selected value="">گروه مادر را انتخاب کنید...</option>
                                </select>
                            </div>
                            <small class="form-text text-danger" id="t-2-c-e" style="display: none">لطفا گروه مورد نظر
                                را
                                انتخاب کنید</small>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">معدن را انتخاب کنید:</span>
                        </div>
                        <div class="form-row mb-4 align-items-center">
                            <div class="col-5 col-offset-2 my-1">
                                <label class="mr-sm-2" for="t-1-c">انتخاب معدن</label>
                                <select class="custom-select mr-sm-2" name="mine" id="product-mine">
                                    {% for mine in user.mines.all %}
                                        <option selected value="{{ mine.id }}">{{ mine.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">ظرفیت و قیمت‌گذاری:</span>
                        </div>
                        <div class="form-row align-items-center">

                            {% for attribute in attributes_field %}
                                {% include 'partials/attributes/'|add:attribute.value_type|add:".html"|lower %}
                            {% endfor %}

                            <div class="col-5 my-1 mb-4" style="min-height: 40px;">
                                <div class="ph-ap-ch d-flex">
                                    <div class="ph-ap-check">
                                        <label for="ph_ap_check">امکان ارسال نمونه</label>
                                        <input class="form-check-input ph_ap_check" id="ph_ap_check" type="checkbox"
                                               value="1" onchange="sampleViewInputField()"/>
                                    </div>

                                    <div class="ph-ap-checked hide">
                                        <input class="form-check-input form-control ph_ap_check" type="text"
                                               name="attribute_{{ ID_SAMPLE }}" id="attribute-{{ ID_SAMPLE }}"/>
                                        <label for="field">کیلوگرم</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">توضیحاتی مختصر در مورد محصول:</span>
                        </div>
                        <div class="mb-4 mt-4">
                            <textarea class="form-control" id="ph_spm_create_product_description"
                                      placeholder="توضیحات خود را مختصر ینویسید" rows="3"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ph-panel-title">
                            <span class="title ph-border-radius">عکس‌های محصول را وارد نمایید:</span>
                        </div>
                        <div class="form-group mb-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 mx-auto">
                                        <div class="row">
                                            <div class="col-6 mx-auto">
                                                <h4 class="ph-spm-create-produc-img-up-yitle">آنالیز محصول</h4>
                                                <div class="file-upload">
                                                    <div id="image-upload-wrap-analyze" class="image-upload-wrap">
                                                        <input name="analyze" id="file-upload-input-analyze"
                                                               class="file-upload-input" type='file'
                                                               onchange="readURL(this, 'analyze');"
                                                               accept="image/*"/>
                                                        <div class="drag-text">
                                                            <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                            <i class="fas fa-cloud-upload-alt"></i>
                                                        </div>
                                                    </div>
                                                    <div id="file-upload-content-analyze" class="file-upload-content">
                                                        <img id="file-upload-image-analyze" class="file-upload-image"
                                                             src="#"
                                                             alt="your image"/>
                                                        <div id="image-title-wrap-analyze" class="image-title-wrap">
                                                            <button type="button" onclick="removeUpload('analyze')"
                                                                    class="remove-image">
                                                                <i class="fas fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mx-auto">
                                                <h4 class="ph-spm-create-produc-img-up-yitle">تصویر شاخص</h4>
                                                <div class="file-upload">
                                                    <div id="image-upload-wrap-0" class="image-upload-wrap">
                                                        <input name="image_primary" id="file-upload-input-0"
                                                               class="file-upload-input" type='file'
                                                               onchange="readURL(this, 0);"
                                                               accept="image/*"/>
                                                        <div class="drag-text">
                                                            <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                            <i class="fas fa-cloud-upload-alt"></i>
                                                        </div>
                                                    </div>
                                                    <div id="file-upload-content-0" class="file-upload-content">
                                                        <img id="file-upload-image-0" class="file-upload-image" src="#"
                                                             alt="your image"/>
                                                        <div id="image-title-wrap-0" class="image-title-wrap">
                                                            <button type="button" onclick="removeUpload(0)"
                                                                    class="remove-image">
                                                                <i class="fas fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mx-auto">
                                        <h4 class="ph-spm-create-produc-img-up-yitle mb-2">گالری عکس محصولات</h4>
                                        <div class="file-upload fu-g1">
                                            <div id="image-upload-wrap-1" class="image-upload-wrap">
                                                <input name="image1" id="file-upload-input-1"
                                                       class="file-upload-input" type='file'
                                                       onchange="readURL(this, 1);"
                                                       accept="image/*"/>
                                                <div class="drag-text">
                                                    <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                            </div>
                                            <div id="file-upload-content-1" class="file-upload-content">
                                                <img id="file-upload-image-1" class="file-upload-image" src="#"
                                                     alt="your image"/>
                                                <div id="image-title-wrap-1" class="image-title-wrap">
                                                    <button type="button" onclick="removeUpload(1)"
                                                            class="remove-image"><i
                                                            class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-upload fu-g2">
                                            <div id="image-upload-wrap-2" class="image-upload-wrap">
                                                <input name="image2" id="file-upload-input-2"
                                                       class="file-upload-input" type='file'
                                                       onchange="readURL(this, 2);"
                                                       accept="image/*"/>
                                                <div class="drag-text">
                                                    <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                            </div>
                                            <div id="file-upload-content-2" class="file-upload-content">
                                                <img id="file-upload-image-2" class="file-upload-image" src="#"
                                                     alt="your image"/>
                                                <div id="image-title-wrap-2" class="image-title-wrap">
                                                    <button type="button" onclick="removeUpload(2)"
                                                            class="remove-image"><i
                                                            class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-upload fu-g3">
                                            <div id="image-upload-wrap-3" class="image-upload-wrap">
                                                <input name="image3" id="file-upload-input-3"
                                                       class="file-upload-input" type='file'
                                                       onchange="readURL(this, 3);"
                                                       accept="image/*"/>
                                                <div class="drag-text">
                                                    <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                            </div>
                                            <div id="file-upload-content-3" class="file-upload-content">
                                                <img id="file-upload-image-3" class="file-upload-image" src="#"
                                                     alt="your image"/>
                                                <div id="image-title-wrap-3" class="image-title-wrap">
                                                    <button type="button" onclick="removeUpload(3)"
                                                            class="remove-image"><i
                                                            class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-upload fu-g4">
                                            <div id="image-upload-wrap-4" class="image-upload-wrap">
                                                <input name="image4" id="file-upload-input-4"
                                                       class="file-upload-input" type='file'
                                                       onchange="readURL(this, 4);"
                                                       accept="image/*"/>
                                                <div class="drag-text">
                                                    <h5>عکس مورد نظر خود را انتخاب کنید</h5>
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                            </div>
                                            <div id="file-upload-content-4" class="file-upload-content">
                                                <img id="file-upload-image-4" class="file-upload-image" src="#"
                                                     alt="your image"/>
                                                <div id="image-title-wrap-4" class="image-title-wrap">
                                                    <button type="button" onclick="removeUpload(4)"
                                                            class="remove-image"><i
                                                            class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ph-cpp-btn" role="group" aria-label="...">
                            <button id="add-product-submit" type="submit"
                                    class="ph-btn bg-color-4 ph-border-radius-small">
                                ثبت محصول
                            </button>
                        </div>

                    </div>
                    <!-- ph-cp-panel ph-border-radius ph-white-block -->
                </div>
                <!-- form-group -->
            </form>
            <!-- ph_seller_panel_form -->
        </div>
        <!-- container -->
    </main>
    <!--  ph-dashboard-main ph-admin-panel ph-add-product -->

    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">خطا</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">متوجه شدم</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/add-product.js' %}"></script>
    <script src="{% static 'magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}