{% extends 'base_admin.html' %}
{% load static %}


{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-list-product">
        <div class="container">
            <div class="ph-admin-page-container">
                <div class="ph-admin-page-intro-text">
                    <span>مدیریت محصولات | </span>
                    برای ویرایش و مدیریت مشخصات، گروه، تصویر محصولات و درج تنوع(گارانتی، به همراه
                    رنگ یا سایز) از این قسمت استفاده کنید.
                </div><!-- .ph-admin-page-intro-text -->
                <div class="ph-admin-page-search-wrapper bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-admin-page-block-header ph-panel-title">
                        <span class="title">جستجو و فیلتر</span>
                    </div><!-- .ph-admin-page-block-header -->
                    <div class="ph-admin-page-block-content">
                        <div class="ph-admin-page-search-form">
                            <form method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control mt-3" name="q" id="ph_admin_search_text"
                                           aria-describedby="Search_Text"
                                           placeholder="عبارت مورد نظرتان را وارد کنید">
                                </div><!-- .form-group -->
                                <div class="form-row">
                                    <div class="col-6 form-group">
                                        <label for="">ID کالا</label>
                                        <input type="email" class="form-control" id="" placeholder="ID کالا">
                                    </div><!-- .col-6 -->
                                    <div class="col-6 form-group">
                                        <label for="">ID فروشنده</label>
                                        <input type="email" class="form-control" id="" placeholder="ID فروشنده">
                                    </div><!-- .col-6 -->
                                    <div class="col-6">
                                        <label for="categories">گروه کالایی:</label>
                                        <select name="category" class="form-control custom-select" id="ph-categories">
                                            <option value="">انتخاب کنید</option>
                                            <option value="">دسته‌بندی اول</option>
                                            <option value="">دسته‌بندی دوم</option>
                                        </select>
                                    </div><!-- .col-6 -->
                                    <div class="col-6">
                                        <label for="state"> وضعیت تایید کالا:</label>
                                        <select class="form-control custom-select" id="ph-state">
                                            <option value="">انتخاب کنید</option>
                                            <option value="pending">در انتظار تایید</option>
                                            <option value="accepted">تایید شده</option>
                                            <option value="rejected">رد شده</option>
                                        </select>
                                    </div><!-- .col-6 -->
                                </div><!-- .form-row -->
                                <button type="submit" class="btn btn-primary ph-border-radius-small my-3">جستجو</button>
                            </form>
                        </div><!-- .ph-admin-page-search-form -->
                    </div><!-- .ph-admin-page-block-content -->
                </div><!-- .ph-admin-page-search-wrapper -->
                <div class="ph-admin-page-alert ph-box-shadow my-4">
                    <div class="alert alert-warning" role="alert">
                        <i class="fas fa-info-circle"></i>
                        محصول با وضعیت پیش نویس فقط برای شما قابل نمایش است و توسط کاربران سایت رویت نمی شود.
                    </div><!-- .alert -->
                </div><!-- .ph-admin-page-alert -->
                <div class="ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-admin-page-list-header mb-3">
                        <div class="row">
                            <div class="col-6 col-md-5">
                                <div class="ph-admin-page-list-sort">
                                    <p>تعداد نتایج : <span>{{ page_obj.paginator.count }} مورد</span></p>
                                    <div class="form-group row no-gutters">
                                        <label for="ph_admin_page_page_no"
                                               class="col-sm-6 col-form-label col-form-label-sm">تعداد نمایش</label>
                                        <div class="col-sm-6">
                                            <select id="ph_admin_page_page_no" class="form-control" disabled>
                                                <option selected>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>50</option>
                                            </select>
                                        </div><!-- .col-sm-6 -->
                                    </div><!-- .form-group -->
                                </div><!-- .ph-admin-page-list-sort -->
                            </div><!-- .col-md-5 -->
                            <div class="col-12 col-md-4">
                                <div class="ph-admin-page-list-pagination ph-pagination justify-content-end">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            <li class="page-item">
                                                <a class="page-link" href="" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="">1</a></li>
                                            <li class="page-item"><a class="page-link" href="">2</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!-- .ph-admin-page-list-pagination -->
                            </div><!-- .col-md-4 -->
                        </div><!-- .row -->
                    </div><!-- .ph-admin-page-list-header -->
                    <div class="ph-admin-page-list-table">
                        <table class="ph-table table table-bordered text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ردیف</th>
                                    <th>id کالا</th>
                                    <th>عنوان کالا</th>
                                    <th>گروه کالا</th>
                                    <th>قیمت</th>
                                    <th>نام فروشنده</th>
                                    <th>وضعیت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 5%">
                                        <div class="ph-admin-table-cell">
                                            1
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td style="width: 12%">
                                        <div class="ph-admin-table-cell">
                                            ir-123456
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td style="width: 30%">
                                        <div class="ph-admin-table-cell">
                                            سنگ آهک هماتیت - عیار 11 %
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            سنگ آهک هماتیت
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            ۶.۵۰۰.۰۰۰
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            مصطفی چراغی
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            <div class="ph-admin-table-action-btns">
                                                <span class="ph-admin-table-product-status">تایید شده</span>
                                                <i class="far fa-bell" style="font-size: 1.2rem;margin-right: 0.5rem;"></i>
                                            </div><!-- .ph-admin-table-action-btns -->
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                    <td>
                                        <div class="ph-admin-table-cell">
                                            <div class="ph-admin-table-action-btns">
                                                <a href="" class="ph-admin-table-action-btn-view"><i class="fas fa-eye"></i></a>
                                                <a href="" class="ph-admin-table-action-btn-edit"><i class="fas fa-pen"></i></a>
                                                <a href="#" class="ph-admin-table-action-btn-inactive"><i
                                                        class="fas fa-times"></i></a>
                                            </div><!-- .ph-admin-table-action-btns -->
                                        </div><!-- .ph-admin-table-cell -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- .ph-admin-page-list-table -->
                    <div class="ph-admin-page-list-header">
                        <div class="row">
                            <div class="col-6 col-md-5">
                                <div class="ph-admin-page-list-sort">
                                    <p>تعداد نتایج : <span>{{ page_obj.paginator.count }} مورد</span></p>
                                    <div class="form-group row no-gutters">
                                        <label for="ph_admin_page_page_no"
                                               class="col-sm-6 col-form-label col-form-label-sm">تعداد نمایش</label>
                                        <div class="col-sm-6">
                                            <select id="ph_admin_page_page_no" class="form-control" disabled>
                                                <option selected>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>50</option>
                                            </select>
                                        </div><!-- .col-sm-6 -->
                                    </div><!-- .form-group -->
                                </div><!-- .ph-admin-page-list-sort -->
                            </div><!-- .col-6 -->
                            <div class="col-12 col-md-4">
                                <div class="ph-admin-page-list-pagination ph-pagination justify-content-end">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            <li class="page-item">
                                                <a class="page-link" href="" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="">1</a></li>
                                            <li class="page-item"><a class="page-link" href="">2</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!-- .ph-admin-page-list-pagination -->
                            </div><!-- .col-12 -->
                        </div><!-- .row -->
                    </div><!-- .ph-admin-page-list-header -->
                </div><!-- .ph-admin-page-list-container -->
            </div><!-- .ph-admin-page-container -->
        </div><!-- .container -->
    </main><!-- ph-dashboard-main panel-admin ph-list-product -->

{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/list-product.js' %}"></script>
{% endblock %}