{% extends 'base_admin.html' %}
{% load static %}


{% block admin_content %}
    <main class="ph-dashboard-main ph-admin-panel ph-qc-product-details">
        <div class="container">
            <div class="ph-admin-page-container ">
                <div class="ph-admin-page-intro-text">
                    <span>بررسی کالا | </span>
                    در اینجا میتوانید جزییات کالا را بررسی. تایید و یا رد کنید.
                </div><!-- ph-admin-page-intro-text -->
                <div class="ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4">
                    <div class="ph-panel-title">
                        <span class="title ph-border-radius">
                            مشخصات کالا
                        </span>
                    </div><!-- ph-panel-title -->
                    <div class="ph-product-info">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 ph-product-detail-item">
                                        <span>نام محصول:</span>
                                        <span>آهک کلسینه - عیار 1 %</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>عیار (کمترین)</span>
                                        <span>13</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>عیار (بیشترین)</span>
                                        <span>17</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>نوع دانه بندی (کمترین)</span>
                                        <span>12</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>نوع دانه بندی (بیشترین)</span>
                                        <span>22</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>ظرفیت تامین ماهانه</span>
                                        <span>24</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>نوع تحویل</span>
                                        <span>بار فله‌ای</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>قیمت</span>
                                        <span>23000000</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>شرایط پرداخت وجه</span>
                                        <span>نقدی</span>
                                    </div><!-- .ph-product-detail-item -->
                                    <div class="col-6 ph-product-detail-item">
                                        <span>امکان ارسال نمونه</span>
                                        <span>ندارد</span>
                                    </div><!-- .ph-product-detail-item -->
                                </div><!-- .row -->
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6 ph-product-image-item full">
                                        <span>عکس محصول</span>
                                        <a href="{% static 'images/wv.png' %}" class="image-popup-vertical-fit">
                                            <img src="{% static 'images/wv.png' %}" alt="">
                                        </a>
                                    </div><!-- .ph-product-image-item -->
                                    <div class="col-6 ph-product-image-item full">
                                        <span>عکس مشخصات محصول</span>
                                        <a href="{% static 'images/wv.png' %}" class="image-popup-vertical-fit">
                                            <img src="{% static 'images/wv.png' %}" alt="">
                                        </a>
                                    </div><!-- .ph-product-image-item -->
                                    <div class="col-12 ph-gallery-product">
                                        <span>گالری عکس محصول</span>
                                        <div class="row">
                                            <div class="col-3 ph-product-image-item thumb">
                                                <a href="{% static 'images/wv.png' %}" class="image-popup-vertical-fit">
                                                    <img src="{% static 'images/wv.png' %}" alt="">
                                                </a>
                                            </div><!-- .ph-product-image-item -->
                                            <div class="col-3 ph-product-image-item thumb">
                                                <a href="{% static 'images/wv.png' %}" class="image-popup-vertical-fit">
                                                    <img src="{% static 'images/wv.png' %}" alt="">
                                                </a>
                                            </div><!-- .ph-product-image-item -->
                                            <div class="col-3 ph-product-image-item thumb">
                                                <a href="{% static 'images/wv.png' %}" class="image-popup-vertical-fit">
                                                    <img src="{% static 'images/wv.png' %}" alt="">
                                                </a>
                                            </div><!-- .ph-product-image-item -->
                                            <div class="col-3 ph-product-image-item thumb">
                                                <a href="{% static 'images/wv.png' %}" class="image-popup-vertical-fit">
                                                    <img src="{% static 'images/wv.png' %}" alt="">
                                                </a>
                                            </div><!-- .ph-product-image-item -->
                                        </div><!-- .row -->
                                    </div><!-- .ph-gallery-product -->
                                </div><!-- .row -->
                            </div><!-- .col-6 -->
                            <div class="col-12 ph-product-description mb-3">
                                <span>توضیحات</span>
                                <span></span>
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- ph-product-info -->
                </div>
                <!-- ph-admin-page-list-container bg-light ph-border-radius ph-box-shadow my-4 -->
                <div class="ph-qc-section">
                    <div class="ph-qc-alarm">
                        <p>با توجه به اطلاعات ثبت شده توسط فروشنده در بالا، این محصول را تایید یا رد کنید.</p>
                        <span>*لطفا دلیل رد کردن را در کادر زیر بنویسید، تا برای فروشنده ارسال شود.</span>
                    </div>
                    <!-- ph-qc-alarm -->
                    <div class="ph-qc-description">
                        <textarea class="form-control" id="" rows="5" placeholder="دلایل رد شدن این محصول..."></textarea>
                    </div>
                    <!-- ph-qc-description -->
                    <div class="ph-qc-info-btns">
                        <a href="#" class="ph-btn ph-access-btn">
                            <i class="fas fa-check"></i>
                            <span>تایید محصول</span>
                        </a>
                        <a href="#" class="ph-btn ph-denied-btn">
                            <i class="fas fa-times"></i>
                            <span>رد محصول</span>
                        </a>
                    </div>
                    <!-- ph-qc-info-btns -->
                </div>
                <!-- ph-qc-section -->
            </div>
            <!-- ph-admin-page-container -->
        </div>
        <!-- container -->
    </main>
    <!-- ph-dashboard-main admin-panel ph-qc-product-details -->


{% endblock %}

{% block footer_static %}
    <script src="{% static 'js/list-product.js' %}"></script>
    <script src="{% static 'magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $(document).ready(function () {

            $('.image-popup-vertical-fit').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }

            });

            $('.image-popup-fit-width').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                image: {
                    verticalFit: false
                }
            });

            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });

        });

    </script>
{% endblock %}